---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Stats from '~/components/widgets/Stats.astro';
import FeaturedArticles from '~/components/widgets/FeaturedArticles.astro';
import FAQs from '~/components/widgets/FAQs.astro';

const metadata = {
  title: 'Energy Efficient Home Upgrades',
};
---

<Layout metadata={metadata}>
    <Fragment slot="head">
    <script src="https://embed.rewiringamerica.org/calculator.js"></script>
    <link rel="stylesheet" type="text/css" href="https://embed.rewiringamerica.org/rewiring-fonts.css"/>
    </Fragment>

  <!-- Hero Widget ******************* -->
  <Hero actions={[]}>
    <Fragment slot="title">
      <div style="font-size: 1em; font-weight: bold; margin-bottom: 8px;">The <span style="color:#228B22; font-weight: 700;">Energy</span> Efficient Home Improvement Credit</div>
    </Fragment>
    <Fragment slot="subtitle">
      In a world where every penny counts and sustainability is key, the Energy Efficient Home Improvement Credit (25C) offers a pathway to smarter, greener living.
    </Fragment>
  </Hero>

 
 <!-- Features2 Widget ************** -->
<Features2
title="What is included in the Energy Efficient Home Improvement Credit?"
subtitle="Discover the range of improvements eligible for tax credits under Section 25C."
items={[
  {
    title: 'Heat Pumps',
    description: 'Switch to heat pumps for a dual heating and cooling solution that can significantly lower your energy consumption.',
    limit: 'Up to $2,000',
  },
  {
    title: 'Heat Pump Water Heaters',
    description: 'Invest in heat pump water heaters to achieve hot water efficiency and reduce your monthly utility expenses.',
    limit: 'Up to $2,000',
  },
  {
    title: 'Biomass Boilers',
    description: 'Opt for biomass boilers that utilize renewable fuels, reducing both your carbon footprint and energy costs.',
    limit: 'Up to $2,000',
  },
  {
    title: 'Weatherization Items',
    description: 'Enhance your home’s insulation and seal leaks to optimize indoor temperature and reduce energy waste.',
    limit: 'Up to $1,200',
  },
  {
    title: 'Electrical Panel Upgrade',
    description: 'Modernize your electrical panel to accommodate energy-efficient appliances and improve electrical safety.',
    limit: 'Up to $600',
  },
  {
    title: 'Tankless Water Heaters',
    description: 'Adopt tankless water heaters for on-demand hot water, minimizing energy usage and maximizing convenience.',
    limit: 'Up to $600',
  },
  {
    title: 'Windows and Skylights',
    description: 'Install energy-efficient windows and skylights to enhance natural lighting and thermal insulation.',
    limit: 'Up to $600',
  },
  {
    title: 'Exterior Doors',
    description: 'Upgrade to energy-efficient exterior doors to bolster thermal insulation and enhance security.',
    limit: 'Up to $500',
  },
  {
    title: 'Home Energy Audit',
    description: 'Conduct a home energy audit to identify areas for improvement and create a roadmap for energy-efficient upgrades.',
    limit: 'Up to $150',
  }, 
]}
>
<Fragment slot="bg">
  <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
</Fragment>
</Features2>


  <!-- Featured Articles Widget ******************* -->
  
  <FeaturedArticles 
  title="Featured Articles" 
  articleSlugs={[
    'what-is-the-energy-efficient-home-improvement-credit',
    'crafting-an-energy-efficient-strategy',
    'biomass-boilers-explained',
    'iot-is-fueling-smart-energy-devices',
    'whats-a-heat-pump-and-why-do-i-need-to-know',
    'heat-pump-water-heaters-are-the-model-of-efficiency',
    'a-comprehensive-guide-to-weatherization-and-energy-efficiency',
    'whats-a-ductless-mini-split-heat-pump',

  ]}  
/>


 <!-- Stats Widget ************** -->

 <Stats
 title="Energy Efficient Home Improvement Credit"
 stats={[
   { title: 'Tax Code', amount: '25C' },
   { title: 'Tax Credit', amount: '30%' },
   { title: 'Annual Limit', amount: '$3200' },
 ]}
/>

  <!-- FAQs Widget ******************* -->

  <FAQs
  title="Frequently Asked Questions about Energy Efficient Home Improvement Credit"
  items={[
    {
      title: 'What Is the Energy Efficient Home Improvement Credit (25C)?',
      description: 'The Energy Efficient Home Improvement Credit is a tax credit that provides financial incentives for homeowners to make energy-efficient upgrades to their residential properties. The credit covers a range of improvements, from insulation to energy-efficient windows and doors.',
    },
    {
      title: 'What Qualifies for the Energy Efficient Home Improvement Credit?',
      description: 'Eligible improvements include insulation systems, exterior windows, skylights, doors, and certain energy-efficient appliances like heat pumps and water heaters. The credit has been expanded to cover certain biomass stoves and boilers, electric panels, and home energy audits.',
    },
    {
      title: 'What Is the Annual Limit of the Energy Efficient Home Improvement Credit (25C)?',
      description: 'The annual limit for the 25C credit has been updated. Starting from January 1, 2023, you may qualify for a tax credit up to $3,200. This is a significant change from the previous lifetime limit of $500.',
    },
    {
      title: 'What Is the Difference Between 25C and HEEHRA?',
      description: 'The 25C credit, also known as the Energy Efficient Home Improvement Credit, focuses on a variety of home improvements like insulation and windows. HEEHRA (High Efficiency Electric Home Rebate Act) is a voluntary program that provides point-of-sale rebates for electrification projects, covering up to 100% of the costs for low-income households and 50% for moderate-income households.',
    },
    {
      title: 'How Do I Know My Eligibility for The Energy Efficient Home Improvement Credit?',
      description: 'To be eligible for the Energy Efficient Home Improvement Credit, you must make qualified energy-efficient improvements to your home after January 1, 2023. These improvements can include insulation systems, exterior windows, and certain energy-efficient appliances. The credit is available through 2032. For a more personalized assessment, you can use our [IRA Eligibility Calculator](#placeholder).',
    },
    {
      title: 'Is there a rollover with th Energy Efficient Home Improvement Credit?',
      description: 'Under 25c a taxpayer may not carry the credit forward. Thus, if a taxpayer does not have sufficient tax liability to claim all or a portion of the credit in the year in which therelated property for which the qualifying expenditure is placed in service, the unused amount of the credit may never be claimed.',
    }
  ]}
>
  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>

