---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Features from '~/components/widgets/Features.astro';
import FeaturedArticles from '~/components/widgets/FeaturedArticles.astro';


const metadata = {
  title: 'Energy Efficient Rebates page',
};
---

<Layout metadata={metadata}>
  <Hero actions={[]}>
    <Fragment slot="title">
      <div style="font-size: 1em; font-weight: bold; margin-bottom: 8px;"><span style="color:#228B22; font-weight: 700;">Energy</span> Efficient Rebates</div>
    </Fragment>
  
    <Fragment slot="subtitle">
      Our page is dedicated to helping you understand and take advantage of both state-level rebates and the federal Electrification Rebate Act (HEEHRA). Unlike tax credits, these rebates are direct financial incentives that come from state-level programs—even when backed by federal acts like HEEHRA.
    </Fragment>
  </Hero>
  
  
  

  <!-- <Fragment slot="image">
    <div class="relative h-0 pb-[56.25%]">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/dsTXcSeAZq8"
        title="YouTube video player"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;"
        allowfullscreen
        class="absolute top-0 left-0 w-full h-full"
      >
      </iframe>
    </div>
  </Fragment> -->


 <!-- Features2 Widget ************** -->
 <Features2
 title="The most common state-level rebates?"
 subtitle="Discover the most popular energy-efficient products that can significantly reduce your energy bills."
 items={[
   {
     title: 'Smart Thermostats',
     description:
       'Smart Thermostats not only provide you with extensive control over your home heating and cooling but also offer significant energy savings. On average, they can save up to $180 per year.',
     icon: 'tabler:bulb',
   },
   {
     title: 'EV Chargers',
     description:
       'Electric Vehicle (EV) chargers at home can save you time and reduce your carbon footprint, making it a win-win for convenience and the environment.',
     icon: 'tabler:bulb',
   },
   {
     title: 'Home Energy Monitoring Systems',
     description:
       'Home Energy Monitoring Systems provide real-time data on your energy consumption, helping you make informed decisions that can lead up to 30% reduction in energy bills.',
     icon: 'flat-color-icons:voice-presentation',
   },
   {
     title: 'LED lighting',
     description:
       'Switching to LED lighting is one of the simplest steps to improve energy efficiency. LEDs consume 90% less energy than incandescent bulbs, offering substantial savings.',
     icon: 'tabler:bulb',
   },
   {
     title: 'Ductless Mini Splits',
     description:
       'Ductless Mini Splits provide efficient heating and cooling without the need for extensive ductwork, saving an average of 30% on heating and cooling costs.',
     icon: 'flat-color-icons:voice-presentation',
   },
   {
     title: 'Energy Star Certified Appliances',
     description:
       'Energy Star Certified Appliances are designed to save energy without sacrificing performance. On average, these appliances can save you up to $200 per year.',
     icon: 'flat-color-icons:voice-presentation',
   },
 ]}
>
 <Fragment slot="bg">
   <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
 </Fragment>
</Features2>

  <!-- Featured Articles Widget ******************* -->
  <FeaturedArticles 
  title="Featured Articles" 
  articleSlugs={[
    'state-level-energy-efficient-incentives-overview',
    'ev-charger-shopping-guide-a-heavily-incentivized-home-improvement',
    'smart-thermostat-shopping-guide-what-you-need-to-know',
    'home-energy-monitoring-your-guide-to-energy-efficiency',
  ]}
  />
<!-- Features Widget *************** -->

<Features
  title="What is Included in the Electrification Rebate Act?"
  subtitle="HEEHRA focuses on heating and cooling, safe appliances, and weatherization."
  items={[
    {
      title: 'Heat Pumps',
      description:
        'Heat Pumps are a versatile solution for both heating and cooling, offering up to 50% energy savings compared to traditional systems.',
      icon: 'tabler:air-conditioning',
    },
    {
      title: 'Heat Pump Water Heaters',
      description:
        'Heat Pump Water Heaters are highly efficient, reducing energy consumption by up to 60% compared to conventional water heaters.',
      icon: 'tabler:brand-tailwind',
    },
    {
      title: 'Heat Pump Clothes Dryers',
      description:
        'Heat Pump Clothes Dryers use 50% less energy than traditional dryers. They also suck the hot energy out of the air to do so, making them a comfortably cost-effective choice.',
      icon: 'tabler:wash-dry-2',
    },
    {
      title: 'Electric Stove',
      description:
        'Electric Stoves are safer, more energy-efficient, and can cut cooking energy by up to 40%. They can also make your kitchen a lot cooler.',
      icon: 'tabler:plug-connected',
    },
    {
      title: 'Weatherization Items',
      description:
        'Weatherization includes insulation and sealant, which can lead to an average of 20% savings on heating and cooling costs.',
      icon: 'tabler:arrows-right-left',
    },
    {
      title: 'Electrical Work',
      description:
        'Includes electrical wiring or a new breaker box if needed, ensuring a safer and more efficient energy setup.',
      icon: 'tabler:bulb-filled',
    },
  ]}
/>

<FeaturedArticles 
  title="Featured Articles" 
  articleSlugs={[
    'what-is-the-high-efficiency-electric-home-rebate-act',
    'whats-a-ductless-mini-split-heat-pump',
    'heat-pump-water-heaters-are-the-model-of-efficiency',
    'a-comprehensive-guide-to-weatherization-and-energy-efficiency',
  ]}
  />
