---
import Layout from '~/layouts/PageLayout.astro';
import Pricing from '~/components/widgets/Pricing.astro';
import FeaturedArticles from '~/components/widgets/FeaturedArticles.astro';
import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';

const metadata = {
  title: 'Water Heaters',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
  title="Water Heaters"
  subtitle="Nearly 20% of your household energy bill is spent on water heating alone. Thanks to the Inflation Reduction Act, knowing your options can lead to significant savings and a more sustainable lifestyle."
    />

    <!-- Content Widget **************** -->
<Content
isReversed
isAfterContent
items={[
  {
    title: 'The Solution',
    description:
      'Modern water heaters come with advanced technologies like on-demand heating, solar energy capture, and heat pump systems. These options are not only more efficient but also environmentally friendly. Upgrading to any of these solutions would be a significant improvement over traditional water heating methods',
  },
  {
    title: 'The Financial Assistance',
    description:
      'Water heater upgrades are supported by various acts like the Inflation Reduction Act, 25D, 25C, and HEEHRA. Additionally, many states offer rebates that can be stacked with federal',
  },
  {
    title: 'The Result',
    description:
      'Depending on the option you choose, you can expect significant savings on your energy bills, reduced carbon emissions, and a more sustainable lifestyle. Each option comes with its own set of benefits, allowing you to choose the one that best suits your needs',
  },
  ]}
image={{
  src: 'https://github.com/Anthonypaige/investnurenergy/blob/main/public/images/page-art/WTR-page-art.jpg?raw=true',
  alt: 'Thermal image showing air leaking from a home',
}}
>
<Fragment slot="content">We spend almost 20% of our energy on heating water</Fragment>

<Fragment slot="bg">
  <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
</Fragment>
</Content>



 <Pricing
 title="Average Savings on Water Heaters Covered in the Inflation Reduction Act"
 subtitle="Discover the unique value propositions of each water heater to find the one that best suits your situation"
 prices={[
   {
     title: 'Heat Pump Water Heaters',
     price: '50%',
     period: 'More Energy-Efficient',
     items: [
       {
         description: 'Significantly reduces electricity bills',
       },
       {
         description: 'Eco-Friendly: Uses heat from air or ground',
       },
       {
         description: 'Included in many acts and state level rebates',
       },
       {
         description: 'Smart Features for easier control',
       },
     ],
     callToAction: {
       target: '_blank',
       text: 'Read Article',
       href: '#',
     },
   },
   {
     title: 'Tankless Water Heaters',
     price: '$108',
     period: 'per Year',
     items: [
       {
         description: 'Space-Saving Design',
       },
       {
         description: 'Instant Hot Water',
       },
       {
         description: 'Energy Efficiency',
       },
       {
         description: 'Longevity: Lasts 5 years longer than traditional tanks',
       },
     ],
     callToAction: {
       target: '_blank',
       text: 'Read Article',
       href: '#',
    },
   },
   {
     title: 'Solar Water Heaters',
     price: '50-80%',
     period: 'savings on water heating',
     items: [
       {
         description: 'Utilizes Renewable Energy',
       },
       {
         description: 'High Efficiency',
       },
       {
         description: 'Grid Independent',
       },
       {
         description: 'Longevity: Lasts 5 years longer than traditional tank',
       },
     ],
     callToAction: {
       target: '_blank',
       text: 'Read Article',
       href: '#',
     },
   },
 ]}
/>

<!-- Water Heaters (WTR) Featured Articles Widget -->
<FeaturedArticles 
  title="Featured Articles" 
  articleSlugs={[
    'water-heaters-federal-incentives-overview',
    'heat-pump-water-heaters-are-the-model-of-efficiency',
    'solar-water-heaters-are-a-sustainable-solution-for-your-home',
    'tankless-water-heaters-are-compact-efficiency',
  ]}
  />



</Layout>
