---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import Content from '~/components/widgets/Content.astro';
import Stats from '~/components/widgets/Stats.astro';
import FeaturedArticles from '~/components/widgets/FeaturedArticles.astro';

const metadata = {
  title: 'Weatherize',
};
---

<Layout metadata={metadata}>
  <!-- HeroText Widget ******************* -->
  <HeroText
    title=" Weatherization"
    subtitle="Weatherization is more than just insulation; it's a comprehensive approach to making your home energy-efficient. The Inflation Reduction Act offers new avenues for cost-effective upgrades."
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    items={[
      {
        title: 'Energy Savings',
        description:
          'By sealing gaps and insulating properly, you can significantly reduce energy consumption, lowering utility bills. The average household can save up to $350 per year through proper weatherization..',
      },
      {
        title: 'Comfort and Passive Survivability',
        description:
          'Well-insulated buildings retain a safe indoor temperature for longer in the event of energy disruptions.',
      },
      {
        title: 'Health',
        description:
          'Improved indoor air quality by reducing outdoor pollutants benefits those with allergies or respiratory issues.',
      },
      ]}
    image={{
      src: 'https://github.com/Anthonypaige/investnurenergy/blob/main/public/images/page-art/WTHR-page-art.jpeg?raw=true',
      alt: 'Thermal image showing air leaking from a home',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Included in 25C and HEEHRA</h3>
       Weatherization is a vital aspect of home maintenance that offers numerous benefits
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>
 
  <!-- Content Widget **************** -->

 <!--Featured Articles Widget -->

 <FeaturedArticles  
 title="Featured Articles on Weatherization" 
 articleSlugs={['weatherization-energy-efficiency-guide', 'diy-insulation-kits', 'foam-spray-insulation-shopping-guide', 'whats-a-heat-pump']} 
/>
<Stats
  title="Weatherization"
  stats={[
    { title: 'Tax Code', amount: '25C' },
    { title: 'Tax Credit', amount: '30%' },
    { title: 'Cap', amount: '$1,200' },
    { title: 'Energy Savings', amount: '20%' },
  ]}
/>



</Layout>
