---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Features2 from '~/components/widgets/Features2.astro';
import FeaturedArticles from '~/components/widgets/FeaturedArticles.astro';
import EnergyEfficientRebateNote from '~/components/widgets/EnergyEfficientRebateNote.astro';
import HeehraNote from '~/components/widgets/HeehraNote.astro';


const metadata = {
  title: 'Energy Efficient Rebates',
};
---


  <Layout metadata={metadata}>
    <Hero actions={[]} videoSrc="/images/energy-efficient-rebates-video.mp4">
      <Fragment slot="title">
        <div class="text-left text-3xl sm:text-3xl md:text-5xl lg:text-5xl font-bold leading-tight tracking-tighter mb-4 font-heading">
            <div><span class="text-green-600"> Energy </span> Efficient Rebates </div>
            </div>
      </Fragment>
    </Hero>
  
  

  <EnergyEfficientRebateNote/>


 <!-- Features2 Widget ************** -->
 
 <Features2
 title="Some common state-level rebates"
 subtitle="Discover the most popular energy-efficient products that can significantly reduce your energy bills."
 items={[
 {
  title: 'Smart Thermostats',
  description: 'Smart Thermostats offer extensive control over your home heating and cooling, contributing to significant total energy bill savings.',
  limit: 'Total Bill: 15% Savings',
  icon: 'tabler:temperature-minus',
},
{
  title: 'Home Level 2 EV Chargers',
  description: 'Home EV chargers offer convenience and reduce reliance on public charging, enhancing your electric vehicle experience.',
  limit: 'Varies by State',
  icon: 'tabler:battery-3',
},

{
  title: 'Home Energy Monitoring Systems',
  description: 'HEMS provide real-time data on your energy consumption, helping you make informed decisions that reduce your total energy bills.',
  limit: 'Total Bill: 20% Savings',
  icon: 'tabler:home-bolt',
},
{
  title: 'LED Lighting',
  description: 'LEDs consume 90% less energy than incandescent bulbs, reducing your lighting costs substantially.',
  limit: 'Lighting: 85% Savings',
  icon: 'tabler:bulb',
},
{
  title: 'Ductless Mini Split Heat Pumps',
  description: 'Ductless Mini Splits offer efficient heating and cooling without the need for ductwork, saving you on heating and cooling costs.',
  limit: 'Total Bill: 30% Savings',
  icon: 'tabler:air-conditioning',
},
{
  title: 'Energy Star Certified Appliances',
  description: 'Energy Star Certified Appliances are designed to save energy without sacrificing performance, reducing your total energy costs.',
  limit: '$200/yr Savings',
  icon: 'tabler:home-star',
},

 ]}
>
</Features2>

<Steps2
title="Discover State-Level Energy Rebates"
subtitle="Your Gateway to Savings with Renewables & Efficiency Incentives"

callToAction={{
  text: 'Find Your State Rebates',
  href: 'https://www.dsireusa.org/',
}}
items={[
  {
   
  title: 'Input Your Zip Code',
  description: 'Input your zip code to tailor the rebate search to your location.',
  icon: 'tabler:zip',
  },
  {
    title: 'Select a Rebate Program',
    description: 'Filter results to find rebate programs that match your needs.',
    icon: 'tabler:receipt-refund',
  },
  {
    title: 'Check Eligibility Criteria',
  description:
    'Review buying restrictions to ensure your purchase qualifies for the rebate.',
  icon: 'tabler:checklist',
  },
]}
/>



  <!-- Featured Articles Widget ******************* -->
  <FeaturedArticles 
  title="Featured Articles" 
  articleSlugs={[
    'state-level-energy-efficient-incentives-overview',
    'ev-charger-shopping-guide-a-heavily-incentivized-home-improvement',
    'smart-thermostat-shopping-guide-what-you-need-to-know',
    'home-energy-monitoring-your-guide-to-energy-efficiency',
  ]}
  />
  
  <HeehraNote/>
  
<!-- Features Widget *************** -->

<Features2
  title="Included in the Electrification Rebate Act?"
  subtitle="HEEHRA focuses on heating and cooling, safe appliances, and weatherization."
  items={[
    {
      title: 'Heat Pumps',
      description:
        'Heat Pumps are a versatile solution for both heating and cooling, offering up to 50% energy savings compared to traditional systems.',
      icon: 'tabler:air-conditioning',
    },
    {
      title: 'Heat Pump Water Heaters',
      description:
        'Heat Pump Water Heaters are highly efficient, reducing energy consumption by up to 60% compared to conventional water heaters.',
      icon: 'tabler:droplet',
    },
    {
      title: 'Heat Pump Clothes Dryers',
      description:
        'Heat Pump Clothes Dryers use 50% less energy than traditional models, extracting hot air to be cost-effective.',
      icon: 'tabler:wash-dry-2',
    },
    {
      title: 'Electric Stove',
      description:
        'Electric Stoves are safer, more energy-efficient, and can cut cooking energy by up to 40%. They can also make your kitchen a lot cooler.',
      icon: 'tabler:plug-connected',
    },
    {
      title: 'Weatherization Items',
      description:
        'Weatherization includes insulation and sealant, which can lead to an average of 20% savings on heating and cooling costs.',
      icon: 'tabler:home-heart',
    },
    {
      title: 'Electrical Work',
      description:
        'Includes electrical wiring or a new breaker box if needed, ensuring a safer and more efficient energy setup.',
      icon: 'tabler:bulb-filled',
    },
  ]}
/>
 


<FeaturedArticles 
  title="Featured Articles" 
  articleSlugs={[
    'what-is-the-high-efficiency-electric-home-rebate-act',
    'whats-a-ductless-mini-split-heat-pump',
    'heat-pump-water-heaters-are-the-model-of-efficiency',
    'a-comprehensive-guide-to-weatherization-and-energy-efficiency',
  ]}
  />

  
  
  
  
  