---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Features2 from '~/components/widgets/Features2.astro';
import FeaturedArticles from '~/components/widgets/FeaturedArticles.astro';
import EnergyEfficientRebateNote from '~/components/notes/EnergyEfficientRebateNote.astro';
import HeehraNote from '~/components/widgets/HeehraNote.astro';
import FeaturesLink from '~/components/widgets/FeaturesLink.astro';


const metadata = {
  title: 'Energy Efficient Rebates',
  description: 'Explore the latest in state-level energy efficient rebates and High-Efficiency Electric Home Rebate Act (HEEHRA) specifics. Find out how to leverage incentives for various sustainable home improvements to enhance your home’s energy efficiency.',
  keywords: 'state-level energy efficient rebates, High-Efficiency Electric Home Rebate Act, HEEHRA, sustainable home improvements, EV chargers, energy incentives',
  canonical: 'https://investinyourenergy.com/state-level-rebates/energy-efficient-rebates',
  imageUrl: 'https://github.com/Anthonypaige/investnurenergy/blob/main/public/images/page-sharing-logos/eer-page-sharing-logo.png?raw=true',
};

---


  <Layout metadata={metadata}>

<!-- Hotjar Tracking Code for https://investinyourenergy.com -->
<script>
  (function(h,o,t,j,a,r){
      h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
      h._hjSettings={hjid:3634063,hjsv:6};
      a=o.getElementsByTagName('head')[0];
      r=o.createElement('script');r.async=1;
      r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
      a.appendChild(r);
  })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>

    
    <Hero actions={[]} videoSrc="/images/energy-efficient-rebates-video.mp4">
      <Fragment slot="title">
        <div class="text-left text-3xl sm:text-3xl md:text-5xl lg:text-5xl font-bold leading-tight tracking-tighter mb-4 font-heading">
            <div><span class="text-green-600"> Energy </span> Efficient Rebates </div>
            </div>
      </Fragment>
    </Hero>
  
  

  <EnergyEfficientRebateNote/>


 <!-- Features Link Widget ************** -->
 
 <FeaturesLink
 title="Some common state-level rebates"
 subtitle="Discover the most popular energy-efficient products that can significantly reduce your energy bills."
 items={[
 {
  title: 'Smart Thermostats',
  description: 'Smart Thermostats offer extensive control over your home heating and cooling, contributing to significant total energy bill savings.',
  limit: 'Total Bill: 15% Savings',
  link: '/shopping/top-smart-thermostats',
  icon: 'tabler:temperature-minus',
},
{
  title: 'Home Level 2 EV Chargers',
  description: 'Home EV chargers offer convenience and reduce reliance on public charging, enhancing your electric vehicle experience.',
  limit: 'Varies by State',
  link: '/shopping/smart-ev-chargers',
  icon: 'tabler:battery-3',
},

{
  title: 'Home Energy Monitoring Systems',
  description: 'HEMS provide real-time data on your energy consumption, helping you make informed decisions that reduce your total energy bills.',
  limit: 'Total Bill: 20% Savings',
  link: '/guide-to-home-energy-monitoring',
  icon: 'tabler:home-bolt',
},
{
  title: 'LED Lighting',
  description: 'LEDs consume 90% less energy than incandescent bulbs, reducing your lighting costs substantially.',
  limit: 'Lighting: 85% Savings',
  link: '/iot-is-fueling-smart-energy-devices',
  icon: 'tabler:bulb',
},
{
  title: 'Ductless Mini Split Heat Pumps',
  description: 'Ductless Mini Splits offer efficient heating and cooling without the need for ductwork, saving you on heating and cooling costs.',
  limit: 'Total Bill: 30% Savings',
  link: '/whats-a-ductless-mini-split-heat-pump',
  icon: 'tabler:air-conditioning',
},
{
  title: 'Water Heaters',
  description: 'Energy Efficient water heaters such as Heat Pump water heaters or tankless water heaters, can cut down you energy cost siginifantly',
  limit: 'Total Bill: 15%-25% Savings',
  link: '/energy-efficient/energy-efficient-water-heaters',
  icon: 'tabler:droplet',
},
 ]}
>
</FeaturesLink>

<Steps2
title="Discover State-Level Energy Rebates"
subtitle="Your Gateway to Savings with Renewables & Efficiency Incentives"

callToAction={{
  text: 'Find Your State Rebates',
  href: 'https://www.dsireusa.org/',
}}
items={[
  {
   
  title: 'Input Your Zip Code',
  description: 'Input your zip code to tailor the rebate search to your location.',
  icon: 'tabler:zip',
  },
  {
    title: 'Select a Rebate Program',
    description: 'Filter results to find rebate programs that match your needs.',
    icon: 'tabler:receipt-refund',
  },
  {
    title: 'Check Eligibility Criteria',
  description:
    'Review buying restrictions to ensure your purchase qualifies for the rebate.',
  icon: 'tabler:checklist',
  },
]}
/>

  <!-- Featured Articles Widget ******************* -->
  <FeaturedArticles 
  title="Featured Articles" 
  articleSlugs={[
    'state-level-energy-efficient-rebates',
    'ev-charger-shopping-guide',
    'smart-thermostat-shopping-guide',
    'guide-to-home-energy-monitoring',
  ]}
  />
  
  <HeehraNote/>
  
<!-- Features Widget *************** -->

<Features2
  title="Included in the Electrification Rebate Act"
  subtitle="HEEHRA focuses on heating and cooling, safe appliances, and weatherization."
  items={[
    {
      title: 'Heat Pumps',
      description:
        'Heat Pumps are a versatile solution for both heating and cooling, offering up to 50% energy savings compared to traditional systems.',
      icon: 'tabler:air-conditioning',
    },
    {
      title: 'Heat Pump Water Heaters',
      description:
        'Heat Pump Water Heaters are highly efficient, reducing energy consumption by up to 60% compared to conventional water heaters.',
      icon: 'tabler:droplet',
    },
    {
      title: 'Heat Pump Clothes Dryers',
      description:
        'Heat Pump Clothes Dryers use 50% less energy than traditional models, extracting hot air to be cost-effective.',
      icon: 'tabler:wash-dry-2',
    },
    {
      title: 'Electric Stove',
      description:
        'Electric Stoves are safer, more energy-efficient, and can cut cooking energy by up to 40%. They can also make your kitchen a lot cooler.',
      icon: 'tabler:plug-connected',
    },
    {
      title: 'Weatherization Items',
      description:
        'Weatherization includes insulation and sealant, which can lead to an average of 20% savings on heating and cooling costs.',
      icon: 'tabler:home-heart',
    },
    {
      title: 'Electrical Work',
      description:
        'Includes electrical wiring or a new breaker box if needed, ensuring a safer and more efficient energy setup.',
      icon: 'tabler:bulb-filled',
    },
  ]}
/>
 
<FeaturedArticles 
  title="Featured Articles" 
  articleSlugs={[
    'what-we-know-about-heehra',
    'whats-a-ductless-mini-split-heat-pump',
    'whats-a-heat-pump-water-heater',
    'comprehensive-guide-to-weatherization',
  ]}
  />

</Layout>
  
  
  
  