---
import Layout from '~/layouts/PageLayout.astro';
import SmartEnergyDeviceNote from '~/components/widgets/SmartEnergyDeviceNote.astro';
import Hero from '~/components/widgets/Hero.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import FeaturedArticles from '~/components/widgets/FeaturedArticles.astro';


const metadata = {
  title: 'Smart Energy Devices',
  description: 'Discover the world of smart energy devices and how they revolutionize home energy management. Learn about smart thermostats, home energy monitors, and IoT-enabled devices that optimize energy usage, reduce costs, and contribute to a sustainable lifestyle.',
  keywords: 'smart energy devices, home energy management, smart thermostats, home energy monitors, smart home, ',
  imageUrl: 'https://github.com/Anthonypaige/investnurenergy/blob/main/public/images/page-sharing-logos/sed-page-sharing-logo.png?raw=true',
};

---


<Layout metadata={metadata}>
  <Hero actions={[]} videoSrc="/images/smart-home-video.mp4">
    <Fragment slot="title">
      <div class="text-left text-3xl sm:text-3xl md:text-4xl lg:text-5xl font-bold leading-tight tracking-tighter mb-4 font-heading">
        <div class="inline-block text-right">
          <div>Smart <span class="text-green-600">Energy</span> Devices</div>
        </div>
      </div>
    </Fragment>
  </Hero>
  

  <SmartEnergyDeviceNote />



  <Features3
  id="features"
  title="Elevate Your Home with Smart Energy Control"
  subtitle="Embrace the convenience of modern living by taking command of your energy usage with intuitive, cutting-edge smart devices designed for efficiency."
  tagline="Smart, Connected, Controlled"
  columns={3}
  items={[
    {
      title: 'Smart Thermostats',
      description: 'Experience personalized comfort and energy savings with smart thermostats that learn your habits and adjust temperatures automatically.',
      icon: 'tabler:temperature-plus',
    },
    {
      title: 'Home Energy Monitoring Systems',
      description: 'Monitor your energy usage with precision and uncover opportunities to save costs and reduce your environmental impact with real-time data.',
      icon: 'tabler:device-analytics',
    },
    {
      title: 'Smart Lighting',
      description: 'Create the perfect ambiance while saving energy with smart lighting that adjust to your lifestyle and set the mood at the touch of a button.',
      icon: 'tabler:bulb',
    },
    {
      title: 'Smart Plugs',
      description: 'Convert any appliance into a smart device with smart plugs, offering you the ability to switch off remotely and track energy usage for each outlet.',
      icon: 'tabler:plug',
    },
    {
      title: 'Smart Circuit Breakers',
      description: 'Optimize your homes energy distribution with smart circuit breakers that allow for sophisticated control and load shifting',
      icon: 'tabler:layout-sidebar-left-collapse',
    },
    {
      title: 'Smart Switches',
      description: 'Smart switches integrate seamlessly with your smart home ecosystem for ultimate control over your electrical fixtures.',
      icon: 'tabler:toggle-left',
    },
  ]}
  image={{
    src: 'https://github.com/Anthonypaige/investnurenergy/blob/main/public/images/page-art/smart-energy-device-page-art.png?raw=true',
    alt: 'Smart Home Energy Devices',
  }}
/>

  <!-- Featured Articles Widget ******************* -->
  <FeaturedArticles 
    title="Featured Articles" 
    articleSlugs={[
      'iot-is-fueling-smart-energy-devices',
      'guide-to-home-energy-monitoring',
      'emporias-home-energy-monitoring-systems',
      'senses-home-energy-monitoring-systems',
      'smart-thermostat-shopping-guide',
      'ecobee-smart-thermostats-buying-guide',
      'your-google-nest-buying-guide',
    ]}
  />

  <Steps2
  title="Discover State-Level Energy Rebates"
  subtitle="Your Gateway to Savings with Renewables & Efficiency Incentives"
  
  callToAction={{
    text: 'Find Your State Rebates',
    href: 'https://www.dsireusa.org/',
  }}
  items={[
    {
     
    title: 'Input Your Zip Code',
    description: 'Input your zip code to tailor the rebate search to your location.',
    icon: 'tabler:zip',
    },
    {
      title: 'Select a Rebate Program',
      description: 'Filter results to find rebate programs that match your needs.',
      icon: 'tabler:receipt-refund',
    },
    {
      title: 'Check Eligibility Criteria',
    description:
      'Review buying restrictions to ensure your purchase qualifies for the rebate.',
    icon: 'tabler:checklist',
    },
  ]}
  />
  
</Layout>
