---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import FeaturedArticles from '~/components/widgets/FeaturedArticles.astro';
import Features3 from '~/components/widgets/Features3.astro';
import FAQs from '~/components/widgets/FAQs.astro';
// EnergyArbitrageCalculator from '~/components/widgets/EnergyArbitrageCalculator.astro';
import HomeEnergyStorageNote from '~/components/widgets/HomeEnergyStorageNote.astro';

const metadata = {
  title: 'Home Energy Storage',
};
---
<Layout metadata={metadata}>
  
  <Hero actions={[]} videoSrc="/images/home-energy-storage-video.mp4">
    <Fragment slot="title">
      <div class="text-left text-3xl sm:text-4xl md:text-5xl lg:text-6xl font-bold leading-tight tracking-tighter mb-4 font-heading">
        <div> Home Energy Storage</div>
      </div>
    </Fragment>
  </Hero>



  <HomeEnergyStorageNote />

  <Features3
  id="features"
  title="Home Batteries: Essential for Energy Resilience and Efficiency"
  subtitle="Explore the resilience and efficiency of modern energy solutions with home battery storage."
  columns={3}
  items={[
    {
      title: 'Backup Battery',
      description: 'A home energy storage system acts as a backup battery, keeping essential appliances running during outages and enhancing your homes energy independence.',
      icon: 'tabler:battery-3',
    },
    {
      title: 'Energy Arbitrage',
      description: 'Store energy when electricity rates are low and use it during peak hours to save money. This strategy, known as energy arbitrage, can significantly reduce your electricity bills.',
      icon: 'tabler:clock-bolt',
    },
    {
      title: 'Wind or Solar Storage',
      description: 'Home energy storage allows you to store excess energy generated from your wind or solar installations. This stored energy can be used when renewable sources are not producing, ensuring a consistent power supply.',
      icon: 'tabler:sun-wind',
    },
  ]}
  image={{
    src: 'https://github.com/Anthonypaige/investnurenergy/blob/main/public/images/page-art/HES-qualify-page-art.png?raw=true',
    alt: 'Qualifications for Battery Storage eligibility',
  }}
/>


<!-- <EnergyArbitrageCalculator /> -->

  <!-- Featured Articles Widget -->
  <FeaturedArticles 
    title="Featured Articles" 
    articleSlugs={[
      'the-growing-importance-of-backup-batteries-in-todays-world',
      'what-is-energy-arbitrage',
      'decoding-portable-power-station-comparison-tables',
      'ecoflow-delta-pro-buying-guide',
      'bluetti-power-stations-buying-guide',
      'solar-batteries-are-automating-energy-management',
      'unlocking-energy-independence-with-sonnen-solar-batteries',
    ]}
  />

  <FAQs
  title="Frequently Asked Questions"
  columns={1}
  items={[
    {
      title: 'What is Home Energy Storage?',
      description: 'Home energy storage uses advanced battery systems to store electricity for future use. These systems can capture energy from various sources, including the grid, solar panels, and wind turbines. They serve as a backup power source during outages and help optimize energy costs.'
    },
    {
      title: 'Are Solar Panels Required to Claim a Home Battery Tax Credit?',
      description: 'As of early 2023, you can claim the Residential Clean Energy Credit for a standalone battery purchase. While pairing a battery with solar panels maximizes savings and grid independence, a home battery alone can also provide benefits like emergency backup power and energy arbitrage opportunities.'
    },
    {
      title: 'What Are Time-of-Use (TOU) Rates?',
      description: 'Time-of-Use rates are fluctuating electricity prices that depend on the time of day. These rates are lower during off-peak hours and higher during peak demand times. A home energy storage system enables you to strategically use stored energy to avoid higher rates.'
    },
    {
      title: 'Can I Integrate a Home Battery with My Existing Solar Panel System?',
      description: 'Integrating a home battery with an existing solar panel system largely depends on your current inverter setup and the type of battery you choose. However, many universal home battery options are designed to be compatible with a variety of solar inverter systems, making integration relatively straightforward.'
    }
  ]}
>
  <!-- <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment> -->
</FAQs>

</Layout>

