---
import Layout from '~/layouts/PageLayout.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Hero from '~/components/widgets/Hero.astro';
import WindTurbineNote from '~/components/widgets/WindTurbineNote.astro';
import WindMapZoom from '~/components/mapzooms/WindMapZoom.astro';
import FeaturedArticles from '~/components/widgets/FeaturedArticles.astro';


const metadata = {
  title: 'Residential Wind Turbines',
  description: 'Discover the benefits of residential wind turbines for sustainable home energy. Learn about installation, efficiency, and financial incentives like tax credits for an eco-friendly power solution.',
  keywords: 'residential wind turbines, home wind power, wind turbine installation, renewable energy incentives, sustainable home energy',
  canonical: 'https://investinyourenergy.com/clean-energy/residential-wind-turbines'
};

---


<Layout metadata={metadata}>
  
  <Hero actions={[]} videoSrc="/images/wind-turbine-video.mp4">
    <div class="video-title-overlay">Wind Turbines</div>
    <Fragment slot="title">
      <div class="text-right text-3xl sm:text-3xl md:text-4xl lg:text-5xl font-bold leading-tight tracking-tighter mb-4 font-heading">
        <div><span class="text-blue-700"> Wind </span> Turbines </div>
      </div>
    </Fragment>
  </Hero>

<style>
.video-title-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2em;
  /* Additional styling as needed */
}
</style>

<!---Wind energy Note Widget -->
<section>
<WindTurbineNote />
</section>

<section class="container mx-auto p-9"></section>

<!---Wind energy Mapzoom Widget -->
<section>
  <WindMapZoom />
</section>


<!---Wind energy page Featured Articles Widget -->
<FeaturedArticles 
  title="Featured Articles" 
  articleSlugs={[
    'residential-wind-turbines-for-home-energy',
    'assessing-your-homes-wind-power',
    'hybrid-wind-and-solar-energy-is-the-future',
    'whats-the-home-clean-energy-credit',
  ]}  
/>

  
  <!-- FAQs Widget ******************* -->
  <FAQs
  title="Frequently Asked Questions about Residential Wind Turbines"
  columns={1}
  items={[
    {
      title: 'Are residential wind turbines worth it?',
      description:
        'Yes, residential wind turbines offer significant long-term savings on electricity bills. They are an affordable and sustainable way to generate power, especially in areas with average to   	high wind speeds. The initial investment can be offset by the potential savings and available tax incentives.',
    },
    {
      title: 'What size wind turbine is needed to power a house?',
      description:
        'The size of the wind turbine needed depends on your household electricity consumption and the average wind speed in your location. Generally, a 5-kilowatt turbine is sufficient for a      	typical American home. However, its crucial to assess your energy needs accurately to choose the right size. The higher the capacity, the more electricity you can generate, but it also means 	a higher initial investment.',
    },
    {
      title: 'Are Wind Turbines Better Than Solar Panels?',
      description:'Both wind turbines and solar panels have unique advantages and can complement each other excellently in a residential setting. Wind turbines can generate electricity day and night, as long 	as there is wind, while solar panels require sunlight. By combining both, you can ensure a more consistent and reliable source of renewable energy for your home. This dual approach maximizes 	your potential for energy independence and minimizes your carbon footprint.',
    },
    {
      title: 'What Is the Most Efficient Wind Turbine for Home Use?',
      description:'When it comes to efficiency, horizontal axis turbines generally outperform their vertical axis counterparts. These turbines can convert up to 59% of wind energy into electricity, which is higher than most other renewable energy sources. Look for models that have been tested and certified for performance to ensure you are getting the most efficient unit.',
    },
  ]}
>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </FAQs>


</Layout>
