---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import FeaturedArticles from '~/components/widgets/FeaturedArticles.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import MapZoom from '~/components/widgets/GeoMapZoom.astro';


const metadata = {
  title: 'Geothermal Energy page',
};
---

<Layout metadata={metadata}>
  
  <!-- Hero Widget ******************* -->

  <Hero
    title="Geothermal Heat Pumps"
    subtitle="Geothermal Heat Pumps are a game-changing solution for eco-friendly home comfort. They efficiently heat and cool your space, significantly reducing energy bills. By tapping into Earth's stable temperatures, these long-lasting systems offer a sustainable, cost-effective energy source for years to come.."
    
  />
  

  <section>
    <MapZoom />
    </section>
    
  <!-- Geothermal energy page Featured Articles Widget -->
  <FeaturedArticles 
  title="Featured Articles for Geothermal Energy" 
  articleSlugs={[
    'geothermal-heat-pumps-tapping-into-the-earths-core',
    'what-is-geothermal-access-and-do-i-have-it',
    'which-geothermal-heat-pump-system-fits-your-property',
    'what-is-the-residential-clean-energy-credit',
  ]}  
/>


<!-- Geothermal energy Stats Widget -->
<Stats
title="Numbers to Know on Geo"
stats={[
  
  { title: 'Tax Code', amount: '25D' },
  { title: 'Tax Credit', amount: '30%' },
  { title: 'Cost Savings', amount: '60%' },
  { title: 'Year Shelflife', amount: '50' },
]}
/>


  <!-- FAQs Widget ******************* -->

  <FAQs
  title="Frequently Asked Questions"
  items={[
    {
      title: 'Are Geothermal Heat Pumps Worth It?',
      description: 'Absolutely. Geothermal heat pumps are an affordable and efficient heating and cooling solution. They can reduce your energy costs by up to 50% and are eligible for a 30% federal tax credit with no cap under the Residential Clean Energy Credit.',
    },
    {
      title: 'What is the Average Cost to Install a Geothermal Heat Pump?',
      description: 'The average cost for installing a Geothermal Heat Pump system ranges between $15,000 and $20,000. This includes the cost of ground loops, heat pump, and controls.',
    },
    {
      title: 'How Do Geothermal Heat Pumps Work?',
      description: 'Geothermal heat pumps work by circulating a heat-conveying fluid through a series of buried pipes or ground loops. These loops can be installed either horizontally or vertically, depending on your property\'s layout. The system is straightforward to operate and requires minimal maintenance.',
    },
    {
      title: 'What Types of Geothermal Heat Pump Systems are Available?',
      description: 'There are three main types of geothermal heat pump systems: horizontal, vertical, and pond/lake systems. Each has its own set of advantages and disadvantages. The choice depends on various factors like lot size, soil conditions, and building plans.',
    },
    {
      title: 'What are the Environmental Benefits of Using Geothermal Heat Pumps?',
      description: 'Using a geothermal system is equivalent to planting 750 trees or taking two cars off the road in terms of reducing greenhouse gas emissions.',
    },
  ]}
>
  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>
</FAQs>


</Layout>
