---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import FeaturedArticles from '~/components/widgets/FeaturedArticles.astro';
import Stats from '~/components/widgets/Stats.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Features2 from '~/components/widgets/Features2.astro';

const metadata = {
  title: 'Home Clean Energy Credit',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->
  <Hero actions={[]}>
    <Fragment slot="title">
      <div style="font-size: 1em; font-weight: bold; margin-bottom: 8px;">The Home Clean <span style="color:#228B22; font-weight: 700;">Energy</span> Credit</div>
    </Fragment>
  
    <Fragment slot="subtitle">
      In this era of rising utility costs and dwindling fossil fuels, it's time we take a closer look at our energy choices. The Residential Clean Energy Credit (25D) has given us that opportunity.
    </Fragment>
  </Hero>
  
<!-- Features2 Widget ************** -->
<Features2
title="What is included in the Home Clean Energy Credit?"
subtitle="The Home Clean Energy Credit was designed for grid independence. It's a combination of elemental forces at play, and modern technology."
items={[
  {
    title: 'Solar Energy',
    description:
      'Solar Energy has the potential to completely up-end what we know about power.',
    icon: 'tabler:solar-panel-2',
  },
  {
    title: 'Home Energy Storage',
    description:
      'Home Energy Storage is the most important aspect of the green transition and grid independence.',
    icon: 'tabler:battery-charging',
  },
  {
    title: 'Geothermal Heat Pumps',
    description:
      'Geothermal heat pumps can last up to 50 years, making them possibly the most profitable choice in your greeen energy transition.',
    icon: 'tabler:world-download',
  },
  {
    title: 'Residential Wind Turbines',
    description:
      'Wind turbines offer another source of energy during non-sunny hours that is vital to a true independent electrical system.',
    icon: 'tabler:wind',
  },
  {
    title: 'Solar Water Heaters',
    description:
      'Solar Water Heaters offer a sustainable, eco friendly, and incredibly efficient alternative to traditional water heaters',
    icon: 'tabler:sun-high',
  },
  {
    title: 'Stand alone Back-up Batteries',
    description:
      'Due to our power grid strain, the purchase of stand alone batteries for the purpose of avoding drawing expensive power during peak time is eligible for the 25D credit.',
    icon: 'tabler:battery-charging',
  },
]}
>
<Fragment slot="bg">
  <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
</Fragment>
</Features2>



<!-- Featured Articles Widget ******************* -->
<FeaturedArticles 
  title="Featured Articles" 
  articleSlugs={[
    'what-is-the-residential-clean-energy-credit',
    'alleviating-power-grid-strain',
    'solar-water-heaters-are-a-sustainable-solution-for-your-home',
    'hybrid-wind-and-solar-systems-are-the-future-of-home-energy',
    'what-is-energy-arbitrage',
    'quote-the-blue-raven-nevermore',
    'devising-your-solar-offset-strategy-a-monopoly-game-approach',
    'which-geothermal-heat-pump-system-fits-your-property',
  ]}  
/>

<!-- Stats Widget ******************* -->
<Stats
title="Home Clean Energy Credit"
 stats={[
   { title: 'Tax Code', amount: '25D' },
   { title: 'Tax Credit', amount: '30%' },
   { title: 'Annual Limit', amount: 'No Cap'},
 ]}
/>


  <!-- FAQs Widget ******************* -->
  <FAQs
  title="Frequently Asked Questions"
  items={[
    {
      title: 'What is the Residential Clean Energy Credit for 2023?',
      description:
        'The Residential Clean Energy Credit for 2023 is a federal tax incentive that allows homeowners to claim up to 30% of the cost of installing eligible clean energy systems. This makes renewable energy more accessible and cost-effective.',
    },
    {
      title: 'What Qualifies for the Residential Clean Energy Credit?',
      description:
        'Qualifying technologies include Solar Electric Property, Solar Water Heating Property, Battery Storage Property, Small Wind Energy Property, and Geothermal Heat Pump Property.',
    },
    {
      title: 'What is the Tax Liability Impact of the Residential Clean Energy Credit?',
      description:
        'The credit is non-refundable but can reduce your federal tax liability to zero, when it comes time to settle up with the government causing you to receive a refund. It can significantly lower your tax bill.',
    },
    {
      title: 'What is the Rollover Feature for the Residential Clean Energy Credit?',
      description:
      'Under the Residential Clean Energy Property Credit a taxpayer may carry forward the unused amount of the credit to reduce tax liability in future tax years. Make sure to claim your energy efficient credits first, since they are not eligible for rollover.'

    },
    {
      title: 'Is there a cap on the tax credit for the Residential Clean Energy Credit?',
      description:
      'Under the Residential Clean Energy Property Credit there is no limit to your tax credit, as long as you have the tax liability to offset.'

    },
    {
      title: 'Can I Use the Credit for Multiple Properties?',
      description:
        'The credit can be applied to your primary and secondary homes, but rental properties are generally not eligible.',
    },
  ]}
>
  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>
</FAQs>

</Layout>