---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import FeaturedArticles from '~/components/widgets/FeaturedArticles.astro';
import Content from '~/components/widgets/Content.astro';

const metadata = {
  title: 'Home Energy Storage page',
};
---

<Layout metadata={metadata}>
  <Hero actions={[]}>
    <Fragment slot="title">
      <div style="font-size: 1em; font-weight: bold; margin-bottom: 8px;">Home <span style="color:#228B22; font-weight: 700;">Energy</span> Storage</div>
    </Fragment>
  
    <Fragment slot="subtitle">
      Thanks to the Inflation Reduction Act of 2022, Home Energy Storage has become more attainable than ever. This enables you to achieve energy independence, enjoy significant cost savings, and enhance resilience and sustainability right in your own home, all while safeguarding against power outages.
    </Fragment>
  </Hero>
  

  <!-- Content Widget -->
  <Content
    isReversed
    items={[
      {
        title: 'Backup Battery',
        description: 'A home energy storage system serves as a backup battery during power outages, ensuring that your essential appliances keep running.',
      },
      {
        title: 'Energy Arbitrage',
        description: 'Store energy when electricity rates are low and use it during peak hours to save money. This strategy, known as energy arbitrage, can significantly reduce your electricity bills.',
      },
      {
        title: 'Wind or Solar Storage',
        description: 'Home energy storage allows you to store excess energy generated from your wind or solar installations. This stored energy can be used when renewable sources are not producing, ensuring a consistent power supply.',
      },
    ]}
    image={{
      src: 'https://github.com/Anthonypaige/investnurenergy/blob/main/public/images/page-art/HES-qualify-page-art.png?raw=true',
      alt: 'Qualifications for Battery Storage eligibility',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Why Home Energy Storage?</h3>
      Home Batteries are becoming essential in today's World for many reasons.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>

  </Content>

  <!-- Featured Articles Widget -->
  <FeaturedArticles 
    title="Featured Articles" 
    articleSlugs={[
      'the-growing-importance-of-backup-batteries-in-todays-world',
      'what-is-energy-arbitrage',
      'decoding-portable-power-station-comparison-tables',
      'ecoflow-delta-pro-buying-guide',
      'bluetti-power-stations-buying-guide',
      'solar-batteries-are-automating-energy-management',
      'unlocking-energy-independence-with-Sonnen-solar-batteries',
    ]}
  />
</Layout>

