---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import FeaturedArticles from '~/components/widgets/FeaturedArticles.astro';
import Stats from '~/components/widgets/Stats.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import FeaturesLink from '~/components/widgets/FeaturesLink.astro';

const metadata = {
  title: 'Home Clean Energy Credit',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->
  <Hero actions={[]}>
    <Fragment slot="title">
      <div style="font-size: 1em; font-weight: bold; margin-bottom: 8px;">The Home Clean <span style="color:#228B22; font-weight: 700;">Energy</span> Credit</div>
    </Fragment>
  
    <Fragment slot="subtitle">
      In this era of rising utility costs, power grid strain, and dwindling fossil fuels, it's time we take a closer look at our energy choices
    </Fragment>
  </Hero>
 
   <!-- FeaturesLink Widget ************** -->
<FeaturesLink
title="Included in the Home Clean Energy Credit"
subtitle="Residential Clean Energy Credit (25D)"
items={[
  {
    title: 'Solar Energy',
    description: 'Harness the sun’s power to generate electricity for your home. Solar panels are a cornerstone of renewable energy and a key component for achieving grid independence.',
    icon: 'tabler:solar-panel-2',
    link: '/cleanenergy/solar-basics'
  },
  {
    title: 'Home Energy Storage',
    description: 'Energy storage systems allow you to store excess solar or wind energy for later use. This is crucial for maintaining power during peak hours and unexpected outages.',
    icon: 'tabler:battery-charging',
    link: '/cleanenergy/home-energy-storage'
  },
  {
    title: 'Geothermal Heat Pumps',
    description: 'Geothermal Heat Pumps offer a durable and cost-effective solution for home heating and cooling, with a remarkable lifespan of up to 50 years.',
    icon: 'tabler:world',
    link: '/cleanenergy/geothermal-energy'
  },
  {
    title: 'Residential Wind Turbines',
    description: 'Wind turbines offer a complementary energy source to solar, providing power during non-sunny hours. They are an essential part of a diversified home energy system.',
    icon: 'tabler:wind',
    link: '/cleanenergy/wind-energy'
  },
  {
    title: 'Solar Water Heaters',
    description: 'Solar water heaters use the sun’s energy to heat water for your home, offering an eco-friendly and efficient alternative to traditional water heating methods.',
    icon: 'tabler:sun-high',
    link: 'https://investinyourenergy.com/solar-water-heaters-are-a-sustainable-solution-for-your-home'
  },
  {
    title: 'Stand-alone Back-up Batteries',
    description: 'Stand-alone batteries can be used to store energy and draw upon it during peak hours, helping you avoid higher energy costs and contributing to grid stability.',
    icon: 'tabler:battery-charging',
    link: '/cleanenergy/home-energy-storage'
  },
]}
>
<Fragment slot="bg">
  <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
</Fragment>
</FeaturesLink>



<!-- Featured Articles Widget ******************* -->
<FeaturedArticles 
  title="Featured Articles" 
  articleSlugs={[
    'what-is-the-residential-clean-energy-credit',
    'alleviating-power-grid-strain',
    'solar-water-heaters-are-a-sustainable-solution-for-your-home',
    'hybrid-wind-and-solar-systems-are-the-future-of-home-energy',
    'what-is-energy-arbitrage',
    'quote-the-blue-raven-nevermore',
    'devising-your-solar-offset-strategy-a-monopoly-game-approach',
    'which-geothermal-heat-pump-system-fits-your-property',
  ]}  
/>

<!-- Stats Widget ******************* -->
<Stats
title="Home Clean Energy Credit"
 stats={[
   { title: 'Tax Code', amount: '25D' },
   { title: 'Tax Credit', amount: '30%' },
   { title: 'Annual Limit', amount: 'No Cap'},
 ]}
/>


  <!-- FAQs Widget ******************* -->
  <FAQs
  title="Frequently Asked Questions"
  columns={1}
  items={[
    {
      title: 'What is the Residential Clean Energy Credit for 2023?',
      description:
        'The Residential Clean Energy Credit for 2023 is a federal tax incentive that allows homeowners to claim up to 30% of the cost of installing eligible clean energy systems. This makes renewable energy more accessible and cost-effective.',
    },
    {
      title: 'What Qualifies for the Residential Clean Energy Credit?',
      description:
        'Qualifying technologies include Solar Electric Property, Solar Water Heating Property, Battery Storage Property, Small Wind Energy Property, and Geothermal Heat Pump Property.',
    },
    {
      title: 'What is the Tax Liability Impact of the Residential Clean Energy Credit?',
      description:
        'The credit is non-refundable but can reduce your federal tax liability to zero, when it comes time to settle up with the government causing you to receive a refund. It can significantly lower your tax bill.',
    },
    {
      title: 'Is there a cap on the tax credit for the Residential Clean Energy Credit?',
      description:
      'Under the Residential Clean Energy Property Credit there is no limit to your tax credit, as long as you have the tax liability to offset.'

    },
    
    {
      title: 'What is the Rollover Feature for the Residential Clean Energy Credit?',
      description:
      'Under the Residential Clean Energy Property Credit a taxpayer may carry forward the unused amount of the credit to reduce tax liability in future tax years. Make sure to claim your energy efficient credits first, since they are not eligible for rollover.'
    },
  ]}
>
  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>
</FAQs>

</Layout>