---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import FeaturedArticles from '~/components/widgets/FeaturedArticles.astro';
import FAQs from '~/components/widgets/FAQs.astro';

const metadata = {
  title: 'Solar tax Incentive',
};
---

<Layout metadata={metadata}>
  <Hero actions={[]} videoSrc="/images/solar-tax-incentive-video.mp4">
    <Fragment slot="title">
      <div class="text-center font-bold lg:text-7xl md:text-6xl sm:text-5xl text-xl mt-20">
      <div>Solar Tax Incentive </div>
      </div>
    </Fragment>
  </Hero>

<section class="container mx-auto p-9"></section>



<!-- Featured Articles Widget ******************* -->
<FeaturedArticles 
  title="Featured Articles" 
  articleSlugs={[
    'how-to-maximize-the-federal-solar-tax-credit',
    'spotlight-on-solar-industry-promoting-transparency-and-standards',
    'solar-loans-a-guide-to-avoiding-pitfalls-and-maximizing-benefits',
    'quote-the-blue-raven-nevermore',
    'a-simplified-guide-to-solar-energy-roi',
    'what-factors-will-effect-my-solar-roi',
    'state-level-solar-incentives-overview',
    'sunbathing-101-a-guide-to-solar-panel-placement',
  ]}  
  />

  <!-- FAQs Widget ******************* -->
  <FAQs
title="Frequently Asked Question"
columns={1}
items={[
  {
   title: 'What are the Tax Incentives for Going Solar?',
   description: 'The federal tax credit for solar installations is 30% of the total cost, with no capped limit, and resets annually.State incentives vary but can include additional tax credits,   rebates, net metering programs, feed-in tariffs, and SRECs to further reduce your solar costs. These incentives often change, [so stay updated](https://www.dsireusa.org/)'
  },
  {
   title: 'Can I Store Solar Energy for Later Use?',
   description: 'Yes, home energy storage is an essential component of a solar energy system. Not all net-metering policies are favorable for generating excess energy. Home energy storage allows you to use electricity during nighttime or cloudy days and helps you avoid peak hour charges if you are on a time-variable pricing program.'
  },
  {
   title: 'What Are the Financing Options for Solar Panels?',
  description:'You can finance your solar panel installation through various methods, including solar loans, leases, and Power Purchase Agreements (PPAs), each with its own pros and  cons.    Solar Loans are by far the most common way. However, you must be informed and tread carefully.'
  },
  {
  title: 'Is DIY Solar Installation a Viable Option?',
  description: 'Absolutely, DIY solar installation can be a cost-effective alternative to traditional methods. If you are handy and looking to avoid inflated installation fees, a DIY approach can save you more than half the cost. Companies like www.shopsolarkits.com offer step-by-step guidance, making it accessible even for beginners. This approach allows you to bypass challenges like price gouging or excessive dealer fees associated with solar loans.'
  },
  {
    title: 'How Do I Choose a Reliable Solar Installation Company?',
    description: 'Choosing a reliable solar installation company involves more than just checking reviews and certifications. Be cautious of companies that pressure you into making quick decisions or fail to inform you about the financial intricacies, such as the implications of not applying your tax credit to a bridge loan. Make sure to understand your true costs and avoid companies that suggest more solar panels than you actually need.'
  },
]}
>
<Fragment slot="bg">
  <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
</Fragment>
</FAQs>

</Layout>
