---

import Layout from '~/layouts/PageLayout.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Hero from '~/components/widgets/Hero.astro';
import WindMapZoom from '~/components/widgets/WindMapZoom.astro';
import FeaturedArticles from '~/components/widgets/FeaturedArticles.astro';

const metadata = {
  title: 'Wind Energy page',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    title="Residential Wind Turbines"
    subtitle="Unlock the Future of Green Energy: Residential Wind Turbines are Paving the Way for a Sustainable Tomorrow."
  />
<section>
  <WindMapZoom />
</section>


<!---Wind energy page Featured Articles Widget -->
<FeaturedArticles 
  title="Featured Articles" 
  articleSlugs={[
    'catching-a-second-wind-the-rise-of-residential-wind-turbines',
    'is-your-home-a-good-candidate-for-residential-wind-power',
    'hybrid-wind-and-solar-systems-are-the-future-of-home-energy',
    'what-is-the-residential-clean-energy-credit',
  ]}  
/>

  
  <!-- FAQs Widget ******************* -->
  <FAQs
  title="Frequently Asked Questions about Residential Wind Turbines"
  columns={1}
  items={[
    {
      title: 'Are residential wind turbines worth it?',
      description:
        'Yes, residential wind turbines offer significant long-term savings on electricity bills. They are an affordable and sustainable way to generate power, especially in areas with average to   	high wind speeds. The initial investment can be offset by the potential savings and available tax incentives.',
    },
    {
      title: 'What size wind turbine is needed to power a house?',
      description:
        'The size of the wind turbine needed depends on your household electricity consumption and the average wind speed in your location. Generally, a 5-kilowatt turbine is sufficient for a      	typical American home. However, its crucial to assess your energy needs accurately to choose the right size. The higher the capacity, the more electricity you can generate, but it also means 	a higher initial investment.',
    },
    {
      title: 'Are Wind Turbines Better Than Solar Panels?',
      description:'Both wind turbines and solar panels have unique advantages and can complement each other excellently in a residential setting. Wind turbines can generate electricity day and night, as long 	as there is wind, while solar panels require sunlight. By combining both, you can ensure a more consistent and reliable source of renewable energy for your home. This dual approach maximizes 	your potential for energy independence and minimizes your carbon footprint.',
    },
    {
      title: 'What Is the Most Efficient Wind Turbine for Home Use?',
      description:
        'When it comes to efficiency, horizontal axis turbines generally outperform their vertical axis counterparts. These turbines can convert up to 59% of wind energy into electricity, which is higher than most other renewable energy sources. Look for models that have been tested and certified for performance to ensure you are getting the most efficient unit.',
    },
  ]}
>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </FAQs>
</Layout>
