---
import CompTableLayout from "~/layouts/CompTableLayout.astro";

const { headers, rows } = Astro.props as {
  headers: string[];
  rows: Array<Record<string, any>>;
};
---

<CompTableLayout>
  <div class="comparison-table-container">
    <table id="comparisonTable">
      <thead>
        <tr>
          {headers.map((header) => (
            <th>{header}</th>
          ))}
        </tr>
      </thead>
      <tbody>
        {rows.map((row) => (
          <tr>
            {headers.map((header) => (
              <td>{typeof row[header] === "object" ? row[header].html : row[header]}</td>
            ))}
          </tr>
        ))}
      </tbody>
    </table>
  </div>

  <script type="module">
    // This will run on the client
    import $ from 'jquery';
    document.addEventListener("DOMContentLoaded", function() {
      const table = document.getElementById('comparisonTable');
      $(table).DataTable();
    });
  </script>
</CompTableLayout>