---
import 'https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css';
import 'jquery/dist/jquery.min.js';
---


 <style>
  /* Style for table cells */
  #comparisonTable tbody th, #comparisonTable tbody td {
    color: black; */ 
  }

  /* Hover effect for table rows */
  #comparisonTable tbody tr:hover {
    background-color: #f5f5f5;*/ 
  }

  /* Hover effect for links */
  #comparisonTable tbody tr td a:hover {
    color: blue; */
  }
</style>

<!-- Your table HTML here -->
<table id='comparisonTable'>
  <thead>
    <th>Shop Here</th>
    <th>Brand</th>
    <th>Price</th>
    <th>Max Amps</th>
    <th>Wifi</th>
    <th>Bluetooth</th>
    <th>Chord Style</th>
    <th>Installation</th>
    <th>Outdoor Rating</th>
  </thead>
  <tbody>
      <tr>
        <td><a href='https://amzn.to/3EL2HPT' target='_blank' rel='noopener noreferrer'><img src='https://github.com/Anthonypaige/IIYE-main-site/blob/main/public/images/evse-comp-table-images/grizlee-evse.jpg?raw=true' alt='Grizlee EV Charger' style='width:50px; height:auto;' /> Shop Here</a></td>
<td>Grizzl-E 40A Level 2 EV Charger</td>
<td>$349.99</td>
<td>40 Amps</td>
<td>No</td>
<td>No</td>
<td>Wall Mount</td>
<td>NEMA 14-50 or 6-50</td>
<td>NEMA 4X/IP67</td>
</tr>
<tr>
<td><a href='https://amzn.to/3EFFSNq' target='_blank' rel='noopener noreferrer'><img src='https://github.com/Anthonypaige/IIYE-main-site/blob/main/public/images/evse-comp-table-images/autel-evse.jpg?raw=true' alt='Autel EV Charger' style='width:50px; height:auto;' /> Shop Here</a></td>
<td>Autel MaxiCharger Elite Home 40A Plug-In EV Charger</td>
<td>$559.00</td>
<td>40 Amps</td>
<td>Yes</td>
<td>Yes</td>
<td>Separate holster</td>
<td>NEMA 14-50 or 6-50</td>
<td>NEMA 4</td>
</tr>
<tr>
<td><a href='https://amzn.to/45VXuR2' target='_blank' rel='noopener noreferrer'><img src='https://github.com/Anthonypaige/IIYE-main-site/blob/main/public/images/evse-comp-table-images/juice-evse.jpg?raw=true' alt='JuiceBox EV Charger' style='width:50px; height:auto;' /> Shop Here</a></td>
<td>JuiceBox 40A Smart EV Charging Station</td>
<td>$599.00</td>
<td>40 Amps</td>
<td>Yes</td>
<td>Yes</td>
<td>Wall Mount</td>
<td>NEMA 14-50 plug</td>
<td>NEMA 4X/IP66</td>
</tr>
<tr>
<td><a href='https://amzn.to/46hAzPR' target='_blank' rel='noopener noreferrer'><img src='https://github.com/Anthonypaige/IIYE-main-site/blob/main/public/images/evse-comp-table-images/electrify-america-evse.jpg?raw=true' alt='Electrify America EV Charger' style='width:50px; height:auto;' /> Shop Here</a></td>
<td>Electrify America Level 2 EV Charger</td>
<td>$649.00</td>
<td>40 Amps</td>
<td>Yes</td>
<td>No</td>
<td>Separate holster</td>
<td>NEMA 14-50 plug</td>
<td>NEMA 3R</td>
</tr>
<tr>
    <td><a href='https://amzn.to/3PoQpkW' target='_blank' rel='noopener noreferrer'><img src='https://github.com/Anthonypaige/IIYE-main-site/blob/main/public/images/evse-comp-table-images/wallbox-evse.jpg?raw=true' alt='Wallbox EV Charger' style='width:50px; height:auto;' /> Shop Here</a></td>
    <td>Wallbox Pulsar Plus 40A Smart EV Charging Station</td>
    <td>$649.00</td>
    <td>40 Amps</td>
    <td>Yes</td>
    <td>Yes</td>
    <td>Separate holster</td>
    <td>NEMA 14-50 plug</td>
    <td>NEMA 4</td>
</tr>
<tr>
    <td><a href='https://amzn.to/3EI78La' target='_blank' rel='noopener noreferrer'><img src='https://github.com/Anthonypaige/IIYE-main-site/blob/main/public/images/evse-comp-table-images/lectron-evse.jpg?raw=true' alt='Lectron EV Charger' style='width:50px; height:auto;' /> Shop Here</a></td>
    <td>Lectron 48A Level 2 EV Charger</td>
    <td>$499.00</td>
    <td>48 amps</td>
    <td>No</td>
    <td>No</td>
    <td>J-Hook</td>
    <td>NEMA 14-50 plug</td>
    <td>NEMA 4X/IP55</td>
</tr>  
 <tr>
    <td><a href='https://amzn.to/3ri8cSY target='_blank' rel='noopener noreferrer'><img src='https://github.com/Anthonypaige/IIYE-main-site/blob/main/public/images/evse-comp-table-images/emporia-evse.jpg?raw=true' alt='Emporia EV Charger' style='width:50px; height:auto;' /> Shop Here</a></td>
    <td>Emporia 48A Smart EV Charger</td>
    <td>$399.00</td>
    <td>48 amps</td>
    <td>Yes</td>
    <td>No</td>
    <td>Wall Mount</td>
    <td>Hardwired or 14-50 Plug in</td>
    <td>NEMA 4</td>
</tr>
<tr>
    <td><a href='https://amzn.to/3PIT22G' target='_blank' rel='noopener noreferrer'><img src='https://github.com/Anthonypaige/IIYE-main-site/blob/main/public/images/evse-comp-table-images/chargepoint-evse.jpg?raw=true' alt='Chargepoint EV Charger' style='width:50px; height:auto;' /> Shop Here</a></td>
    <td>JuiceBox 48A Smart EV Charging Station</td>
    <td>$639.00</td>
    <td>48 amps</td>
    <td>Yes</td>
    <td>Yes</td>
    <td>Wall Mount</td>
    <td>Hardwired</td>
    <td>NEMA 4X/IP66</td>
</tr> 
<tr>
    <td><a href='https://amzn.to/3PHtAdK' target='_blank' rel='noopener noreferrer'><img src='https://github.com/Anthonypaige/IIYE-main-site/blob/main/public/images/evse-comp-table-images/wallbox-evse.jpg?raw=true' alt='Wallbox EV Charger' style='width:50px; height:auto;' /> Shop Here</a></td>
    <td>Wallbox Pulsar Plus 48A Level 2 EV Charger</td>
    <td>$699.00</td>
    <td>48 amps</td>
    <td>Yes</td>
    <td>Yes</td>
    <td>Separate holster</td>
    <td>NEMA 14-50 plug</td>
    <td>NEMA 4</td>
</tr> 
<tr>
    <td><a href='https://amzn.to/3RpBs51' target='_blank' rel='noopener noreferrer'><img src='https://github.com/Anthonypaige/IIYE-main-site/blob/main/public/images/evse-comp-table-images/autel-evse.jpg?raw=true' alt='Autel EV Charger' style='width:50px; height:auto;' /> Shop Here</a></td>
    <td>Autel Maxicharge 50A hardwired EV Charger</td>
    <td>$599.00</td>
    <td>50 Amps</td>
    <td>Yes</td>
    <td>Yes</td>
    <td>Separate holster</td>
    <td>Hardwired</td>
    <td>NEMA 4</td>
</tr>
<tr>
    <td><a href='https://amzn.to/3Rqq2hg' target='_blank' rel='noopener noreferrer'><img src='https://github.com/Anthonypaige/IIYE-main-site/blob/main/public/images/evse-comp-table-images/chargepoint-evse.jpg?raw=true' alt='ChargePoint EV Charger' style='width:50px; height:auto;' /> Shop Here</a></td>
    <td>ChargePoint Home Flex 50A EV Charger</td>
    <td>$682.00</td>
    <td>50 Amps</td>
    <td>Yes</td>
    <td>Yes</td>
    <td>Built In</td>
    <td>Hardwired/Plug-in</td>
    <td>NEMA 3R</td>
      </tr>
    ))}
  </tbody>
</table>

<script client:load>
  import $ from 'jquery';
  import 'https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js';

  window.addEventListener('DOMContentLoaded', (event) => {
    $('#comparisonTable').DataTable();
    $('input[type="search"]').attr('placeholder', 'Search');
  });
</script>

