---
import { Icon } from 'astro-icon/components';
---


<section class="bg-blue-50 dark:bg-slate-800 not-prose">
  <div class="max-w-6xl mx-auto px-4 sm:px-6 py-4 text-md text-center font-medium">
    <span class="font-bold">
      <Icon name="tabler:world-bolt" class="w-5 h-5 inline-block align-text-bottom" /> 
    Geothermal Heat Pumps create clean energy that is 400% more efficient and can last up to 50 years.
  </div>

</section>
