
<!---Solar Lightbox--->

<div
  data-te-lightbox-init
  data-te-zoom-level="0.25"
  class="flex flex-col space-y-5 lg:flex-row lg:space-x-5 lg:space-y-0 text-center mx-auto">
  <div class="h-[200px] w-[200px] sm:h-[300px] sm:w-[300px] lg:h-[400px] lg:w-[400px] mx-auto">
    <img
      src="https://github.com/Anthonypaige/investnurenergy/blob/main/public/images/page-art/peak-sun-hous-map-NREL-page-art.jpg?raw=true"
      data-te-img="https://github.com/Anthonypaige/investnurenergy/blob/main/public/images/page-art/peak-sun-hous-map-NREL-page-art.jpg?raw=true"
      alt="Solar map"
      class="w-full h-full cursor-zoom-in hover:scale-110 transition-transform duration-300 ease-in-out data-[te-lightbox-disabled]:cursor-auto mx-auto" />
    </div>
  </div>