---
import { Icon } from 'astro-icon/components';
---


<section class="bg-blue-50 dark:bg-slate-800 not-prose">
  <div class="max-w-6xl mx-auto px-4 sm:px-6 py-4 text-md text-center font-medium">
    <span class="font-bold">
      <Icon name="tabler:wind" class="w-5 h-5 inline-block align-text-bottom" />
    Wind turbines complement solar's weakness and integrate seamlessly with home energy storage.
  </div>
</section>



