---
import FAQs from '~/components/widgets/FAQs.astro';

//import Hero from '~/components/widgets/Hero.astro';


import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'About us',
};
---

<Layout metadata={metadata}>
  
<!-- About Us Widget ******************* -->

<FAQs
  title="About Us"
  columns={1}
  items={[
    {
      title: 'Who We Are',
      description: 'We are a collective of energy efficiency enthusiasts, policy analysts, and homeowners just like you. Our platform is backed by extensive research and a commitment to cut through the noise and misinformation that often clouds the topic of energy efficiency.',
    },{
      title: 'Why we started Invest in your Energy',
      description: 'Navigating the complex landscape of solar energy and the Inflation Reduction Act, we found a maze of inconsistent information and varying terminologies. The internet was filled with articles that sounded good but provided little value, often churned out to sell ads rather than to inform. This sparked the creation of Invest In Your Energy, a platform dedicated to providing clear, accurate, and unimposing information.',
    },{
      title: 'Our Mission',
      description: 'Our mission is to empower homeowners to make informed decisions about energy efficiency, starting with a deep understanding of the Inflation Reduction Act of 2022. We aim to be a reliable resource that provides clear, accurate, and actionable information.',
    },
  ]}
>
  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>
</FAQs>

  



</Layout>