---
import FAQs from '~/components/widgets/FAQs.astro';

//import Hero from '~/components/widgets/Hero.astro';


import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'About us',
};
---

<Layout metadata={metadata}>
  
<!-- About Us Widget ******************* -->
<head>
<FAQs
  title="About Us"
  columns={1}
  items={[
    {
      title: 'Who we Are',
      description: 'Invest In Your Energy is an independent publisher dedicated to unpacking the Inflation Reduction Act and translating its benefits for the average homeowner. Our platform serves as a one-stop shop for those looking to invest in their homes energy potential.',
    }, {
      title: 'Why we created Invest in your Energy',
      description: 'Navigating the complex landscape of solar energy and the Inflation Reduction Act, we encountered a web of conflicting information, convoluted terms, and articles more focused on ad revenue than education. Determined to change this narrative, Invest In Your Energy was born with the goal of making the topic of energy efficiency and clean energy solutions more accessible and less intimidating, equipping homeowners with the knowledge to make savvy energy choices.',
     }, {
     title: 'Our Goal',
      description: 'We aim to cut through the noise, offering you straightforward and unbiased information that is easy to find and understand. Our aspiration is to fill the existing gap by offering fresh and relevant content. We simplify the complexities of energy efficiency and clean energy solutions, while emphasizing the importance of being more grid-independent and reducing reliance on traditional energy sources. Our ultimate goal is to equip you with the knowledge and tools needed to develop a solid investment plan for a more energy-efficient home.',
      }, 
      {
      title: 'How we Make Money',
      description: 'Transparency is at the core of everything we do. While we sustain our efforts through affiliate marketing, our primary focus remains on educating you about energy efficiency. When you use our affiliate links, it supports our mission, but our main priority is providing you with the information you need to make well-informed energy decisions. This ensures our content remains unbiased and directed towards your best interests.',
    }, 
    {
      title: 'What we Pledge',
      description: 'In the ever-changing realms of clean energy and energy efficiency, staying informed and adaptive is key. Invest In Your Energy commits to being your dynamic resource in your transition towards a more energy-efficient home. We will be continuously updating our platform with the latest information and resources, ensuring you have access to the most effective strategies for achieving energy independence and utility savings. Our focus is to keep you ahead of the curve, enhancing your homes energy efficiency with the newest and most practical solutions.',
    }, 
    ]}
>
  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>
</FAQs>
<head>
  



</Layout>
