---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
---

<Layout>
  <!-- Hero Widget ******************* -->
  <Hero title="EV Charger Comparison Table" />

  <section class="container mx-auto p-6">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>

    <style>
        /* General Styles */
        .dataTables_wrapper {
            color: #FFF;  /* White text for better visibility on dark background */
        }
    
        /* Table Styles */
        #comparisonTable {
            font-family: Arial, sans-serif;
            width: 100%;
            border-collapse: collapse;
            text-align: center;
        }
        #comparisonTable td, #comparisonTable th {
            padding: 10px;
            border: 1px solid #dddddd;
            color: #FFF;  /* White text */
            background-color: #333;  /* Default dark background for rows */
        } 
        #comparisonTable th {
            background-color: #444;  /* Slightly different dark color for header */
            color: white;
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
        }
        /* Hover effect for rows */
        #comparisonTable tr:hover {
            background-color: #555;  /* Darker on hover */
        }
    </style>
    
<table id='comparisonTable'>
<thead>
<tr>
<th>Shop Here</th>
<th>Charger Name</th>
<th>Price</th>
<th>Max Amps</th>
<th>Wifi</th>
<th>Bluetooth</th>
<th>Chord Management</th>
<th>Installation</th>
<th>Outdoor Rating</th>
</tr>
</thead>
<tbody>
<tr>
<td><a href='https://amzn.to/3EL2HPT' target='_blank' rel='noopener noreferrer'><img src='https://github.com/Anthonypaige/investnurenergy/blob/main/public/images/product-images/grizlee-evse.png?raw=true' alt='Placeholder Image' style='width:50px; height:auto;' /> Shop Here</a></td>
<td>Grizzl-E Level 2 </td>
<td>$349.99</td>
<td>40 Amps</td>
<td>No</td>
<td>No</td>
<td>Wall Mount</td>
<td>NEMA 14-50 or 6-50</td>
<td>NEMA 4X/IP67</td>
</tr>
<tr>
<td><a href='https://amzn.to/3EI78La' target='_blank' rel='noopener noreferrer'><img src='https://github.com/Anthonypaige/investnurenergy/blob/main/public/images/product-images/lectron-evse.png?raw=true' alt='Lectron' style='width:50px; height:auto;' /> Shop Now</a></td>
<td>Lectron 40 Amp Level 2 </td>
<td>$449.00</td>
<td>40 Amps</td>
<td>No</td>
<td>No</td>
<td>J-Hook</td>
<td>NEMA 14-50 plug</td>
<td>NEMA 4X/IP55</td>
</tr>
<tr>
<td><a href='https://amzn.to/3RpBs51' target='_blank' rel='noopener noreferrer'><img src='https://github.com/Anthonypaige/investnurenergy/blob/main/public/images/product-images/autel-evse.png?raw=true' alt='Autel' style='width:50px; height:auto;' /> Shop Now</a></td>
<td>Autel MaxiCharger 40A Smart Charger </td>
<td>$559.00</td>
<td>40 Amps</td>
<td>Yes</td>
<td>Yes</td>
<td>Separate holster</td>
<td>NEMA 14-50 or 6-50</td>
<td>NEMA 4X</td>
</tr>
<tr>
<td><a href='https://amzn.to/45VXuR2' target='_blank' rel='noopener noreferrer'><img src='https://github.com/Anthonypaige/investnurenergy/blob/main/public/images/product-images/juice-evse.png?raw=true' alt='Juicebox' style='width:50px; height:auto;' /> Shop Now</a></td>
<td>JuiceBox 40A Smart Charger</td>
<td>$599.00</td>
<td>40 Amps</td>
<td>Yes</td>
<td>Yes</td>
<td>Wall Mount</td>
<td>NEMA 14-50 plug</td>
<td>NEMA 4X/IP66</td>
</tr>
<tr>
    <td><a href='https://amzn.to/46hAzPR' target='_blank' rel='noopener noreferrer'><img src='https://github.com/Anthonypaige/investnurenergy/blob/main/public/images/product-images/electrify-america-evse.png?raw=true' alt='Electrify America' style='width:50px; height:auto;' /> Shop Now</a></td>
<td>Electrify America Level 2</td>
<td>$649.00</td>
<td>40 Amps</td>
<td>Yes</td>
<td>No</td>
<td>Separate holster</td>
<td>NEMA 14-50 plug</td>
<td>NEMA 3R</td>
</tr>
<tr>
    <td><a href='https://amzn.to/3PoQpkW' target='_blank' rel='noopener noreferrer'><img src='https://github.com/Anthonypaige/investnurenergy/blob/main/public/images/product-images/wallbox-evse.png?raw=true' alt='Wallbox Pulsar Plus' style='width:50px; height:auto;' /> Shop Now</a></td>
    <td>Wallbox Pulsar Plus 40A Smart Charger</td>
    <td>$649.00</td>
    <td>40 Amps</td>
    <td>Yes</td>
    <td>Yes</td>
    <td>Separate holster</td>
    <td>NEMA 14-50 plug</td>
    <td>NEMA-4</td>
</tr>
<tr>
    <td><a href='https://amzn.to/3EI78La' target='_blank' rel='noopener noreferrer'><img src='https://github.com/Anthonypaige/investnurenergy/blob/main/public/images/product-images/lectron-evse.png?raw=true' alt='Lectron' style='width:50px; height:auto;' /> Shop Now</a></td>
    <td>Lectron 48 Amp Level 2 </td>
    <td>$499.00</td>
    <td>48 amps</td>
    <td>No</td>
    <td>No</td>
    <td>J-Hook</td>
    <td>NEMA 14-50 plug</td>
    <td>NEMA 4X/IP55</td>
</tr>  
<tr>
    <td><a href='https://amzn.to/3ri8cSY' target='_blank' rel='noopener noreferrer'><img src='https://github.com/Anthonypaige/investnurenergy/blob/main/public/images/product-images/emporia-evse.png?raw=true' alt='Emporia' style='width:50px; height:auto;' /> Shop Now</a></td>
    <td>Emporia Vue 48A Smart Charger</td>
    <td>$399.00</td>
    <td>48 amps</td>
    <td>Yes</td>
    <td>No</td>
    <td>Wall Mount</td>
    <td>Hardwired/Plug-in</td>
    <td>NEMA-4</td>
</tr>
<tr>
    <td><a href='https://amzn.to/3PIT22G' target='_blank' rel='noopener noreferrer'><img src='https://github.com/Anthonypaige/investnurenergy/blob/main/public/images/product-images/juice-evse.png?raw=true' alt='Juicebox' style='width:50px; height:auto;' /> Shop Now</a></td>
    <td>JuiceBox 48A Smart Charger</td>
    <td>$639.00</td>
    <td>48 amps</td>
    <td>Yes</td>
    <td>Yes</td>
    <td>Wall Mount</td>
    <td>Hardwired</td>
    <td>NEMA 4X/IP66</td>
</tr> 
<tr>
    <td><a href='https://amzn.to/3PHtAdK' target='_blank' rel='noopener noreferrer'><img src='https://github.com/Anthonypaige/investnurenergy/blob/main/public/images/product-images/wallbox-evse.png?raw=true' alt='Wallbox Pulsar Plus' style='width:50px; height:auto;' /> Shop Now</a></td>
    <td>Wallbox Pulsar Plus 48A Smart Charger</td>
    <td>$699.00</td>
    <td>48 amps</td>
    <td>Yes</td>
    <td>Yes</td>
    <td>Separate holster</td>
    <td>NEMA 14-50 plug</td>
    <td>NEMA 4X</td>
</tr> 
<tr>
    <td><a href='https://amzn.to/3RpBs51' target='_blank' rel='noopener noreferrer'><img src='https://github.com/Anthonypaige/investnurenergy/blob/main/public/images/product-images/autel-evse.png?raw=true' alt='Autel' style='width:50px; height:auto;' /> Shop Now</a></td>
    <td>Autel Maxicharge 50A Smart Charger</td>
    <td>$599.00</td>
    <td>50 Amps</td>
    <td>Yes</td>
    <td>Yes</td>
    <td>Separate holster</td>
    <td>Hardwired</td>
    <td>NEMA 4X</td>
</tr>
<tr>
    <td><a href='https://amzn.to/3Rqq2hg' target='_blank' rel='noopener noreferrer'><img src='https://github.com/Anthonypaige/investnurenergy/blob/main/public/images/product-images/chargepoint-evse.png?raw=true' alt='Chargepoint' style='width:50px; height:auto;' /> Shop Now</a></td>
    <td>ChargePoint 50A Smart Charger </td>
    <td>$682.00</td>
    <td>50 Amps</td>
    <td>Yes</td>
    <td>Yes</td>
    <td>Built In</td>
    <td>Hardwired/Plug-in</td>
    <td>NEMA 3R</td>

</tbody>
</table>

<script>
  document.addEventListener("DOMContentLoaded", function() {
      $('#comparisonTable').DataTable();
  });
</script>
</section>
</Layout>


            
  
          
                   