---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import FeaturedArticles from '~/components/widgets/FeaturedArticles.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';


const metadata = {
  title: 'Geothermal Energy',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    title="Geothermal Heat Pumps"
    subtitle="Explore our meticulously crafted templates tailored to various industries and purposes. From captivating presentations to functional website designs, we offer the tools you need to succeed."
    image={{
      src: 'https://github.com/Anthonypaige/investnurenergy/blob/main/public/images/page-art/GEO-map-page-art.png?raw=true',
      alt: 'USA Map of geothermal access',
    }}
  />

  <!-- Geothermal energy page Featured Articles Widget -->
<FeaturedArticles 
  title="Featured Articles on Geothermal Energy" 
  articleSlugs={['geothermal-heat-pumps-tapping-earths-core', 'what-is-geothermal-access', 'best-geothermal-heat-pump-for-your-property', 'ev-charger-shopping-guide']} 
/>

<Stats
  stats={[
    { title: 'Tax Code', amount: '25D' },
    { title: 'Tax Credit', amount: '30%' },
    { title: 'Cost Savings', amount: '45%-70%' },
    { title: 'Longevity', amount: '50 years' },
  ]}
/>

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    items={[
      {
        title: 'What are landing page templates?',
        description:
          'Landing page templates are pre-designed web page layouts that are specifically created to serve as a foundation for building effective landing pages. These templates are designed to capture the attention of visitors and guide them towards a specific action or goal, such as signing up for a newsletter, making a purchase, or downloading a resource.',
      },
      {
        title: 'How long do geothermal heat pumps last?',
        description:
          'Geothermal heat pumps can last up to 50 years, providing savings and home equity',
      },
      {
        title: 'How do I know if my property is a candidate for a geothermal heat pump?',
        description:
          'Yes, the templates allow you to preview them before making a purchase. There is a "Demo" button associated with each template.',
      },
      {
        title: 'Do I need technical skills to use a template?',
        description:
          'Advanced technical skills are not required to use a template, but having a basic understanding of web navigation and familiarity with using online tools can still be beneficial. If you have more specific customization needs, you might need to consult guides or reach out to customer support for assistance.',
      },
      {
        title: 'Can I use the template on multiple websites?',
        description:
          'No, the template comes with a single-use license, meaning you can use the template on one website or project only. Using the template on additional websites would require purchasing additional licenses.',
      },
      {
        title: 'What if I need help with customization?',
        description:
          "The templates provides a comprehensive step-by-step guide that walk you through the customization process. If you still have doubts, you can reach out to our customer support team. They can answer your questions, provide guidance on customization, and address any issues you're facing.",
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </FAQs>

</Layout>
