---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Features2 from '~/components/widgets/Features2.astro';
import FeaturedArticles from '~/components/widgets/FeaturedArticles.astro';
import Stats from '~/components/widgets/Stats.astro';
import FAQs from '~/components/widgets/FAQs.astro';
const metadata = {
  title: 'Heat Pumps',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    image={{
      src: 'https://github.com/Anthonypaige/investnurenergy/blob/main/public/images/page-art/HPQ-page-art.png?raw=true',
      alt: 'Heat Pump',
    }}
  />

  <Features2
  title="Types of Heat Pumps"
  subtitle="Discover the most efficient heat pump solutions for your home."
  columns={3}
  items={[
    {
      title: 'Ducted Split Systems',
      description:
        'Ducted Split Systems offer a traditional approach to heating and cooling, integrating seamlessly with your home’s existing ductwork. They provide efficient air distribution and are ideal for larger homes.',
      icon: 'tabler:school',
    },
    {
      title: 'Mini Split Ductless',
      description:
        'Mini Split Ductless systems are perfect for homes without ducts. These units offer targeted heating and cooling, allowing you to control the temperature in individual rooms for maximum comfort and energy savings.',
      icon: 'tabler:home-star',
    },
    {
      title: 'Ducted Hybrid Systems',
      description:
        'Ducted Hybrid Systems combine the best of both air-source and geothermal technologies. They automatically switch between energy sources to optimize efficiency and reduce your utility bills.',
      icon: 'tabler:photo',
    },
    {
      title: 'Multi-Zone Ductless mini-split',
      description:
        'Multi-Zone Ductless mini-splits allow you to control the climate in multiple rooms independently. They are incredibly flexible and ideal for homes with varying temperature needs.',
      icon: 'tabler:shopping-cart',
    },
    {
      title: 'Ducted Packaged System',
      description:
        'Ducted Packaged Systems are all-in-one solutions that include both heating and cooling functions. They are compact and ideal for homes with limited indoor space.',
      icon: 'tabler:article',
    },
    {
      title: 'Geothermal Heat Pump',
      description:
        'Geothermal Heat Pumps use the stable temperatures of the ground to provide efficient heating and cooling. They are eco-friendly and can significantly reduce your energy costs.',
      icon: 'tabler:building-store',
    },    
  ]}
/>

<!-- Heat Pumps (HPQ) Featured Articles Widget -->

<FeaturedArticles 
  title="Featured Articles on Heat Pumps" 
  articleSlugs={['whats-a-heat-pump', 'air-source-heat-pumps', 'ductless-mini-split-heat-pump', 'best-geothermal-heat-pump-for-your-property',]} 
/>
<Stats
  title="Air Source Heat Pumps"
  stats={[
    { title: 'Tax Code', amount: '25C' },
    { title: 'Tax Credit', amount: '30%' },
    { title: 'Cap', amount: '$2,000' },
    { title: 'Energy Savings', amount: '40%' },
  ]}
/>

<FAQs
  title="Frequently Asked Questions on Air-Source Heat Pumps"
  items={[
    {
      title: 'What is an Air-Source Heat Pump and How Does It Work?',
      description:
        'An air-source heat pump is an all-in-one heating and cooling system that extracts heat from the air inside your home during the summer and transfers it outside. In the winter, it reverses the process, collecting heat from the outside air and transferring it inside.',
    },
    {
      title: 'What Are the Advantages of Using an Air-Source Heat Pump?',
      description:
        'They are more energy-efficient than traditional heating systems, reducing your electricity bills. They also have a lower carbon footprint and can both heat and cool your home.',
    },
    {
      title: 'What Are the Disadvantages of an Air-Source Heat Pump?',
      description:
        'They may not be ideal for areas with extended periods of subfreezing temperatures. The initial installation cost can be higher but is often offset by long-term energy savings.',
    },
    {
      title: 'How Do Ductless Mini-Splits Differ from Traditional Air-Source Heat Pumps?',
      description:
        'Ductless mini-splits are a type of air-source heat pump that can be installed in individual rooms, offering more precise temperature control without the need for ductwork.',
    },
    {
      title: 'How Do I Maintain My Air-Source Heat Pump?',
      description:
        'Regular maintenance includes replacing the air filter as recommended and scheduling yearly inspections. Keeping the exterior unit clean and free from obstructions is also crucial.',
    },
    {
      title: 'Is It Best to Leave My Air-Source Heat Pump On All the Time?',
      description:
        'For optimal efficiency, it\'s recommended to maintain a steady temperature rather than frequently adjusting the thermostat.',
    },
  ]}
>
  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>
</FAQs>


</Layout>

