---
import Layout from '~/layouts/PageLayout.astro';
import FeaturedArticles from '~/components/widgets/FeaturedArticles.astro';
import Hero from '~/components/widgets/Hero.astro';
//import Note from '~/components/widgets/Note.astro';
import Stats from '~/components/widgets/Stats.astro';
//import Features from '~/components/widgets/Features.astro';
import Features3 from '~/components/widgets/Features3.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';


const metadata = {
  title: 'Invest in your Energy main page',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <Hero actions={[]}>
    <Fragment slot="title">
      <div style="font-size: 1em; font-weight: bold; margin-bottom: 8px;">Welcome to Invest in your <span style="color:#228B22; font-weight: 700;">Energy</span></div>
      <div style="font-size: 0.8em; font-weight: bold;">We are here to Unpack the Inflation Reduction Act</div>
    </Fragment>
  
    <Fragment slot="subtitle">
      Navigating the Inflation Reduction Act can be complex, but you don't have to do it alone. We're committed to helping you understand and take full advantage of the Act's energy-efficient incentives.
    </Fragment>
  </Hero>
  
  
  
  
    <!-- Video -->
    <!-- <Fragment slot="image">
      <div class="relative h-0 pb-[56.25%]">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/dsTXcSeAZq8"
          title="YouTube video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;"
          allowfullscreen
          class="absolute top-0 left-0 w-full h-full"
        >
        </iframe>
      </div>
    </Fragment> -->
  
  <!-- Note Widget ******************* -->
  <!-- <Note /> -->
  <!-- Note Widget ******************* -->

  <Stats
  title="Residential Federal Acts"
  stats={[
    { title: 'Home Clean Energy', amount: '25D' },
    { title: 'Energy Efficient Home', amount: '25C' },
    { title: 'Home EV Charger', amount: '30C' },
    { title: 'LMI Household', amount: 'HEEHRA' },
  ]}
/>


  <!-- Features Widget *************** -->
  <Features3
    title="Skills"
    subtitle="Discover the proficiencies that allow me to bring imagination to life through design."
    columns={3}
    defaultIcon="tabler:point-filled"
    items={[
      {
        title: 'Solar Tax Incentive',
        description: 'Proficient in crafting visually appealing designs that convey messages effectively.',
        link: '/solar-tax-incentive'  
      },
      {
        title: 'Geothermal Heat Pumps',
        description: 'Skilled at developing cohesive brand identities, including logos and brand guidelines.',
        link: '/geothermal-heat-pumps' 
      },
      {
        title: 'Smart Energy Devices',
        description: 'Experienced in creating user-friendly interfaces and optimizing user experiences.',
        link: '/smart-energy-devices'  
      },
      // ... (continue for other items)
    ]}
/>

  <!-- Featured Articles Widget ******************* -->

<FeaturedArticles 
  title="Featured Articles" 
  articleSlugs={[
    'unpacking-the-inflation-reduction-act-a-comprehensive-guide',
    'mastering-time-of-use-rate-strategies-for-smart-energy',
    'alleviating-power-grid-strain',
    'ev-charger-shopping-guide-a-heavily-incentivized-home-improvement',
    'electrical-panel-upgrades-a-keystone-of-the-inflation-reduction-act',
    'the-growing-importance-of-backup-batteries-in-todays-world',
    'home-energy-monitoring-your-guide-to-energy-efficiency',
    'solar-loans-a-guide-to-avoiding-pitfalls-and-maximizing-benefits',
  ]}
  />
 
  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="Dive into the following questions to gain insights into the powerful features that AstroWind offers and how it can elevate your web development journey."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Why AstroWind?',
        description:
          "Michael Knight a young loner on a crusade to champion the cause of the innocent. The helpless. The powerless in a world of criminals who operate above the law. Here he comes Here comes Speed Racer. He's a demon on wheels.",
      },
      {
        title: 'What do I need to start?',
        description:
          'Space, the final frontier. These are the voyages of the Starship Enterprise. Its five-year mission: to explore strange new worlds. Many say exploration is part of our destiny, but it’s actually our duty to future generations.',
      },
      {
        title: 'How to install the Astro + Tailwind CSS template?',
        description:
          "Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows.",
      },
      {
        title: "What's something that you don't understand?",
        description:
          "A flower in my garden, a mystery in my panties. Heart attack never stopped old Big Bear. I didn't even know we were calling him Big Bear.",
      },
      {
        title: 'What is something that you would like to try again?',
        description:
          "A business big enough that it could be listed on the NASDAQ goes belly up. Disappears! It ceases to exist without me. No, you clearly don't know who you're talking to, so let me clue you in.",
      },
      {
        title: 'If you could only ask one question to each person you meet, what would that question be?',
        description:
          "This is not about revenge. This is about justice. A lot of things can change in twelve years, Admiral. Well, that's certainly good to know. About four years. I got tired of hearing how young I looked.",
      },
    ]}
  />
  <BlogLatestPosts
  title="Find more content in our Blog"
  information={`The blog works like a course.
                      Each new article will be an important step that you will need to know to be an expert on the Inflation Reduction Act.               
              `}
/>
</Layout>
