---
import Layout from '~/layouts/PageLayout.astro';
import FeaturedArticles from '~/components/widgets/FeaturedArticles.astro';
import Hero from '~/components/widgets/Hero.astro';
import Stats from '~/components/widgets/Stats.astro';
import FeaturesLink from '~/components/widgets/FeaturesLink.astro';
import FAQs from '~/components/widgets/FAQs.astro';


const metadata = {
  title: 'Invest in your Energy',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <Fragment slot="head">
  <script src="https://embed.rewiringamerica.org/calculator.js"></script>
  <link rel="stylesheet" type="text/css" href="https://embed.rewiringamerica.org/rewiring-fonts.css"/>
  </Fragment>

  <Hero actions={[]}>
    <Fragment slot="title">
      <div style="font-size: 1em; font-weight: bold; margin-bottom: 8px;">Welcome to <span style="color:#228B22; font-weight: 700;">Invest</span> in your <span style="color:#228B22; font-weight: 700;">Energy</span></div>
      </Fragment>
  
    <Fragment slot="subtitle">
      Navigating the Inflation Reduction Act can be complex, but you don't have to do it alone. We're here to help you unpack the Act's clean energy and energy-efficient incentives.
    </Fragment>
  </Hero>
  
  <FeaturesLink
  title="Navigate Key Tax Benefits and Incentives"
  subtitle="These dedicated pages will serve as guides for their respective sub-acts."
  columns={3}
  items={[
    {
      title: 'Home Clean Energy Credit',
      description: 'Leverage tax advantages with the Residential Clean Energy Tax Credit (25D). Learn how to optimize your clean energy investments.',
      icon: 'tabler:sun-wind',
      link: 'https://investinyourenergy.com/cleanenergy/home-clean-energy-credit'
    },
    {
      title: 'Energy-Efficient Home Upgrades',
      description: 'Your go-to resource for the Energy Efficient Home Improvement Tax Credit (25C). Make informed decisions on home upgrades.',
      icon: 'tabler:home-eco',
      link: 'https://investinyourenergy.com/landing/energy-efficient-home-upgrades'
    },
    {
      title: 'Energy-Efficient Rebates',
      description: 'Your Guide to State-Level and HEEHRA Rebate Programs for Energy Efficiency Home Improvements',
      icon: 'tabler:arrows-diff',
      link: 'https://investinyourenergy.com/energyefficientrebates/energy-efficient-rebates'
    },
  ]}
/>

<FeaturesLink
  title="Explore IRA-Covered Products and Services"
  subtitle="Our themed pages focus on specific products and services covered by the Inflation Reduction Act, making it easier for you to find what you need"
  columns={3}
  items={[
    {
      title: 'Heat Pumps',
      description: 'Uncover the efficiency and cost benefits of heat pumps for home climate control.',
      icon: 'tabler:air-conditioning',
      link: 'https://investinyourenergy.com/landing/heat-pump-page'
    },
    {
      title: 'Weatherization',
      description: 'Get insights on how weatherization can reduce your energy bills and improve home comfort.',
      icon: 'tabler:home-heart',
      link: 'https://investinyourenergy.com/landing/weatherization-page'
    },
    {
      title: 'Solar Basics',
      description: 'Delve into the essentials of solar energy and its role in sustainable living.',
      icon: 'tabler:solar-panel',
      link: 'https://investinyourenergy.com/cleanenergy/solar-basics-page'
    },
    {
      title: 'Home Energy Storage',
      description: 'Learn how battery storage can amplify the benefits of your solar or wind energy systems.',
      icon: 'tabler:battery-charging',
      link: 'https://investinyourenergy.com/cleanenergy/home-energy-storage'
    },
    {
      title: 'Wind Energy',
      description: 'Explore the untapped potential of wind energy for residential applications.',
      icon: 'tabler:wind',
      link: 'https://investinyourenergy.com/cleanenergy/wind-energy-page'
    },
    {
      title: 'Geothermal Energy',
      description: 'Understand the reliability of geothermal energy for home heating and cooling.',
      icon: 'tabler:world',
      link: 'https://investinyourenergy.com/cleanenergy/geothermal-page'
    },
    {
      title: 'Water Heating',
      description: 'Discover sustainable and efficient solutions for water heating needs.',
      icon: 'tabler:droplet-half-2-filled',
      link: 'https://investinyourenergy.com/landing/water-heaters-page'
    },
    {
      title: 'Smart Energy Devices',
      description: 'Home energy monitoring and control with smart thermostats and HEMS.',
      icon: 'tabler:smart-home',
      link: 'https://investinyourenergy.com/energyefficientrebates/smart-energy-devices'
    },
    {
      title: 'Solar Tax Incentive',
      description: 'Navigate the financial landscape of solar energy tax incentives.',
      icon: 'tabler:solar-panel-2',
      link: 'https://investinyourenergy.com/cleanenergy/solar-tax-incentive'
    },
  ]}
>
  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>
</FeaturesLink>


<!-- IRA Eligibility Widget ******************* -->

<Fragment>
  <div id="calculator-section">
    <h2 id="calculator-title">Inflation Reduction Act Eligibility Calculator</h2>
    <div id="calculator-wrapper">
      <rewiring-america-calculator api-key="zpka_e218e73d2b60449ea4fd97122a5334bc_1dd9e2f0"></rewiring-america-calculator>
    </div>
  </div>
</Fragment> 

<FeaturedArticles 
  title="Featured Articles" 
  articleSlugs={[
    'unpacking-the-inflation-reduction-act-a-comprehensive-guide',
    'mastering-time-of-use-rate-strategies-for-smart-energy',
    'alleviating-power-grid-strain',
    'ev-charger-shopping-guide-a-heavily-incentivized-home-improvement',
    'electrical-panel-upgrades-a-keystone-of-the-inflation-reduction-act',
    'the-growing-importance-of-backup-batteries-in-todays-world',
    'home-energy-monitoring-your-guide-to-energy-efficiency',
    'solar-loans-a-guide-to-avoiding-pitfalls-and-maximizing-benefits',
  ]}
  />


  <!-- Custom CSS for Rewiring America Calculator -->
<Fragment slot="styles">
  <style>
    /* Add your custom styles for the calculator here */
    #calculator-section {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }

    /* Style the title */
    #calculator-title {
      font-size: 2rem; /* Increase font size */
      text-align: center; /* Center align text */
      margin-bottom: 1rem; /* Add some bottom margin */
      color: #228B22; /* Change text color */
      font-weight: bold; /* Make text bold */
    }

    /* Style the calculator wrapper */
    #calculator-wrapper {
      border: 2px solid #228B22; /* Add a border */
      padding: 1rem; /* Add some padding */
      border-radius: 10px; /* Add rounded corners */
      background-color: #f9f9f9; /* Add a background color */
      max-width: 80%; /* Set maximum width */
      margin-left: auto; /* Center align */
      margin-right: auto; /* Center align */
    }
  </style>
</Fragment>





<!-- FAQs Widget ******************* -->

<FAQs
  title="Frequently Asked Questions."
  classes={{ container: 'max-w-6xl' }}
  columns={1}
  items={[
    {
      title: 'What Benefits Does the Inflation Reduction Act of 2022 Offer?',
      description:
    "The Inflation Reduction Act is a landmark legislation that aims to tackle various economic and environmental challenges. One of its key provisions is the focus on energy efficiency and clean energy production. The act allocates significant funds for energy security and climate change programs. If you are looking to make your home more energy-efficient or invest in clean energy, this act provides various tax credits and incentives to help you do so.",
    },
    {
  title: 'What Clean Energy Options are Included in the Residential Clean Energy Property Credit? (25D)',
  description:
    "The 25D tax credit covers solar panels, solar water heaters, geothermal heat pumps, small wind turbines, and fuel cells. Must be installed in your primary or second home. Covers 30% of installation costs, no upper limit.",
},
{
  title: 'How Do Electric Vehicles (EVs) Fit Into the Energy Efficiency Equation?',
  description:
    "The 30D tax credit offers up to $7,500 for a new EV, and up to $4,000 for a qualified used EV. The 30C credit provides a 30% rebate for home EV charging station installation.",
},
{
  title: 'How do I Benefit from The Energy Efficiency Home Improvement Credits?',
  description:
    "The 25C credit offers tax benefits for energy-saving home improvements like heat pumps, heat pump water heaters, insulation, energy-efficient windows, and exterior doors",
},
{
  title: 'What is the Difference Between Tax Credits and Rebates?',
  description:
    "Tax credits like 25C, 25D, and 30C reduce your tax liability. HEEHRA and 30D offer instant rebates at the time of purchase or installation.",
},
{
  title: 'Can Federal Tax Credits Be Carried Forward to the Next Tax Year?',
  description:
    "Tax credits under 25D can be carried forward to future tax years. The 25C credit is available annually but must be claimed in the same tax year the improvements are made; it cannot be rolled over."
}
  ]}
  
/>
 <!-- Stats Widget ******************* -->

 <Stats
 title=" Federal Sub-acts and their tax codes"
 stats={[
   { title: 'Home Clean Energy', amount: '25D' },
   { title: 'Home EV Charger', amount: '30C' },
   { title: 'Energy Efficient Home', amount: '25C' },
   { title: 'EV Rebate', amount: '30D' },
 ]}
/>

