---
import Layout from '~/layouts/PageLayout.astro';
import FeaturedArticles from '~/components/widgets/FeaturedArticles.astro';
import Hero from '~/components/widgets/Hero.astro';
import MainPageNote from '~/components/notes/MainPageNote.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Stats from '~/components/widgets/Stats.astro';
import FeaturesLink from '~/components/widgets/FeaturesLink.astro';
import FAQs from '~/components/widgets/FAQs.astro';


const metadata = {
  title: 'Invest in your Energy',
  ignoreTitleTemplate: true,
  description: 'Our platform serves as a one-stop shop for those looking to invest in their homes energy potential.',
  imageUrl: 'https://github.com/Anthonypaige/investnurenergy/blob/main/public/images/page-sharing-logos/main-page-sharing-logo.png?raw=true',
};

---


<Layout metadata={metadata}>
  <Fragment slot="head">
  <script src="https://embed.rewiringamerica.org/calculator.js"></script>
  <link rel="stylesheet" type="text/css" href="https://embed.rewiringamerica.org/rewiring-fonts.css"/>
  </Fragment>

  <Hero actions={[]}>
    <Fragment slot="title">
      <div style="font-size: 1em; font-weight: bold; margin-bottom: 8px;">Welcome to <span style="color:#228B22; font-weight: 700;">Invest</span> in your <span style="color:#228B22; font-weight: 700;">Energy</span></div>
      </Fragment>
  
    <Fragment slot="subtitle">
      Our platform serves as a one-stop shop for those looking to invest in their homes energy potential.
    </Fragment>
  </Hero>

 <MainPageNote />

  <Features3
  id="inflation-reduction-roadmap"
  title="Your Energy Efficiency Roadmap"
  tagline='Navigating the IRA'
  subtitle="Discover how the Inflation Reduction Act can be your guide to a more energy efficient and grid independent home."


  columns={2}
  items={[
    {
      title: 'Federal Tax Credits',
      description: 'Maximize savings with federal tax credits available under the IRA for qualifying energy-efficient home improvements and renewable energy installations.',
      icon: 'tabler:receipt-tax',
    },
    {
      title: 'State-Level Rebates',
      description: 'Take advantage of state-specific rebates and incentives for energy-efficient upgrades and renewable energy systems, complementing federal tax credits.',
      icon: 'tabler:receipt-refund',
    },
    {
      title: 'Renewable Energy Solutions',
      description: 'Embrace renewable energy options including solar, wind, geothermal systems, and home energy storage, reducing reliance on traditional power sources .',
      icon: 'tabler:sun-wind',
    },
    {
      title: 'Energy Efficient Appliances',
      description: 'Upgrade to energy-efficient appliances to optimize major energy users like heating, cooling, and water heating for notable utility bill savings.',
      icon: 'tabler:home-eco',
    },
    {
      title: 'Smart Energy Devices',
      description: 'Incorporate IoT-enabled smart energy devices for control over your homes energy consumption, reducing waste and optimizing energy usage.',
      icon: 'tabler:smart-home',
    },
    {
      title: 'Home Insulation & Sealing',
      description: 'Improve your homes insulation and sealing to boost energy efficiency, resulting in significant long-term savings on heating and cooling expenses.',
      icon: 'tabler:cloud-snow',
    },
    
  ]}
  image={{
    src: 'https://github.com/Anthonypaige/investnurenergy/blob/main/public/images/page-art/invest-in-your-energy-page-art.png?raw=true',
    alt: 'The Inflation Reduction Act serving as a roadmap to a more energy independent and efficient home',
  }}
/>
  
  <FeaturesLink
  title="Key Tax Benefits and Incentives"
  subtitle="These dedicated pages will serve as guides for their respective sub-acts."
  columns={3}
  items={[
    {
      title: 'Home Clean Energy Credit',
      description: 'Maximize your savings with the Residential Clean Energy Tax Credit (25D)  your guide to smarter clean energy investments',
      icon: 'tabler:home-bolt',
      link: '/clean-energy/home-clean-energy-credit'
    },
    {
      title: 'Energy-Efficient Home Upgrades',
      description: 'Enhance home efficiency and secure savings through Energy-Efficient Home Upgrade incentives',
      icon: 'tabler:home-eco',
      link: '/energy-efficient/energy-efficient-home-upgrades'
    },
    {
      title: 'Energy-Efficient Rebates',
      description: 'Your Guide to State-Level and HEEHRA Rebate Programs for Energy Efficiency Home Improvements',
      icon: 'tabler:receipt-refund',
      link: '/state-level-rebates/energy-efficient-rebates'
    },
  ]}
/>

<!-- IRA Eligibility Widget ******************* -->

<Fragment>
  <div id="calculator-section">
    <h2 id="calculator-title">Inflation Reduction Act Eligibility Calculator</h2>
    <div id="calculator-wrapper">
      <rewiring-america-calculator api-key="zpka_e218e73d2b60449ea4fd97122a5334bc_1dd9e2f0"></rewiring-america-calculator>
    </div>
  </div>
</Fragment> 

<FeaturesLink
  title="Home Improvements Covered in the IRA"
  subtitle=" Explore our themed pages devoted to various home improvements"
  columns={3}
  items={[
    {
      title: 'Air Source Heat Pumps',
      description: 'Heat pumps can reduce electricity use for heating by approximately 50% compared to electric resistance heating.',
      icon: 'tabler:air-conditioning',
      link: ' /energy-efficient/air-source-heat-pumps'
    },
    {
      title: 'Weatherization',
      description: 'Improve energy conservation, reduce utility bills,and improve home comfort with strategic home weatherization.',
      icon: 'tabler:cloud-snow',
      link: '/energy-efficient/weatherization'
    },
    {
      title: 'Solar Basics',
      description: 'Learn if solar is right for you by understanding the fundamentals of solar energy and its impact on your home',
      icon: 'tabler:solar-panel',
      link: '/clean-energy/solar-energy-basics'
    },
    {
      title: 'Home Energy Storage',
      description: 'Empower your home with smart energy devices for comprehensive energy management and efficient automation.',
      icon: 'tabler:battery-3',
      link: '/clean-energy/home-energy-storage'
    },
    {
      title: 'Wind Turbines',
      description: 'Integrate wind turbines as solars natural partner, bolstering home energy self-sufficiency and sustainability',
      icon: 'tabler:wind',
      link: '/clean-energy/wind-turbines'
    },
    {
      title: 'Geothermal Heat Pumps',
      description: 'Utilize geothermal heat pumps for eco-friendly, efficient heating and cooling using the earths constant underground temperatures"',
      icon: 'tabler:world',
      link: '/clean-energy/geothermal-heat-pumps'
    },
    {
      title: 'Energy Efficient Water Heaters',
      description: 'Switch to advanced water heaters for enhanced performance and notable cost savings with less environmental impact',
      icon: 'tabler:droplet-bolt',
      link: '/energy-efficient/energy-efficient-water-heaters'
    },
    {
      title: 'Smart Energy Devices',
      description: 'Empower your home with smart energy devices for comprehensive energy management and efficient automation.',
      icon: 'tabler:smart-home',
      link: '/state-level-rebates/smart-energy-devices'
    },
    {
      title: 'Solar Tax Incentive',
      description: 'We provide guidance to help you comprehend the financial aspects and broader economic implications within the solar industry.',
      icon: 'tabler:solar-panel-2',
      link: '/clean-energy/solar-tax-incentive'
    },
  ]}
/>


<FeaturedArticles 
  title="Featured Articles" 
  articleSlugs={[
    'unpacking-the-inflation-reduction-act',
    'mastering-time-of-use-rate-strategies',
    'alleviating-power-grid-strain',
    'ev-charger-shopping-guide',
    'how-do-electrical-panel-upgrades-work-with-the-IRA',
    'the-growing-importance-of-backup-batteries-in-todays-world',
    'guide-to-home-energy-monitoring',
    'solar-loans-a-guide-to-avoiding-pitfalls-and-maximizing-benefits',
  ]}
  />


  <!-- Custom CSS for Rewiring America Calculator -->
<Fragment slot="styles">
  <style>
    /* Add your custom styles for the calculator here */
    #calculator-section {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }

    /* Style the title */
    #calculator-title {
      font-size: 2rem; /* Increase font size */
      text-align: center; /* Center align text */
      margin-bottom: 1rem; /* Add some bottom margin */
      color: #228B22; /* Change text color */
      font-weight: bold; /* Make text bold */
    }

    /* Style the calculator wrapper */
    #calculator-wrapper {
      border: 2px solid #228B22; /* Add a border */
      padding: 1rem; /* Add some padding */
      border-radius: 10px; /* Add rounded corners */
      background-color: #f9f9f9; /* Add a background color */
      max-width: 80%; /* Set maximum width */
      margin-left: auto; /* Center align */
      margin-right: auto; /* Center align */
    }
  </style>
</Fragment>

<!-- FAQs Widget ******************* -->

<FAQs
  title="Frequently Asked Questions."
  classes={{ container: 'max-w-6xl' }}
  columns={1}
  items={[
    {
      title: 'What Benefits Does the Inflation Reduction Act of 2022 Offer?',
      description:
    "The Inflation Reduction Act is a landmark legislation that aims to tackle various economic and environmental challenges. One of its key provisions is the focus on energy efficiency and clean energy production. The act allocates significant funds for energy security and climate change programs. If you are looking to make your home more energy-efficient or invest in clean energy, this act provides various tax credits and incentives to help you do so.",
    },
    {
  title: 'What is Included in the Residential Clean Energy Property Credit? (25D)',
  description:
    "The 25D tax credit covers solar panels, solar water heaters, geothermal heat pumps, small wind turbines, and fuel cells. Must be installed in your primary or second home. Covers 30% of installation costs, no upper limit.",
},
{
  title: 'How Do Electric Vehicles (EVs) Fit Into the Energy Efficiency Equation?',
  description:
    "The 30D tax credit offers up to $7,500 for a new EV, and up to $4,000 for a qualified used EV. The 30C credit provides a 30% rebate for home EV charging station installation.",
},
{
  title: 'How do I Benefit from The Energy Efficiency Home Improvement Credits?',
  description:
    "The 25C credit offers tax benefits for energy-saving home improvements like heat pumps, heat pump water heaters, insulation, energy-efficient windows, and exterior doors",
},
{
  title: 'What is the Difference Between Tax Credits and Rebates?',
  description:
    "Tax credits like 25C, 25D, and 30C reduce your tax liability. HEEHRA and 30D offer instant rebates at the time of purchase or installation.",
},
{
  title: 'Can Federal Tax Credits Be Carried Forward to the Next Tax Year?',
  description:
    "Tax credits under 25D can be carried forward to future tax years. The 25C credit is available annually but must be claimed in the same tax year the improvements are made; it cannot be rolled over."
}
  ]}
  
/>
 <!-- Stats Widget ******************* -->

 <Stats
 title=" Federal Sub-acts and their tax codes"
 stats={[
   { title: 'Home Clean Energy', amount: '25D' },
   { title: 'Home EV Charger', amount: '30C' },
   { title: 'Energy Efficient Home', amount: '25C' },
   { title: 'EV Rebate', amount: '30D' },
 ]}
/>

</Layout>
