---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Pricing from '~/components/widgets/Pricing.astro';
import FeaturedArticles from '~/components/widgets/FeaturedArticles.astro';
import FAQs from '~/components/widgets/FAQs.astro';

const metadata = {
  title: 'Water Heaters',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    image={{
      src: 'https://github.com/Anthonypaige/investnurenergy/blob/main/public/images/hero-art/WTR-hero-image.png?raw=true',
      alt: 'Hot Shower Water',
    }}
  />

  <Pricing
  title="Water Heater Options"
  subtitle="Choose the best for your needs"
  prices={[
    {
      title: 'Heat Pump Water Heaters (HPWH)',
      subtitle: 'Tax Code: 25C, HEEHRA',
      price: '30% up to $2,000; or 50% or 100% with HEEHRA',
      period: '',
      items: [
        {
          description: 'Verified Energy Savings: $200 to $600 per year',
        },
      ],
      callToAction: {
        target: '_blank',
        text: 'Read the Article',
        href: '#', // Link to the article
      },
    },
    {
      title: 'Tankless Water Heaters',
      subtitle: 'Tax Code: 25C',
      price: '30% up to $600',
      period: '',
      items: [
        {
          description: 'Verified Energy Savings: 24%–34% more efficient',
        },
      ],
      callToAction: {
        target: '_blank',
        text: 'Read the Article',
        href: '#', // Link to the article
      },
    },
    {
      title: 'High-Efficiency Gas Storage Water Heaters',
      subtitle: 'Tax Code: 25C',
      price: '30% up to $600',
      period: '',
      items: [
        {
          description: 'Verified Energy Savings: 8% more efficient',
        },
      ],
      callToAction: {
        target: '_blank',
        text: 'Energy Star Qualifications',
        href: '#', // Link to Energy Star
      },
    },
    {
      title: 'Solar Water Heaters',
      subtitle: 'Tax Code: 25D',
      price: '30% of the cost',
      period: '',
      items: [
        {
          description: 'Verified Energy Savings: 50%-80% depending on area',
        },
      ],
      callToAction: {
        target: '_blank',
        text: 'Read the Article',
        href: '#', // Link to the article
      },
      hasRibbon: true,
      ribbonTitle: 'Eco-Friendly',
    },
  ]}
/>

<!-- Water Heaters (WTR) Featured Articles Widget -->
<FeaturedArticles 
  title="<center>Featured Articles on Water Heaters</center>" 
  articleSlugs={['federal-water-heater-tax-incentives', 'overview-solar-water-heaters', 'heat-pump-water-heaters', 'tankless-water-heaters']} 
/>
<!-- FAQs Widget ******************* -->

<FAQs
title="Frequently Asked Questions"
items={[
  {
    title: 'What are landing page templates?',
    description:
      'Landing page templates are pre-designed web page layouts that are specifically created to serve as a foundation for building effective landing pages. These templates are designed to capture the attention of visitors and guide them towards a specific action or goal, such as signing up for a newsletter, making a purchase, or downloading a resource.',
  },
  {
    title: 'Why should I use a template?',
    description:
      'Some of the advantages are that they provide a ready-to-use structure,  saving you significant time. Are designed with user-friendliness in mind and provide a cost-effective alternative, saving you money while still delivering a quality result.',
  },
  {
    title: 'Can I preview templates before buying?',
    description:
      'Yes, the templates allow you to preview them before making a purchase. There is a "Demo" button associated with each template.',
  },
  {
    title: 'Do I need technical skills to use a template?',
    description:
      'Advanced technical skills are not required to use a template, but having a basic understanding of web navigation and familiarity with using online tools can still be beneficial. If you have more specific customization needs, you might need to consult guides or reach out to customer support for assistance.',
  },
  {
    title: 'Can I use the template on multiple websites?',
    description:
      'No, the template comes with a single-use license, meaning you can use the template on one website or project only. Using the template on additional websites would require purchasing additional licenses.',
  },
  {
    title: 'What if I need help with customization?',
    description:
      "The templates provides a comprehensive step-by-step guide that walk you through the customization process. If you still have doubts, you can reach out to our customer support team. They can answer your questions, provide guidance on customization, and address any issues you're facing.",
  },
]}
>
<Fragment slot="bg">
  <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
</Fragment>
</FAQs>
</Layout>
