---
import Layout from '~/layouts/PageLayout.astro';
import Features2 from '~/components/widgets/Features2.astro';
---

<Layout>
  

  <style scoped>
    .bg-gray-800 {
      background-color: #2d3748;
    }
    tr.bg-gray-800:hover {
      background-color: #4A5568; /* or any other color you prefer */
    }
    /* Add any other custom styles here */
  </style>
  
  <section class="container mx-auto p-6">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
 
    <Features2
    title="EV Charger Comparison Table Legend"
    columns={3}
    items={[
      {
        title: 'Max Amps',
        description: 'The maximum current the charger can deliver.',
        icon: 'tabler:charging-pile'
      },
      {
        title: 'Wifi',
        description: 'Indicates if the charger can connect to a Wi-Fi network for remote control.',
        icon: 'tabler:wifi-2'
      },
      {
        title: 'Bluetooth',
        description: 'Specifies if the charger has Bluetooth capabilities for local control.',
        icon: 'tabler:bluetooth'
      },
      {
        title: 'Chord Management',
        description: 'Describes how the charging cable is stored or managed.',
        icon: 'tabler:plug'
      },
      {
        title: 'Installation',
        description: 'Type of plug or if the unit needs to be hardwired.',
        icon: 'tabler:plug-connected'
      },
      {
        title: 'Outdoor Rating',
        description: 'The NEMA rating indicating outdoor suitability.',
        icon: 'tabler:cloud-storm'
      }
    ]}
  />
  



<!-- Table -->
<table id="comparisonTable" class="min-w-full bg-gray-800 text-white border border-gray-600">
    <thead class="bg-green-900 sticky top-0 rounded-t-lg">
      <tr>
        <th class="py-2 px-4 border border-gray-600 bg-green-700 rounded-tl-lg">Shop Here</th>
        <th class="py-2 px-4 border border-gray-600 bg-green-700">Ev Charger</th>
        <th class="py-2 px-4 border border-gray-600 bg-green-700">AvgPrice</th>
        <th class="py-2 px-4 border border-gray-600 bg-green-700">Max Amps</th>
        <th class="py-2 px-4 border border-gray-600 bg-green-700">Wifi</th>
        <th class="py-2 px-4 border border-gray-600 bg-green-700">Bluetooth</th>
        <th class="py-2 px-4 border border-gray-600 bg-green-700">Chord Management</th>
        <th class="py-2 px-4 border border-gray-600 bg-green-700">Installation</th>
        <th class="py-2 px-4 border border-gray-600 bg-green-700 rounded-tr-lg">Outdoor Rating</th>
      </tr>
    </thead>

<tbody>


<!-- Autel MaxiCharger 40A Smart Charger -->
<tr class="bg-gray-800 hover:bg-gray-700">
    <td class="py-2 px-4 border border-gray-600">
      <a href='https://amzn.to/3RpBs51' target='_blank' rel='noopener noreferrer'>
        <img src='https://github.com/Anthonypaige/investnurenergy/blob/main/public/images/product-images/autel-evse.png?raw=true' alt='Autel MaxiCharger 40A Smart Charger' class="w-12 h-auto" />
        Shop Now
      </a>
    </td>
    <td class="py-2 px-4 border border-gray-600">Autel MaxiCharger 50A Smart Charger</td>
    <td class="py-2 px-4 border border-gray-600">$600</td>
    <td class="py-2 px-4 border border-gray-600">50 Amps</td>
    <td class="py-2 px-4 border border-gray-600">Yes</td>
    <td class="py-2 px-4 border border-gray-600">Yes</td>
    <td class="py-2 px-4 border border-gray-600">Separate holster</td>
    <td class="py-2 px-4 border border-gray-600">Hardwired</td>
    <td class="py-2 px-4 border border-gray-600">NEMA 4X</td>
  </tr>
  
  <!-- JuiceBox 40A Smart Charger -->
  <tr class="bg-gray-800 hover:bg-gray-700">
    <td class="py-2 px-4 border border-gray-600">
      <a href='https://amzn.to/45VXuR2' target='_blank' rel='noopener noreferrer'>
        <img src='https://github.com/Anthonypaige/investnurenergy/blob/main/public/images/product-images/juice-evse.png?raw=true' alt='JuiceBox 40A Smart Charger' class="w-12 h-auto" />
        Shop Now
      </a>
    </td>
    <td class="py-2 px-4 border border-gray-600">JuiceBox 40A Smart Charger</td>
    <td class="py-2 px-4 border border-gray-600">$600</td>
    <td class="py-2 px-4 border border-gray-600">40 Amps</td>
    <td class="py-2 px-4 border border-gray-600">Yes</td>
    <td class="py-2 px-4 border border-gray-600">Yes</td>
    <td class="py-2 px-4 border border-gray-600">Wall Mount</td>
    <td class="py-2 px-4 border border-gray-600">NEMA 14-50 plug</td>
    <td class="py-2 px-4 border border-gray-600">NEMA 4X/IP66</td>
  </tr>
  
  <!-- Lectron 40 Amp Level 2 -->
  <tr class="bg-gray-800 hover:bg-gray-700">
    <td class="py-2 px-4 border border-gray-600">
      <a href='https://amzn.to/3EI78La' target='_blank' rel='noopener noreferrer'>
        <img src='https://github.com/Anthonypaige/investnurenergy/blob/main/public/images/product-images/lectron-evse.png?raw=true' alt='Lectron 40 Amp Level 2' class="w-12 h-auto" />
        Shop Now
      </a>
    </td>
    <td class="py-2 px-4 border border-gray-600">Lectron 48 Amp Level 2</td>
    <td class="py-2 px-4 border border-gray-600">$450</td>
    <td class="py-2 px-4 border border-gray-600">40 Amps</td>
    <td class="py-2 px-4 border border-gray-600">No</td>
    <td class="py-2 px-4 border border-gray-600">No</td>
    <td class="py-2 px-4 border border-gray-600">J-Hook</td>
    <td class="py-2 px-4 border border-gray-600">NEMA 14-50 plug</td>
    <td class="py-2 px-4 border border-gray-600">NEMA 4X/IP55</td>
  </tr>
  
  <!-- Electrify America Level 2 -->
  <tr class="bg-gray-800 hover:bg-gray-700">
    <td class="py-2 px-4 border border-gray-600">
      <a href='https://amzn.to/46hAzPR' target='_blank' rel='noopener noreferrer'>
        <img src='https://github.com/Anthonypaige/investnurenergy/blob/main/public/images/product-images/electrify-america-evse.png?raw=true' alt='Electrify America Level 2' class="w-12 h-auto" />
        Shop Now
      </a>
    </td>
    <td class="py-2 px-4 border border-gray-600">Electrify America Level 2</td>
    <td class="py-2 px-4 border border-gray-600">$650</td>
    <td class="py-2 px-4 border border-gray-600">40 Amps</td>
    <td class="py-2 px-4 border border-gray-600">Yes</td>
    <td class="py-2 px-4 border border-gray-600">No</td>
    <td class="py-2 px-4 border border-gray-600">Separate holster</td>
    <td class="py-2 px-4 border border-gray-600">NEMA 14-50 plug</td>
    <td class="py-2 px-4 border border-gray-600">NEMA 3R</td>
  </tr>
  
  <!-- Wallbox Pulsar Plus 40A Smart Charger -->
  <tr class="bg-gray-800 hover:bg-gray-700">
    <td class="py-2 px-4 border border-gray-600">
      <a href='https://amzn.to/3PoQpkW' target='_blank' rel='noopener noreferrer'>
        <img src='https://github.com/Anthonypaige/investnurenergy/blob/main/public/images/product-images/wallbox-evse.png?raw=true' alt='Wallbox Pulsar Plus 40A Smart Charger' class="w-12 h-auto" />
        Shop Now
      </a>
    </td>
    <td class="py-2 px-4 border border-gray-600">Wallbox Pulsar Plus 40A Smart Charger</td>
    <td class="py-2 px-4 border border-gray-600">$650</td>
    <td class="py-2 px-4 border border-gray-600">40 Amps</td>
    <td class="py-2 px-4 border border-gray-600">Yes</td>
    <td class="py-2 px-4 border border-gray-600">Yes</td>
    <td class="py-2 px-4 border border-gray-600">Separate holster</td>
    <td class="py-2 px-4 border border-gray-600">NEMA 14-50 plug</td>
    <td class="py-2 px-4 border border-gray-600">NEMA-4</td>
  </tr>
  
  
  <!-- Emporia 48A Smart Charger -->
  <tr class="bg-gray-800 hover:bg-gray-700">
    <td class="py-2 px-4 border border-gray-600">
      <a href='https://amzn.to/3EI78La' target='_blank' rel='noopener noreferrer'>
        <img src='https://github.com/Anthonypaige/investnurenergy/blob/main/public/images/product-images/lectron-evse.png?raw=true' alt='Emporia 48A Smart Charger' class="w-12 h-auto" />
        Shop Now
      </a>
    </td>
    <td class="py-2 px-4 border border-gray-600">Emporia 48A Smart Charger</td>
    <td class="py-2 px-4 border border-gray-600">$400</td>
    <td class="py-2 px-4 border border-gray-600">48 Amps</td>
    <td class="py-2 px-4 border border-gray-600">No</td>
    <td class="py-2 px-4 border border-gray-600">No</td>
    <td class="py-2 px-4 border border-gray-600">Wall Mount</td>
    <td class="py-2 px-4 border border-gray-600">Hardwired/Plug-in</td>
    <td class="py-2 px-4 border border-gray-600">NEMA-4</td>
  </tr>
  
  <!-- ChargePoint 50A Smart Charger -->
  <tr class="bg-gray-800 hover:bg-gray-700">
    <td class="py-2 px-4 border border-gray-600">
      <a href='https://amzn.to/3Rqq2hg' target='_blank' rel='noopener noreferrer'>
        <img src='https://github.com/Anthonypaige/investnurenergy/blob/main/public/images/product-images/autel-evse.png?raw=true' alt='ChargePoint 50A Smart Charger' class="w-12 h-auto" />
        Shop Now
      </a>
    </td>
    <td class="py-2 px-4 border border-gray-600">ChargePoint 50A Smart Charger</td>
    <td class="py-2 px-4 border border-gray-600">$600</td>
    <td class="py-2 px-4 border border-gray-600">50 Amps</td>
    <td class="py-2 px-4 border border-gray-600">Yes</td>
    <td class="py-2 px-4 border border-gray-600">Yes</td>
    <td class="py-2 px-4 border border-gray-600">Built in</td>
    <td class="py-2 px-4 border border-gray-600">Hardwired/Plug-in</td>
    <td class="py-2 px-4 border border-gray-600">NEMA 3R</td>
  </tr>
  
</tbody>
</table>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    $('#comparisonTable').DataTable();
  });
</script>
</Layout>