---
import Layout from '~/layouts/Layout.astro';
import Hero from '~/components/widgets/Hero.astro';
---

<Layout>
  <!-- Hero Widget -->
  <Hero title="Portable Power Station Comparison Table" />

<section class="container mx-auto p-6">
    <!-- DataTables CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <!-- DataTables Script -->
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>

 <!-- Table -->
<table id="comparisonTable" class="min-w-full bg-gray-800 text-white border border-gray-600">
  <thead>
    <tr>
      <th class="py-2 px-4 border border-gray-600 bg-gray-700">Shop Here</th>
      <th class="py-2 px-4 border border-gray-600 bg-gray-700">Battery System</th>
      <th class="py-2 px-4 border border-gray-600 bg-gray-700">System Price</th>
      <th class="py-2 px-4 border border-gray-600 bg-gray-700">Cell Type</th>
      <th class="py-2 px-4 border border-gray-600 bg-gray-700">Life Cycles</th>
      <th class="py-2 px-4 border border-gray-600 bg-gray-700">Usable Capacity</th>
      <th class="py-2 px-4 border border-gray-600 bg-gray-700">Continuous Output Power</th>
      <th class="py-2 px-4 border border-gray-600 bg-gray-700">Surge Power</th>
      <th class="py-2 px-4 border border-gray-600 bg-gray-700">Charging Time AC</th>
    </tr>
  </thead>
<!-- Table Body -->
<tbody>
  <tr class="hover:bg-gray-700">
    <td class="py-2 px-4 border border-gray-600">
      <a href='https://amzn.to/3qes8Wj' target='_blank' rel='noopener noreferrer'>
        <img src='https://github.com/Anthonypaige/investnurenergy/blob/main/public/images/product-images/bluetti-ac-300.png?raw=true' alt='Bluetti AC 300 battery system' class="w-12 h-auto" />
        Shop Here
      </a>
    </td>
    <td class="py-2 px-4 border border-gray-600">Bluetti AC300 + B300 System</td>
    <td class="py-2 px-4 border border-gray-600">$2,600</td>
    <td class="py-2 px-4 border border-gray-600">LiFePO4</td>
    <td class="py-2 px-4 border border-gray-600">3,500 to 80%</td>
    <td class="py-2 px-4 border border-gray-600">3.07 kwh</td>
    <td class="py-2 px-4 border border-gray-600">3KW</td>
    <td class="py-2 px-4 border border-gray-600">6 KW</td>
    <td class="py-2 px-4 border border-gray-600">1.5 hours</td>
  </tr>
  <!-- ... other rows -->
</tbody>
    </table>

    <!-- DataTables Initialization -->
    <script>
      document.addEventListener("DOMContentLoaded", function() {
        $('#comparisonTable').DataTable();
      });
    </script>
  </section>
</Layout>