<<<<<<< HEAD:src/components/Notes/HomeCleanEnergyNote.astro
---
import { Icon } from 'astro-icon/components';
---

<section class="bg-blue-50 dark:bg-slate-800 not-prose">
  <div class="max-w-6xl mx-auto px-4 sm:px-6 py-4 text-md text-center font-medium">
    <span class="font-bold">
      <Icon name="tabler:info-square" class="w-5 h-5 inline-block align-text-bottom" /> 
      In this era of rising utility costs, power grid strain, and dwindling fossil fuels, it's time we take a closer look at our energy choices
  </div>
</section>
=======
---
import { Icon } from 'astro-icon/components';
---


<section class="bg-blue-50 dark:bg-slate-800 not-prose">
  <div class="max-w-6xl mx-auto px-4 sm:px-6 py-4 text-md text-center font-medium">
    <span class="font-bold">
      <Icon name="tabler:info-square" class="w-5 h-5 inline-block align-text-bottom" />
    Geothermal Heat Pumps create clean energy that is 400% more efficient and can last up to 50 years.
  </div>

</section>
>>>>>>> e2d9afd9c0ecff1f86a07c5dad03a8801effd992:src/components/widgets/GeothermalNote.astro
