---
import { Icon } from 'astro-icon/components';
---


<section class="bg-blue-50 dark:bg-slate-800 not-prose">
  <div class="max-w-6xl mx-auto px-4 sm:px-6 py-4 text-md text-center font-medium">
    <span class="font-bold">
      <Icon name="tabler:info-square" class="w-5 h-5 inline-block align-text-bottom" /> 
<<<<<<< HEAD:src/components/Notes/SolarBasicsNote.astro
    Understand solar basics to assess home suitability and make informed choices.
=======
    Smart Thermostats can save up to 20% on heating and cooling costs.
>>>>>>> e2d9afd9c0ecff1f86a07c5dad03a8801effd992:src/components/widgets/SmartThermostatNote.astro
  </div>

</section>
