---
import { Icon } from 'astro-icon/components';
---

<section class="bg-blue-50 dark:bg-slate-800 not-prose">
    <div class="max-w-6xl mx-auto px-4 sm:px-6 py-4 text-md text-center font-medium">
      <span class="font-bold">
        <Icon name="tabler:info-square" class="w-5 h-5 inline-block align-text-bottom" /> 
<<<<<<< HEAD:src/components/Notes/WeatherizationNote.astro
      Proper insulation can reduce heating and cooling costs by up to 20%.
=======
     Proper insulation can reduce heating and cooling costs by up to 20%.
>>>>>>> e2d9afd9c0ecff1f86a07c5dad03a8801effd992:src/components/widgets/WeatherizationNote.astro
    </div>
  </section>
  