---
import { Icon } from 'astro-icon/components';
---


<section class="bg-blue-50 dark:bg-slate-800 not-prose">
  <div class="max-w-6xl mx-auto px-4 sm:px-6 py-4 text-md text-center font-medium">
    <span class="font-bold">
<<<<<<< HEAD:src/components/Notes/WindTurbineNote.astro
      <Icon name="tabler:info-square" class="w-5 h-5 inline-block align-text-bottom" />
    Wind turbines complement solar's weakness and integrate seamlessly with home energy storage.
=======
      <Icon name="tabler:info-square" class="w-5 h-5 inline-block align-text-bottom" /> 
    Understand solar basics to assess home suitability and make informed choices.
>>>>>>> e2d9afd9c0ecff1f86a07c5dad03a8801effd992:src/components/widgets/SolarBasicsNote.astro
  </div>
</section>



