---
import Layout from '~/layouts/PageLayout.astro';
import SmartEnergyDeviceNote from '~/components/widgets/SmartEnergyDeviceNote.astro';
import Hero from '~/components/widgets/Hero.astro';
import FeaturedArticles from '~/components/widgets/FeaturedArticles.astro';


const metadata = {
  title: 'Smart Energy Devices',
};
---
<Layout metadata={metadata}>
 

 <!-- Hero Widget ******************* -->
 <Hero actions={[]}>
  <Fragment slot="title">
    <div style="font-size: 1em; font-weight: bold; margin-bottom: 8px;">Smart <span style="color:#228B22; font-weight: 700;">Energy</span> Devices</div>
  </Fragment>

  <Fragment slot="subtitle">
    Enhance your home's energy efficiency and convenience with smart devices that adapt to your lifestyle.
  </Fragment>
</Hero>

  <SmartEnergyDeviceNote />

  <!-- Featured Articles Widget ******************* -->
<FeaturedArticles 
  title="Featured Articles" 
  articleSlugs={[
    'iot-is-fueling-smart-energy-devices',
    'home-energy-monitoring-your-guide-to-energy-efficiency',
    'emporias-home-energy-monitoring-systems',
    'senses-home-energy-monitoring-system-driven-by-machine-learning',
    'smart-thermostat-shopping-guide-what-you-need-to-know',
    'ecobee-smart-thermostats-buying-guide',
    'your-comprehensive-google-nest-buying-guide',
  ]}
  

  />

</Layout>
