---
import Layout from '~/layouts/PageLayout.astro';
import SmartEnergyDeviceNote from '~/components/widgets/SmartEnergyDeviceNote.astro';
import Hero from '~/components/widgets/Hero.astro';
import FeaturedArticles from '~/components/widgets/FeaturedArticles.astro';

const metadata = {
  title: 'Smart Energy Devices',
};
---
<Layout metadata={metadata}>
 
  <!-- Hero Widget ******************* -->
  <Hero actions={[]} videoSrc="/images/smart-home-video.mp4">
    <Fragment slot="title">
      <div class="text-right text-green-600 font-bold" style="font-size: 1em; margin-bottom: 8px;">Smart Energy Devices</div>
    </Fragment>
  </Hero>
  
  <section class="container mx-auto p-9"></section>

  <SmartEnergyDeviceNote />

  <!-- Featured Articles Widget ******************* -->
  <FeaturedArticles 
    title="Featured Articles" 
    articleSlugs={[
      'iot-is-fueling-smart-energy-devices',
      'home-energy-monitoring-your-guide-to-energy-efficiency',
      'emporias-home-energy-monitoring-systems',
      'senses-home-energy-monitoring-system-driven-by-machine-learning',
      'smart-thermostat-shopping-guide-what-you-need-to-know',
      'ecobee-smart-thermostats-buying-guide',
      'your-comprehensive-google-nest-buying-guide',
    ]}
  />
</Layout>
