---
import Layout from '~/layouts/PageLayout.astro';
import SmartEnergyDeviceNote from '~/components/widgets/SmartEnergyDeviceNote.astro';
import Hero from '~/components/widgets/Hero.astro';
import FeaturedArticles from '~/components/widgets/FeaturedArticles.astro';

const metadata = {
  title: 'Smart Energy Devices',
};
---
<Layout metadata={metadata}>
  <Hero actions={[]} videoSrc="/images/smart-home-video.mp4">
    <Fragment slot="title">
      <div class="text-center font-bold lg:text-8xl md:text-4xl sm:text-4xl text-xl mt-15">
        <div class="inline-block text-right">
          <div>Smart <span class="text-green-600">Energy</span> Devices</div>
          <!-- <div class="text-center lg:text-6xl md:text-4xl sm:text-4xl text-xl" style="margin: 0 auto;">
            Devices
          </div> -->
        </div>
      </div>
    </Fragment>
  </Hero>
  
  
  
  <section class="container mx-auto p-9"></section>

  <SmartEnergyDeviceNote />

  <!-- Featured Articles Widget ******************* -->
  <FeaturedArticles 
    title="Featured Articles" 
    articleSlugs={[
      'iot-is-fueling-smart-energy-devices',
      'home-energy-monitoring-your-guide-to-energy-efficiency',
      'emporias-home-energy-monitoring-systems',
      'senses-home-energy-monitoring-system-driven-by-machine-learning',
      'smart-thermostat-shopping-guide-what-you-need-to-know',
      'ecobee-smart-thermostats-buying-guide',
      'your-comprehensive-google-nest-buying-guide',
    ]}
  />
</Layout>
