---
import Layout from '~/layouts/PageLayout.astro';
import MarketplaceGrid from '~/components/ui/MarketplaceGrid.astro';
import Hero from '~/components/widgets/Hero.astro';

const items = [
  
{
    title: 'Eco Flow Delta Pro',
    imageSrc: 'https://github.com/Anthonypaige/investnurenergy/blob/main/public/images/cover-art/HES-4-cover-art.png?raw=true',
    topSellingPoints: [
  '3.6kWh Continious Output',
  'Smart Energy Management',
  '2.7hr Fast Charge',
  'Solar/Wind Compatible',
  'EV Station Recharge'
],
    avgPrice: '$3000',
    // shopButton: {
    //   text: 'Shop Here',
    //   href: 'https://amzn.to/460nJoB',
    // },
    shopAmazonButton: { // <-- Add this for each item
      text: 'Shop Amazon',
      href: 'https://amzn.to/460nJoB',
    }
  },
  
  {
    title: 'Emporia Home Energy Monitoring',
    imageSrc: 'https://github.com/Anthonypaige/investnurenergy/blob/main/public/images/product-images/emporia-8-50.png?raw=true',
    topSellingPoints: [
  'Real-Time Energy Data',
  'Circuit-Level Monitoring',
  'Solar Integration',
  '8 50A Circuit Level Sensors',
  'Comprehensive App Control'
],
    avgPrice: '$125',
    // shopButton: {
    //   text: 'Shop Here',
    //   href: 'https://amzn.to/3sfTEDJ',
    // },
    shopAmazonButton: { 
      text: 'Shop Amazon',
      href: 'https://amzn.to/3sfTEDJ',
    }
  },
  {
  title:"Amazon Smart Thermostat",
  imageSrc:"https://github.com/Anthonypaige/investnurenergy/blob/main/public/images/product-images/amazon-smart-thermostat.png?raw=true",
  topSellingPoints: [
    "Energy Star Certified",
    "Voice & App Control",
    "Automatic Adjustments",
    "DIY Installation",
    "Rebate Eligible"
  ],
  avgPrice: "$80",
  // "shopButton": {
  //   "text": "Shop Here",
  //   "href": "https://amzn.to/45MCawo"
  "shopAmazonButton": {
    "text": "Shop Amazon",
    "href": "https://amzn.to/45MCawo",
  }
  },
  {
    title: 'Bluetti 300AC +B300',
    imageSrc: 'https://github.com/Anthonypaige/investnurenergy/blob/main/public/images/product-images/bluetti-ac-300.png?raw=true',
    topSellingPoints: [
  'LiFePO4 Battery Cells',
  'Flexible Charging Options',
  'User-Friendly Interfaces',
  'Solar Compatibility',
  'Scalability Potential'
],
   avgPrice: '$2,700',
    // shopButton: {
    //   text: 'Shop Here',
    //   href: 'https://amzn.to/3qes8Wj',
    // },
    shopAmazonButton: { 
      text: 'Shop Amazon',
      href: 'https://amzn.to/3qes8Wj',
    }
  },
  {
    title: 'Emporia EV Charger',
    imageSrc: 'https://github.com/Anthonypaige/investnurenergy/blob/main/public/images/product-images/emporia-evse.png?raw=true',
    topSellingPoints: [
  'Real-Time Energy Data',
  'Solar-Only Charging',
  'Hardwired or Plug-In',
  'Energy Star Certified',
  'WiFi-Enabled'
],
    
    avgPrice: '$400',
    // shopButton: {
    //   text: 'Shop Here',
    //   href: 'https://amzn.to/40fpsoT',
    // },
    shopAmazonButton: { 
      text: 'Shop Amazon',
      href: 'https://amzn.to/40fpsoT',
    }
  },
  {
    title: 'Ecobee 3 Lite',
    imageSrc: 'https://github.com/Anthonypaige/investnurenergy/blob/main/public/images/product-images/ecobee-3-lite.png?raw=true',
    topSellingPoints: [
  'Energy Star Certified',
  'Time of Use Feature',
  'Adjusts Temp for Humidity',
  'Schedule Assistant',
  'Smart Home & Away'
 ],
    avgPrice: '$145',
    // shopButton: {
    //   text: 'Shop Here',
    //   href: 'https://amzn.to/46Zu8C9',
    // },
    shopAmazonButton: { // <-- Add this for each item
      text: 'Shop Amazon',
      href: 'https://amzn.to/46Zu8C9',
    }
  },
  {
    title: 'Renogy Lycan 5000',
    imageSrc: 'https://github.com/Anthonypaige/investnurenergy/blob/main/public/images/product-images/lycan-5000.png?raw=true',
    topSellingPoints: [
  '4.8kWh LiFePO4 Battery',
  '3.5 kWh Continious Output',
  'Portable & Modular Design',
  'User friendly interface',
  'Smart Power Management',
],

    avgPrice: '$3,200',
    // shopButton: {
    //   text: 'Shop Here',
    //   href: 'https://amzn.to/45P85fT',
    // },
    shopAmazonButton: { 
      text: 'Shop Amazon',
      href: 'https://amzn.to/45P85fT',
    }
  },
  {
    title: 'Chargepoint EV Charger',
    imageSrc: 'https://github.com/Anthonypaige/investnurenergy/blob/main/public/images/product-images/chargepoint-evse.png?raw=true',
    topSellingPoints: [
  'Amazon Best Seller',
  'Largest EV Charging Network',
  'Up to 50A Output',
  'Energy Star Certified',
  'Advanced features'
],
   
    avgPrice: ' $600',
    // shopButton: {
    //   text: 'Shop Here',
    //   href: 'https://amzn.to/46ZA3qa',
    // },
    shopAmazonButton: { // <-- Add this for each item
      text: 'Shop Amazon',
      href: 'https://amzn.to/46ZA3qa',
    }
  },
  {
    title: 'Ecobee Smart Premium',
    imageSrc: 'https://github.com/Anthonypaige/investnurenergy/blob/main/public/images/product-images/ecobee-premium.png?raw=true',
    topSellingPoints: [
  'Multi-Platform Compatibility',
  'Security & Speaker',
  'Air Quality Monitoring',
  '$40 Smart Sensor Included',
  'Advanced-Learning'
],

    avgPrice: '$225',
    // shopButton: {
    //   text: 'Shop Here',
    //   href: 'https://amzn.to/4705a5e',
    // },
    shopAmazonButton: { // <-- Add this for each item
      text: 'Shop Amazon',
      href: 'https://amzn.to/4705a5e',
    }
  },


];

const columns = 3;
---

<section class="container mx-auto p-9"></section>

<Layout>
  <!-- HeroText Widget ******************* -->
  <Hero
  tagline="Curated Choices, Trusted Value"
  title=" Affiliate Marketplace "
  subtitle='Explore handpicked solutions that kickstart your energy-efficient lifestyle. Stay tuned as our collection grows with you.'
  />
  <MarketplaceGrid items={items} columns={columns} />
</Layout>