---
import Layout from '~/layouts/PageLayout.astro';
import MarketplaceGrid from '~/components/ui/MarketplaceGrid.astro';
import Hero from '~/components/widgets/Hero.astro';

const items = [
  
{
    title: 'Eco Flow Delta Pro',
    imageSrc: 'https://github.com/Anthonypaige/investnurenergy/blob/main/public/images/cover-art/HES-4-cover-art.png?raw=true',
    topSellingPoints: [
  '3.6kWh Continuous Output',
  'Smart Energy Management',
  '2.7hr Fast Charge',
  'Solar/Wind Compatible',
  'EV Station Recharge'
],
    avgPrice: '$3000',
    shopAmazonButton: { 
      text: 'Shop Amazon',
      href: 'https://amzn.to/3sEFqfT',
    }
  },
  {
    title: 'Emporia Home Energy Monitoring',
    imageSrc: 'https://github.com/Anthonypaige/investnurenergy/blob/main/public/images/product-images/emporia-8-50.png?raw=true',
    topSellingPoints: [
  'Real-Time Energy Data',
  'Circuit-Level Monitoring',
  'Solar Integration',
  '8 50A Circuit Level Sensors',
  'Comprehensive App Control'
],
    avgPrice: '$125',
    shopAmazonButton: { 
      text: 'Shop Amazon',
      href: 'https://amzn.to/46avxEs',
    }
  },
  {
  title:"Amazon Smart Thermostat",
  imageSrc:"https://github.com/Anthonypaige/investnurenergy/blob/main/public/images/product-images/amazon-smart-thermostat.png?raw=true",
  topSellingPoints: [
    "Energy Star Certified",
    "Voice & App Control",
    "Automatic Adjustments",
    "DIY Installation",
    "Rebate Eligible"
  ],
  avgPrice: "$80",
  "shopAmazonButton": {
    "text": "Shop Amazon",
    "href": "https://amzn.to/46cKdDc",
  }
  },
  {
    title: 'Bluetti 300AC +B300',
    imageSrc: 'https://github.com/Anthonypaige/investnurenergy/blob/main/public/images/product-images/bluetti-ac-300.png?raw=true',
    topSellingPoints: [
    'LiFePO4 Battery Cells',
  'User-Friendly Interface',
  'Solar Compatability',
  '3.07 kwh Capacity',
  '3 KW Continuous Output '
],
   avgPrice: '$2,700',   
    shopAmazonButton: { 
      text: 'Shop Amazon',
      href: 'https://amzn.to/49B7tOe',
    }
  },
  
  {
    title: 'Emporia EV Charger',
    imageSrc: 'https://github.com/Anthonypaige/investnurenergy/blob/main/public/images/product-images/emporia-evse.png?raw=true',
    topSellingPoints: [
  'Real-Time Energy Data',
  'Solar-Only Charging',
  'Hardwired or Plug-In',
  'Energy Star Certified',
  'WiFi-Enabled'
],
    
    avgPrice: '$400',
    shopAmazonButton: { 
      text: 'Shop Amazon',
      href: 'https://amzn.to/49uszNX',
    }
  },
  {
    title: 'Ecobee 3 Lite',
    imageSrc: 'https://github.com/Anthonypaige/investnurenergy/blob/main/public/images/product-images/ecobee-3-lite.png?raw=true',
    topSellingPoints: [
  'Energy Star Certified',
  'Time of Use Feature',
  'Adjusts Temp for Humidity',
  'Schedule Assistant',
  'Smart Home & Away'
 ],
    avgPrice: '$145',
    shopAmazonButton: {
      text: 'Shop Amazon',
      href: 'https://amzn.to/3MGVK6R',
    }
  },
  {
    title: 'Renogy Lycan 5000',
    imageSrc: 'https://github.com/Anthonypaige/investnurenergy/blob/main/public/images/product-images/lycan-5000.png?raw=true',
    topSellingPoints: [
  '4.8kWh LiFePO4 Battery',
  '3.5 kWh Continuous Output',
  'Portable & Modular Design',
  'User friendly interface',
  'Smart Power Management',
],

    avgPrice: '$3,200',
    shopAmazonButton: { 
      text: 'Shop Amazon',
      href: 'https://amzn.to/3QURwef',
    }
  },
  {
    title: 'Chargepoint EV Charger',
    imageSrc: 'https://github.com/Anthonypaige/investnurenergy/blob/main/public/images/product-images/chargepoint-evse.png?raw=true',
    topSellingPoints: [
  'Amazon Best Seller',
  'Largest EV Charging Network',
  'Up to 50A Output',
  'Energy Star Certified',
  'Advanced features'
],
   
    avgPrice: ' $600',
    shopAmazonButton: {
      text: 'Shop Amazon',
      href: 'https://amzn.to/40Cq1tl',
    }
  },
  {
    title: 'Ecobee Smart Premium',
    imageSrc: 'https://github.com/Anthonypaige/investnurenergy/blob/main/public/images/product-images/ecobee-premium.png?raw=true',
    topSellingPoints: [
  '$40 Smart Sensor Included',
  'Air Quality Monitoring',
  'Security & Speaker',
  'Advanced-Learning',
  'Multi-Platform Compatibility',
],

    avgPrice: '$225',
    shopAmazonButton: { 
      text: 'Shop Amazon',
      href: 'https://amzn.to/3ueei87',
    }
  },


];

const columns = 3;
---

<section class="container mx-auto p-9"></section>

<Layout>
  <!-- HeroText Widget ******************* -->
  <Hero
  title=" Affiliate Marketplace "
  subtitle='Browse our picks for products that deliver top energy savings and value, handpicked to give you the best bang for your buck'
  />
  <MarketplaceGrid items={items} columns={columns} />
</Layout>
