---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Features2 from '~/components/widgets/Features2.astro';
---

<Layout>
  

  <style scoped>
    .bg-gray-800 {
      background-color: #2d3748;
    }
    tr.bg-gray-800:hover {
      background-color: #4A5568; /* or any other color you prefer */
    }
    /* Add any other custom styles here */
  </style>
  
  <section class="container mx-auto p-6">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
 
    
  <!-- Hero Widget ******************* -->
  <Hero actions={[]} videoSrc="/images/ev-charger-video.mp4">
    <Fragment slot="title">
      <div class="text-right text-green-600 font-bold" style="font-size: 1em; margin-bottom: 8px;">Smart Ev Chargers</div>
    </Fragment>
  </Hero>


    <Features2
    title="Features Included"
    columns={3}
    items={[
      {
        title: 'Level 2 Charging',
        description: 'Offers faster charging speeds compared to Level 1, typically up to 7.2 kW.',
        icon: 'tabler:charging-pile'
      },
      {
        title: 'Wi-Fi Connectivity',
        description: 'Enables remote control and monitoring of charging sessions via a mobile app.',
        icon: 'tabler:wifi-2'
      },
      {
        title: 'Energy Star Certified',
        description: 'Meets Energy Star guidelines for energy efficiency and environmental impact.',
        icon: 'tabler:star'
      },
      {
        title: 'Energy Tracking',
        description: 'Provides real-time energy usage data to optimize cost and efficiency.',
        icon: 'tabler:device-analytics'
      },
      {
        title: 'TOU Scheduling',
        description: 'Allows scheduling during off-peak hours for reduced electricity rates.',
        icon: 'tabler:clock-dollar'
      },
      {
        title: 'Safety Certified',
        description: 'Meets UL or ETL safety standards for electrical components and charging.',
        icon: 'tabler:certificate-2'
      }
    ]}
  />
  
    
    
    
    


<!-- Table -->
<table id="comparisonTable" class="min-w-full bg-gray-800 text-white border border-gray-600">
    <thead class="bg-green-900 sticky top-0 rounded-t-lg">
      <tr>
        <th class="py-2 px-4 border border-gray-600 bg-green-700 rounded-tl-lg">Shop Here</th>
        <th class="py-2 px-4 border border-gray-600 bg-green-700">Ev Charger</th>
        <th class="py-2 px-4 border border-gray-600 bg-green-700">AvgPrice</th>
        <th class="py-2 px-4 border border-gray-600 bg-green-700">Max Amps</th>
        <th class="py-2 px-4 border border-gray-600 bg-green-700">Wifi</th>
        <th class="py-2 px-4 border border-gray-600 bg-green-700">Bluetooth</th>
        <th class="py-2 px-4 border border-gray-600 bg-green-700">Chord Management</th>
        <th class="py-2 px-4 border border-gray-600 bg-green-700">Installation</th>
        <th class="py-2 px-4 border border-gray-600 bg-green-700 rounded-tr-lg">Outdoor Rating</th>
      </tr>
    </thead>

<tbody>


<!-- Autel MaxiCharger 40A Smart Charger -->
<tr class="bg-gray-800 hover:bg-gray-700">
    <td class="py-2 px-4 border border-gray-600">
      <a href='https://amzn.to/3RpBs51' target='_blank' rel='noopener noreferrer'class="hover:text-green-500">
        <img src='https://github.com/Anthonypaige/investnurenergy/blob/main/public/images/product-images/autel-evse.png?raw=true' alt='Autel MaxiCharger 40A Smart Charger' class="w-12 h-auto" />
        Shop Now
      </a>
    </td>
    <td class="py-2 px-4 border border-gray-600">Autel MaxiCharger 50A Smart Charger</td>
    <td class="py-2 px-4 border border-gray-600">$600</td>
    <td class="py-2 px-4 border border-gray-600">50 Amps</td>
    <td class="py-2 px-4 border border-gray-600">Yes</td>
    <td class="py-2 px-4 border border-gray-600">Yes</td>
    <td class="py-2 px-4 border border-gray-600">Separate holster</td>
    <td class="py-2 px-4 border border-gray-600">Hardwired</td>
    <td class="py-2 px-4 border border-gray-600">NEMA 4X</td>
  </tr>
  
  <!-- JuiceBox 40A Smart Charger -->
  <tr class="bg-gray-800 hover:bg-gray-700">
    <td class="py-2 px-4 border border-gray-600">
      <a href='https://amzn.to/45VXuR2' target='_blank' rel='noopener noreferrer'class="hover:text-green-500">
        <img src='https://github.com/Anthonypaige/investnurenergy/blob/main/public/images/product-images/juice-evse.png?raw=true' alt='JuiceBox 40A Smart Charger' class="w-12 h-auto" />
        Shop Now
      </a>
    </td>
    <td class="py-2 px-4 border border-gray-600">JuiceBox 40A Smart Charger</td>
    <td class="py-2 px-4 border border-gray-600">$600</td>
    <td class="py-2 px-4 border border-gray-600">40 Amps</td>
    <td class="py-2 px-4 border border-gray-600">Yes</td>
    <td class="py-2 px-4 border border-gray-600">Yes</td>
    <td class="py-2 px-4 border border-gray-600">Wall Mount</td>
    <td class="py-2 px-4 border border-gray-600">NEMA 14-50 plug</td>
    <td class="py-2 px-4 border border-gray-600">NEMA 4X/IP66</td>
  </tr>
  
  <!-- Electrify America Level 2 -->
  <tr class="bg-gray-800 hover:bg-gray-700">
    <td class="py-2 px-4 border border-gray-600">
      <a href='https://amzn.to/46hAzPR' target='_blank' rel='noopener noreferrer'class="hover:text-green-500">
        <img src='https://github.com/Anthonypaige/investnurenergy/blob/main/public/images/product-images/electrify-america-evse.png?raw=true' alt='Electrify America Level 2' class="w-12 h-auto" />
        Shop Now
      </a>
    </td>
    <td class="py-2 px-4 border border-gray-600">Electrify America Level 2</td>
    <td class="py-2 px-4 border border-gray-600">$650</td>
    <td class="py-2 px-4 border border-gray-600">40 Amps</td>
    <td class="py-2 px-4 border border-gray-600">Yes</td>
    <td class="py-2 px-4 border border-gray-600">No</td>
    <td class="py-2 px-4 border border-gray-600">Separate holster</td>
    <td class="py-2 px-4 border border-gray-600">NEMA 14-50 plug</td>
    <td class="py-2 px-4 border border-gray-600">NEMA 3R</td>
  </tr>
  
  <!-- Wallbox Pulsar Plus 40A Smart Charger -->
  <tr class="bg-gray-800 hover:bg-gray-700">
    <td class="py-2 px-4 border border-gray-600">
      <a href='https://amzn.to/3PoQpkW' target='_blank' rel='noopener noreferrer'class="hover:text-green-500">
        <img src='https://github.com/Anthonypaige/investnurenergy/blob/main/public/images/product-images/wallbox-evse.png?raw=true' alt='Wallbox Pulsar Plus 40A Smart Charger' class="w-12 h-auto" />
        Shop Now
      </a>
    </td>
    <td class="py-2 px-4 border border-gray-600">Wallbox Pulsar Plus 40A Smart Charger</td>
    <td class="py-2 px-4 border border-gray-600">$650</td>
    <td class="py-2 px-4 border border-gray-600">40 Amps</td>
    <td class="py-2 px-4 border border-gray-600">Yes</td>
    <td class="py-2 px-4 border border-gray-600">Yes</td>
    <td class="py-2 px-4 border border-gray-600">Separate holster</td>
    <td class="py-2 px-4 border border-gray-600">NEMA 14-50 plug</td>
    <td class="py-2 px-4 border border-gray-600">NEMA-4</td>
  </tr>
  
  
  <!-- Emporia 48A Smart Charger -->
  <tr class="bg-gray-800 hover:bg-gray-700">
    <td class="py-2 px-4 border border-gray-600">
      <a href='https://amzn.to/3EI78La' target='_blank' rel='noopener noreferrer'class="hover:text-green-500">
        <img src='https://github.com/Anthonypaige/investnurenergy/blob/main/public/images/product-images/lectron-evse.png?raw=true' alt='Emporia 48A Smart Charger' class="w-12 h-auto" />
        Shop Now
      </a>
    </td>
    <td class="py-2 px-4 border border-gray-600">Emporia 48A Smart Charger</td>
    <td class="py-2 px-4 border border-gray-600">$400</td>
    <td class="py-2 px-4 border border-gray-600">48 Amps</td>
    <td class="py-2 px-4 border border-gray-600">No</td>
    <td class="py-2 px-4 border border-gray-600">No</td>
    <td class="py-2 px-4 border border-gray-600">Wall Mount</td>
    <td class="py-2 px-4 border border-gray-600">Hardwired/Plug-in</td>
    <td class="py-2 px-4 border border-gray-600">NEMA-4</td>
  </tr>
  
  <!-- ChargePoint 50A Smart Charger -->
  <tr class="bg-gray-800 hover:bg-gray-700">
    <td class="py-2 px-4 border border-gray-600">
      <a href='https://amzn.to/3Rqq2hg' target='_blank' rel='noopener noreferrer'class="hover:text-green-500">
        <img src='https://github.com/Anthonypaige/investnurenergy/blob/main/public/images/product-images/autel-evse.png?raw=true' alt='ChargePoint 50A Smart Charger' class="w-12 h-auto" />
        Shop Now
      </a>
    </td>
    <td class="py-2 px-4 border border-gray-600">ChargePoint 50A Smart Charger</td>
    <td class="py-2 px-4 border border-gray-600">$600</td>
    <td class="py-2 px-4 border border-gray-600">50 Amps</td>
    <td class="py-2 px-4 border border-gray-600">Yes</td>
    <td class="py-2 px-4 border border-gray-600">Yes</td>
    <td class="py-2 px-4 border border-gray-600">Built in</td>
    <td class="py-2 px-4 border border-gray-600">Hardwired/Plug-in</td>
    <td class="py-2 px-4 border border-gray-600">NEMA 3R</td>
  </tr>
  
</tbody>
</table>

<Features2
    title="Varying features"
    columns={3}
    items={[
      {
        title: 'Max Power Output',
        description: 'Indicates the charger\'s max current output. Higher amps mean faster charging.',
        icon: 'tabler:charging-pile'
      },
      {
        title: 'Bluetooth',
        description: 'Features Bluetooth for local control and connectivity options.',
        icon: 'tabler:bluetooth'
      },
      {
        title: 'Chord Management',
        description: 'Offers solutions for organized cable storage and easy access.',
        icon: 'tabler:plug'
      },
      {
        title: 'Installation',
        description: 'Specifies plug type or if hardwiring is required for setup.',
        icon: 'tabler:plug-connected'
      },
      {
        title: 'Solar Compatibility',
        description: 'Syncs with solar panels to use excess solar energy for charging.',
        icon: 'tabler:solar-panel-2'
      },
      {
        title: 'Outdoor Rating',
        description: 'Indicates NEMA rating for outdoor suitability. Higher is better.',
        icon: 'tabler:cloud-storm'
      }
    ]}
  />
  


<script>
  document.addEventListener("DOMContentLoaded", function() {
    $('#comparisonTable').DataTable();
  });
</script>
</Layout>