---
import Layout from '~/layouts/PageLayout.astro';
import Features2 from '~/components/widgets/Features2.astro';
---

<Layout>
  
  <!-- <Hero title="Portable Power Stations Comparison" /> -->
  
  <style scoped>
    .bg-gray-800 {
      background-color: #2d3748;
    }
    tr.bg-gray-800:hover {
      background-color: #4A5568; /* or any other color you prefer */
    }
    /* Add any other custom styles here */
  </style>
  
  <section class="container mx-auto p-6">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
 
    <Features2
  title="Features Included"
  columns={3}
  items={[
    {
     title: 'Min. 3kWh Capacity',
      description: 'Meets the 3kWh minimum capacity required for 30C tax credit eligibility.',
      icon: 'tabler:receipt-tax'
    },
    {
     title: 'Portable & Modular',
      description: 'Designed for on-the-go and home use, and easily expandable.',
      icon: 'tabler:walk'
    },
    {
     title: 'Energy Arbitrage',
     description: 'Allows you to capitalize on low-cost energy periods, saving money when rates soar.',
     icon: 'tabler:clock-dollar'
    },
    {
      title: 'Clean Energy Integration',
      description: 'Integrates with solar panels or wind turbines for clean energy use.',
      icon: 'tabler:sun-wind'
    },
    {
      title: 'Emergency Backup',
      description: 'Reliable power source for grid failures, offering grid independence',
      icon: 'tabler:urgent'
    },
  {
     title: 'User-Friendly Setup',
     description: 'Gives you the power to install it yourself, dodging costly professional fees.',
     icon: 'tabler:user-check'    
    }
  ]}
/>
   

    <!-- Table -->
 
    <table id="comparisonTable" class="min-w-full bg-gray-800 text-white border border-gray-600">
  <thead class="bg-green-900 sticky top-0 rounded-t-lg">
    <tr>
      <th class="py-2 px-4 border border-gray-600 bg-green-700 rounded-tl-lg">Shop Here</th>
      <th class="py-2 px-4 border border-gray-600 bg-green-700">Battery System</th>
      <th class="py-2 px-4 border border-gray-600 bg-green-700">Avg Price</th>
      <th class="py-2 px-4 border border-gray-600 bg-green-700">Cell Type</th>
      <th class="py-2 px-4 border border-gray-600 bg-green-700">Life Cycles</th>
      <th class="py-2 px-4 border border-gray-600 bg-green-700">Usable Capacity</th>
      <th class="py-2 px-4 border border-gray-600 bg-green-700">Continuous Output</th>
      <th class="py-2 px-4 border border-gray-600 bg-green-700">Surge Power</th>
      <th class="py-2 px-4 border border-gray-600 bg-green-700 rounded-tr-lg">Charging Time AC</th>
    </tr>
  </thead>

<!-- Table Body -->
<tbody>
  
  <!-- Bluetti AC300 + B300 System -->
  <tr class="bg-gray-800 hover:bg-gray-700">
    <td class="py-2 px-4 border border-gray-600">
      <a href='https://amzn.to/40dCXFR' target='_blank' rel='noopener noreferrer'class="hover:text-green-500">
        <img src='https://github.com/Anthonypaige/investnurenergy/blob/main/public/images/product-images/bluetti-ac-300.png?raw=true' alt='Bluetti AC 300 battery system' class="w-12 h-auto" />
        Shop Here
      </a>
    </td>
    <td class="py-2 px-4 border border-gray-600">Bluetti AC300 + B300 System</td>
    <td class="py-2 px-4 border border-gray-600">$2,600</td>
    <td class="py-2 px-4 border border-gray-600">LiFePO4</td>
    <td class="py-2 px-4 border border-gray-600">3,500 to 80%</td>
    <td class="py-2 px-4 border border-gray-600">3.07 kwh</td>
    <td class="py-2 px-4 border border-gray-600">3KW</td>
    <td class="py-2 px-4 border border-gray-600">6 KW</td>
    <td class="py-2 px-4 border border-gray-600">1.5 hours</td>
  </tr>
  
  <!-- Bluetti AC500 + 300S System -->
  <tr class="bg-gray-800 hover:bg-gray-700">
  <td class="py-2 px-4 border border-gray-600">
    <a href='https://amzn.to/3FxljmN' target='_blank' rel='noopener noreferrer'class="hover:text-green-500">
      <img src='https://github.com/Anthonypaige/investnurenergy/blob/main/public/images/product-images/bluetti-ac-500.png?raw=true' alt='Lectron' class="w-12 h-auto" />
      Shop Now
    </a>
  </td>
  <td class="py-2 px-4 border border-gray-600">Bluetti AC500 + 300S System</td>
  <td class="py-2 px-4 border border-gray-600">$4,800</td>
  <td class="py-2 px-4 border border-gray-600">LiFePO4</td>
  <td class="py-2 px-4 border border-gray-600">3,500 to 80%</td>
  <td class="py-2 px-4 border border-gray-600">3.07 kwh</td>
  <td class="py-2 px-4 border border-gray-600">5KW</td>
  <td class="py-2 px-4 border border-gray-600">10KW</td>
  <td class="py-2 px-4 border border-gray-600">80 minutes</td>
</tr>

<!-- Bluetti EP 500
<tr class="bg-gray-800 hover:bg-gray-700">
  <td class="py-2 px-4 border border-gray-600">
    <a href='https://amzn.to/3qes8Wj' target='_blank' rel='noopener noreferrer'class="hover:text-green-500">
      <img src='https://github.com/Anthonypaige/investnurenergy/blob/main/public/images/product-images/EP-Pro-500.png?raw=true' alt='Autel' class="w-12 h-auto" />
      Shop Now
    </a>
  </td>
  <td class="py-2 px-4 border border-gray-600">Bluetti EP 500</td>
  <td class="py-2 px-4 border border-gray-600">$4,800</td>
  <td class="py-2 px-4 border border-gray-600">LiFePO4</td>
  <td class="py-2 px-4 border border-gray-600">3,500 to 80%</td>
  <td class="py-2 px-4 border border-gray-600">5.1 kwh</td>
  <td class="py-2 px-4 border border-gray-600">2KW</td>
  <td class="py-2 px-4 border border-gray-600">4.8KW</td>
  <td class="py-2 px-4 border border-gray-600">9 hours</td>
</tr> -->


<!-- Bluetti EP 500 PRO -->
<tr class="bg-gray-800 hover:bg-gray-700">
  <td class="py-2 px-4 border border-gray-600">
    <a href='https://amzn.to/3qes8Wj' target='_blank' rel='noopener noreferrer'class="hover:text-green-500">
      <img src='https://github.com/Anthonypaige/investnurenergy/blob/main/public/images/product-images/EP-Pro-500.png?raw=true' alt='Juicebox' class="w-12 h-auto" />
      Shop Now
    </a>
  </td>
  <td class="py-2 px-4 border border-gray-600">Bluetti EP 500 PRO</td>
  <td class="py-2 px-4 border border-gray-600">$5,000</td>
  <td class="py-2 px-4 border border-gray-600">LiFePO4</td>
  <td class="py-2 px-4 border border-gray-600">3,500 to 80%</td>
  <td class="py-2 px-4 border border-gray-600">5.1 kwh</td>
  <td class="py-2 px-4 border border-gray-600">3KW</td>
  <td class="py-2 px-4 border border-gray-600">6 KW</td>
  <td class="py-2 px-4 border border-gray-600">1.5 hours</td>
</tr>

<!-- Eco Flow Delta Pro -->
<tr class="bg-gray-800 hover:bg-gray-700">
  <td class="py-2 px-4 border border-gray-600">
    <a href='https://amzn.to/3Se519O' target='_blank' rel='noopener noreferrer'>
      <img src='https://github.com/Anthonypaige/investnurenergy/blob/main/public/images/product-images/Delta-pro-base-unit.png?raw=true' alt='Electrify America' class="w-12 h-auto" />
      Shop Now
    </a>
  </td>
  <td class="py-2 px-4 border border-gray-600">Eco Flow Delta Pro</td>
  <td class="py-2 px-4 border border-gray-600">$3,000</td>
  <td class="py-2 px-4 border border-gray-600">LiFePO4</td>
  <td class="py-2 px-4 border border-gray-600">3,500 to 80%</td>
  <td class="py-2 px-4 border border-gray-600">3.6 kwh</td>
  <td class="py-2 px-4 border border-gray-600">3.6 KW</td>
  <td class="py-2 px-4 border border-gray-600">7.2 KW</td>
  <td class="py-2 px-4 border border-gray-600">2.7 hours</td>
</tr>

<!-- Eco Flow Delta Pro w/extra battery
<tr class="bg-gray-800 hover:bg-gray-700">
  <td class="py-2 px-4 border border-gray-600">
    <a href='https://amzn.to/3PoQpkW' target='_blank' rel='noopener noreferrer'class="hover:text-green-500">
      <img src='https://github.com/Anthonypaige/investnurenergy/blob/main/public/images/product-images/wallbox-evse.png?raw=true' alt='Wallbox Pulsar Plus' class="w-12 h-auto" />
      Shop Now
    </a>
  </td>
  <td class="py-2 px-4 border border-gray-600">Eco Flow Delta Pro w/extra battery</td>
  <td class="py-2 px-4 border border-gray-600">$5,200</td>
  <td class="py-2 px-4 border border-gray-600">LiFePO4</td>
  <td class="py-2 px-4 border border-gray-600">3,500 to 80%</td>
  <td class="py-2 px-4 border border-gray-600">7.2 kwh</td>
  <td class="py-2 px-4 border border-gray-600">3.6 KW</td>
  <td class="py-2 px-4 border border-gray-600">7.2 KW</td>
  <td class="py-2 px-4 border border-gray-600">2.7 hours</td>
</tr> -->

<!-- Eco Flow Delta Pro Double Up Kit -->
<tr class="bg-gray-800 hover:bg-gray-700">
  <td class="py-2 px-4 border border-gray-600">
    <a href='https://amzn.to/46hAzPR' target='_blank' rel='noopener noreferrer'class="hover:text-green-500">
      <img src='https://github.com/Anthonypaige/investnurenergy/blob/main/public/images/product-images/Delta-pro-base-unit.png?raw=true' alt='Electrify America' class="w-12 h-auto" />
      Shop Now
    </a>
  </td>
  <td class="py-2 px-4 border border-gray-600">Eco Flow Delta Pro Double Up Kit</td>
  <td class="py-2 px-4 border border-gray-600">$5,900</td>
  <td class="py-2 px-4 border border-gray-600">LiFePO4</td>
  <td class="py-2 px-4 border border-gray-600">3,500 to 80%</td>
  <td class="py-2 px-4 border border-gray-600">7.2 kwh</td>
  <td class="py-2 px-4 border border-gray-600">7.2 KW</td>
  <td class="py-2 px-4 border border-gray-600">7.2 KW</td>
  <td class="py-2 px-4 border border-gray-600">2.7 hours</td>
</tr>

<!-- Renogy Lycan 5000 -->
<tr class="bg-gray-800 hover:bg-gray-700">
  <td class="py-2 px-4 border border-gray-600">
    <a href='https://amzn.to/45P85fT' target='_blank' rel='noopener noreferrer'class="hover:text-green-500">
      <img src='https://github.com/Anthonypaige/investnurenergy/blob/main/public/images/product-images/lycan-5000.png?raw=true' alt='Lectron' class="w-12 h-auto" />
      Shop Now
    </a>
  </td>
  <td class="py-2 px-4 border border-gray-600">Renogy Lycan 5000</td>
  <td class="py-2 px-4 border border-gray-600">$5,000</td>
  <td class="py-2 px-4 border border-gray-600">LiFePO4</td>
  <td class="py-2 px-4 border border-gray-600">3,500 to 80%</td>
  <td class="py-2 px-4 border border-gray-600">4.8 kwh</td>
  <td class="py-2 px-4 border border-gray-600">3.5 KW</td>
  <td class="py-2 px-4 border border-gray-600">7 KW</td>
  <td class="py-2 px-4 border border-gray-600">2.7 hours</td>
</tr>

<!-- Jackery 4000, Explorer 2000+E2000 -->
<tr class="bg-gray-800 hover:bg-gray-700">
  <td class="py-2 px-4 border border-gray-600">
    <a href='https://amzn.to/3QxGw6w' target='_blank' rel='noopener noreferrer'class="hover:text-green-500">
      <img src='https://github.com/Anthonypaige/investnurenergy/blob/main/public/images/product-images/jackery-4000.png?raw=true' alt='Jackerty 4000' class="w-12 h-auto" />
      Shop Now
    </a>
  </td>
  <td class="py-2 px-4 border border-gray-600">Jackery 4000, Explorer 2000+E2000</td>
  <td class="py-2 px-4 border border-gray-600">$3,800</td>
  <td class="py-2 px-4 border border-gray-600">LiFePO4</td>
  <td class="py-2 px-4 border border-gray-600">4,000 to 70%</td>
  <td class="py-2 px-4 border border-gray-600">4.085 kwh</td>
  <td class="py-2 px-4 border border-gray-600">3KW</td>
  <td class="py-2 px-4 border border-gray-600">6 KW</td>
  <td class="py-2 px-4 border border-gray-600">2.3 hours</td>
</tr>

<!-- Jackery 3000 -->
<tr class="bg-gray-800 hover:bg-gray-700">
  <td class="py-2 px-4 border border-gray-600">
    <a href='https://amzn.to/3MiaZ61' target='_blank' rel='noopener noreferrer'class="hover:text-green-500">
      <img src='https://github.com/Anthonypaige/investnurenergy/blob/main/public/images/product-images/jackery-3000.png?raw=true' alt='Jackery 3000' class="w-12 h-auto" />
      Shop Now
    </a>
  </td>
  <td class="py-2 px-4 border border-gray-600">Jackery 3000</td>
  <td class="py-2 px-4 border border-gray-600">$2,800/td>
  <td class="py-2 px-4 border border-gray-600">LiFePO4</td>
  <td class="py-2 px-4 border border-gray-600">4,000 to 70%</td>
  <td class="py-2 px-4 border border-gray-600">4.085 kwh</td>
  <td class="py-2 px-4 border border-gray-600">3KW</td>
  <td class="py-2 px-4 border border-gray-600">6 KW</td>
  <td class="py-2 px-4 border border-gray-600">2.3 hours</td>
</tr>
</tbody>
</table>

<Features2
 title="Features That Vary"
 columns={3}
 items={[
  {
    title: 'Cell Type',
    description: 'The type of battery cells used in the system.',
    icon: 'tabler:cell'
  },
  {
    title: 'Life Cycles',
    description: 'The number of charge cycles the battery can withstand.',
    icon: 'tabler:arrows-diff'
  },
  {
    title: 'Usable Capacity',
    description: 'The amount of energy that can be stored and used.',
    icon: 'tabler:battery-2-filled'
  },
  {
    title: 'Continuous Output',
    description: 'The amount of power the system can output continuously.',
    icon: 'tabler:battery-charging'
  },
  {
    title: 'Surge Power',
    description: 'The maximum power the system can output for short periods',
    icon: 'tabler:bolt'
 },
 {
    title: 'AC Charging Time',
    description: 'The time it takes to fully charge the system using an AC outlet',
    icon: 'tabler:plug'
 },
]}
/>



<script>
  document.addEventListener("DOMContentLoaded", function() {
    $('#comparisonTable').DataTable();
  });
</script>
</Layout>