---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
//import Features2 from '~/components/widgets/Features2.astro';
import Features from '~/components/widgets/Features.astro';
import Button from '~/components/ui/Button.astro';
import EvChargerNote from '~/components/widgets/EvChargerNote.astro';

const metadata = {
  title: 'Smart EV Chargers ',
};


---
   
   <style>
     .checkmark {
    color: green;
    }
     .cross {
    color: red;
    }
  </style>

<Layout metadata={metadata}>

  <Hero actions={[]} videoSrc="/images/ev-charger-video.mp4">
    <Fragment slot="title">
      <div class="text-left text-3xl sm:text-4xl md:text-4xl lg:text-5xl font-bold leading-tight tracking-tighter mb-4 font-heading">
        <div> <span class="text-blue-700"> Smart </span> EV Chargers</div>
          </div>
  </Fragment>
  </Hero>


<EvChargerNote />

<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">


    <Features
    title="How They got their Seat at the Table"
    subtitle="All chargers in this table are Level 2, Energy Star certified, and share these features"
    columns={2}
    items={[
      {
        title: 'Level 2 Charging',
        description: 'Offers faster charging speeds compared to Level 1, typically up to 7.2 kW.',
        icon: 'tabler:recharging'
      },
      {
        title: 'Wi-Fi Connectivity',
        description: 'Enables remote control and monitoring of charging sessions via a mobile app.',
        icon: 'tabler:wifi-2'
      },
      {
        title: 'Energy Star Certified',
        description: 'Meets Energy Star guidelines for energy efficiency and environmental impact.',
        icon: 'tabler:star'
      },
      {
        title: 'Energy Tracking',
        description: 'Provides real-time energy usage data to optimize cost and efficiency.',
        icon: 'tabler:device-analytics'
      },
      {
        title: 'TOU Scheduling',
        description: 'Allows scheduling during off-peak hours for reduced electricity rates.',
        icon: 'tabler:clock-dollar'
      },
      {
        title: 'Safety Certified',
        description: 'Meets UL or ETL safety standards for electrical components and charging.',
        icon: 'tabler:certificate'
      },
    ]}
  />
   
<!-- Responsive Table Wrapper -->
<div class="flex flex-col overflow-x-auto ml-5 mr-5 sm:ml-20 sm:mr-20">
  
  
  <!-- Start of Table -->
  <table id="evsecomparisonTable"class="min-w-full text-xs sm:text-sm md:text-base whitespace-nowrap break-words">
    
  <!-- Table header -->
   <thead class="uppercase tracking-wider sticky top-0 dark:bg-neutral-700 bg-neutral-50 border-t">
  
 

 
  
<!-- Sticky first column with z-index and background color -->
<tr>
<th scope="col" class="sticky left-0 z-10 px-6 py-4 w-1/4 border-x dark:border-neutral-600 bg-green-700">
  Shop Here
  </th>

  
<th scope="col" class="sticky left-0 z-10 px-6 py-4 w-1/4 border-x dark:border-neutral-600 bg-green-700">
EV Charger
</th>

<th scope="col" class="sticky left-0 z-10 px-6 py-4 w-1/4 border-x dark:border-neutral-600 bg-green-700">
Max Amps
</th>

<th scope="col" class="sticky left-0 z-10 px-6 py-4 w-1/4 border-x dark:border-neutral-600 bg-green-700">
Avg Price
</th>

<th scope="col" class="sticky left-0 z-10 px-6 py-4 w-1/4 border-x dark:border-neutral-600 bg-green-700">
Bluetooth
    </th>
    
<th scope="col" class="sticky left-0 z-10 px-6 py-4 w-1/4 border-x dark:border-neutral-600 bg-green-700">
Alexa 
</th>
<th scope="col" class="sticky left-0 z-10 px-6 py-4 w-1/4 border-x dark:border-neutral-600 bg-green-700">
Google  
</th>
<th scope="col" class="sticky left-0 z-10 px-6 py-4 w-1/4 border-x dark:border-neutral-600 bg-green-700">
Network 
</th>
<th scope="col" class="sticky left-0 z-10 px-6 py-4 w-1/4 border-x dark:border-neutral-600 bg-green-700">
Solar 
</th>
<th scope="col" class="sticky left-0 z-10 px-6 py-4 w-1/4 border-x dark:border-neutral-600 bg-green-700">
Chord Mgmt
  </th>
<th scope="col" class="sticky left-0 z-10 px-6 py-4 w-1/4 border-x dark:border-neutral-600 bg-green-700">
Installation
</th>
<th scope="col" class="sticky left-0 z-10 px-6 py-4 w-1/4 border-x dark:border-neutral-600 bg-green-700">
Weather
</th>
  
</tr>
</thead>

  

<!--Start of TABLE BODY -->
<tbody>

  
 
<!-- Emporia 48A Smart Charger -->
<tr class="bg-gray-800 hover:bg-gray-700">
  <td class="sticky left-0 z-10 py-1 px-2 border border-gray-600 flex flex-col items-center justify-center whitespace-nowrap bg-gray-800">
      
    <img src='https://github.com/Anthonypaige/investnurenergy/blob/main/public/images/product-images/emporia-evse.png?raw=true' alt='Emporia 48A Smart Charger' class="w-12 h-auto mb-2" />
    <Button href="https://amzn.to/40fpsoT" variant="primary" target="_blank" text="Shop Now" class="w-5/6 text-sm text-center rounded-full py-1 px-3" />
    </td>
  
    <td class="py-2 px-4 border border-gray-600 text-center break-words ">Emporia  Vue </td>
    <td class="py-2 px-4 border border-gray-600 whitespace-nowrap">48 Amps</td>
    <td class="py-2 px-4 border border-gray-600 whitespace-nowrap">$400</td>
    <td class="py-2 px-4 border border-gray-600 whitespace-nowrap">&#10008</td> <!-----This is Bluetooth----->
    <td class="py-2 px-4 border border-gray-600 whitespace-nowrap">&#10008</td> <!-----This is Amazon----->
    <td class="py-2 px-4 border border-gray-600 whitespace-nowrap">&#10008</td> <!-----This is Google----->
    <td class="py-2 px-4 border border-gray-600 whitespace-nowrap">&#10008</td> <!-----This is Part of a Nationwide charging progrom----->
    <td class="py-2 px-4 border border-gray-600 whitespace-nowrap">&#10004</td> <!-----This is Solar EV Charging----->
    <td class="py-2 px-4 border border-gray-600 whitespace-nowrap">Wall Mount</td>
    <td class="py-2 px-4 border border-gray-600 whitespace-nowrap">Hardwired/Plug-in</td>
    <td class="py-2 px-4 border border-gray-600 whitespace-nowrap">NEMA-4</td>
  </tr>

<!-- ChargePoint 50A  -->
<tr class="bg-gray-800 hover:bg-gray-700">
  
  <td class="sticky left-0 z-10 py-1 px-2 border border-gray-600 flex flex-col items-center justify-center whitespace-nowrap bg-gray-800">
    <img src='https://github.com/Anthonypaige/investnurenergy/blob/main/public/images/product-images/chargepoint-evse.png?raw=true' alt='ChargePoint 50A Smart Charger' class="w-12 h-auto mb-2" />
    <Button href="https://amzn.to/3Rqq2hg" variant="primary" target="_blank" text="Shop Now" class="w-5/6 text-sm text-center rounded-full py-1 px-3" />
    </td>

      <td class="py-2 px-4 border border-gray-600 text-center break-words">ChargePoint </td>
      <td class="py-2 px-4 border border-gray-600 whitespace-nowrap">50 Amps</td>
      <td class="py-2 px-4 border border-gray-600 whitespace-nowrap">$600</td>
      <td class="py-2 px-4 border border-gray-600 whitespace-nowrap">&#10004;</td> <!--This is Bluetooth-->
      <td class="py-2 px-4 border border-gray-600 whitespace-nowrap">&#10004;</td> <!--This is Amazon-->
      <td class="py-2 px-4 border border-gray-600 whitespace-nowrap">&#10004;</td> <!--This is Google-->
      <td class="py-2 px-4 border border-gray-600 whitespace-nowrap">&#10004;</td> <!--This is Part of a Nationwide charging program-->
      <td class="py-2 px-4 border border-gray-600 whitespace-nowrap">&#10008;</td> <!--This is Solar EV Charging-->
      <td class="py-2 px-4 border border-gray-600 whitespace-nowrap">Built in</td>
      <td class="py-2 px-4 border border-gray-600 whitespace-nowrap">Hardwired/Plug-in</td>
      <td class="py-2 px-4 border border-gray-600 whitespace-nowrap">NEMA 3R</td>
    </tr>
    

<!-- JuiceBox 48A  -->
<tr class="bg-gray-800 hover:bg-gray-700">
  
  <td class="sticky left-0 z-10 py-1 px-2 border border-gray-600 flex flex-col items-center justify-center whitespace-nowrap bg-gray-800">
  <img src='https://github.com/Anthonypaige/investnurenergy/blob/main/public/images/product-images/juice-evse.png?raw=true' alt='JuiceBox 40A Smart Charger' class="w-12 h-auto mb-2" />
  <Button href="https://amzn.to/3PIT22G" variant="primary" target="_blank" text="Shop Now" class="w-5/6 text-sm text-center rounded-full py-1 px-3" />
</td>

<td class="py-2 px-4 border border-gray-600 text-center break-words">JuiceBox</td>
<td class="py-2 px-4 border border-gray-600 whitespace-nowrap">48 Amps</td>
<td class="py-2 px-4 border border-gray-600 whitespace-nowrap">$600</td>
<td class="py-2 px-4 border border-gray-600 whitespace-nowrap">&#10004</td> <!-----This is Bluetooth----->
<td class="py-2 px-4 border border-gray-600 whitespace-nowrap">&#10004</td> <!-----This is Amazon----->
<td class="py-2 px-4 border border-gray-600 whitespace-nowrap">&#10004</td> <!-----This is Google----->
<td class="py-2 px-4 border border-gray-600 whitespace-nowrap">&#10004</td> <!-----This is Part of a Nationwide charging progrom----->
<td class="py-2 px-4 border border-gray-600 whitespace-nowrap">&#10008</td> <!-----This is Solar EV Charging----->
<td class="py-2 px-4 border border-gray-600 whitespace-nowrap">Wall Mount</td>
<td class="py-2 px-4 border border-gray-600 whitespace-nowrap">Hardwired/Plug-in</td>
<td class="py-2 px-4 border border-gray-600 whitespace-nowrap">NEMA 4X/IP66</td>
</tr>



<!-- Wallbox Pulsar Plus 48A Smart Charger -->
<tr class="bg-gray-800 hover:bg-gray-700">
  
  <td class="sticky left-0 z-10 py-1 px-2 border border-gray-600 flex flex-col items-center justify-center whitespace-nowrap bg-gray-800">
    <img src='https://github.com/Anthonypaige/investnurenergy/blob/main/public/images/product-images/wallbox-evse.png?raw=true' alt='Wallbox Pulsar Plus 40A Smart Charger' class="w-12 h-auto mb-2" />
    <Button href="https://amzn.to/3PoQpkW" variant="primary" target="_blank" text="Shop Now" class="w-5/6 text-sm text-center rounded-full py-1 px-3" />
  </td>
  <td class="py-2 px-4 border border-gray-600 text-center break-words">Wallbox Pulsar Plus</td>
  <td class="py-2 px-4 border border-gray-600 whitespace-nowrap">48 Amps</td>
  <td class="py-2 px-4 border border-gray-600 whitespace-nowrap">$700</td>
  <td class="py-2 px-4 border border-gray-600 whitespace-nowrap">&#10004</td> <!-----This is Bluetooth----->
  <td class="py-2 px-4 border border-gray-600 whitespace-nowrap">&#10004</td> <!-----This is Amazon----->
  <td class="py-2 px-4 border border-gray-600 whitespace-nowrap">&#10004</td> <!-----This is Google----->
  <td class="py-2 px-4 border border-gray-600 whitespace-nowrap">&#10008</td> <!-----This is Part of a Nationwide charging progrom----->
  <td class="py-2 px-4 border border-gray-600 whitespace-nowrap">&#10004</td> <!-----This is Solar EV Charging----->
  <td class="py-2 px-4 border border-gray-600 whitespace-nowrap">Separate holster</td>
  <td class="py-2 px-4 border border-gray-600 whitespace-nowrap">Hardwired/Plug-in</td>
  <td class="py-2 px-4 border border-gray-600 whitespace-nowrap"> NEMA 4X</td>
</tr>

<!-- Autel MaxiCharger 50A Smart Charger -->
<tr class="bg-gray-800 hover:bg-gray-700">
  <td class="sticky left-0 z-10 py-1 px-2 border border-gray-600 flex flex-col items-center justify-center whitespace-nowrap bg-gray-800">
    <img src='https://github.com/Anthonypaige/investnurenergy/blob/main/public/images/product-images/autel-evse.png?raw=true' alt='Autel 50A Smart Charger' class="w-12 h-auto mb-2" />
    <Button href="https://amzn.to/3RpBs51" variant="primary" target="_blank" text="Shop Now" class="w-5/6 text-sm text-center rounded-full py-1 px-3" />
  </td>

<td class="py-2 px-4 border border-gray-600 text-center break-words">Autel MaxiCharger</td>
<td class="py-2 px-4 border border-gray-600 whitespace-nowrap">50 Amps</td>
<td class="py-2 px-4 border border-gray-600 whitespace-nowrap">$600</td>
<td class="py-2 px-4 border border-gray-600 whitespace-nowrap">&#10004</td> <!-----This is Bluetooth----->
<td class="py-2 px-4 border border-gray-600 whitespace-nowrap">&#10004</td> <!-----This is Amazon----->
<td class="py-2 px-4 border border-gray-600 whitespace-nowrap">&#10004</td> <!-----This is Google----->
<td class="py-2 px-4 border border-gray-600 whitespace-nowrap">&#10008</td> <!-----This is Part of a Nationwide charging progrom----->
<td class="py-2 px-4 border border-gray-600 whitespace-nowrap">&#10008</td> <!-----This is Solar EV Charging----->
<td class="py-2 px-4 border border-gray-600">Separate holster</td>
<td class="py-2 px-4 border border-gray-600">Hardwired</td>
<td class="py-2 px-4 border border-gray-600">NEMA 4X</td>
</tr>

<!-- Electrify America -->
<tr class="bg-gray-800 hover:bg-gray-700">
  
  <td class="sticky left-0 z-10 py-1 px-2 border border-gray-600 flex flex-col items-center justify-center whitespace-nowrap bg-gray-800">
    <img src='https://github.com/Anthonypaige/investnurenergy/blob/main/public/images/product-images/electrify-america-evse.png?raw=true' alt='Electrify America Level 2' class="w-12 h-auto mb-2" />
    <Button href="https://amzn.to/46hAzPR" variant="primary" target="_blank" text="Shop Now" class="w-5/6 text-sm text-center rounded-full py-1 px-3" />
  </td>

  <td class="py-2 px-4 border border-gray-600 text-center break-words">Electrify America</td>
  <td class="py-2 px-4 border border-gray-600 whitespace-nowrap">40 Amps</td>
  <td class="py-2 px-4 border border-gray-600 whitespace-nowrap">$650</td>
  <td class="py-2 px-4 border border-gray-600 whitespace-nowrap">&#10008</td> <!-----This is Bluetooth----->
  <td class="py-2 px-4 border border-gray-600 whitespace-nowrap">&#10008</td> <!-----This is Amazon----->
  <td class="py-2 px-4 border border-gray-600 whitespace-nowrap">&#10008</td> <!-----This is Google----->
  <td class="py-2 px-4 border border-gray-600 whitespace-nowrap">&#10004</td> <!-----This is Part of a Nationwide charging progrom----->
  <td class="py-2 px-4 border border-gray-600 whitespace-nowrap">&#10008</td> <!-----This is Solar EV Charging----->
  <td class="py-2 px-4 border border-gray-600 whitespace-nowrap">Separate holster</td>
  <td class="py-2 px-4 border border-gray-600 whitespace-nowrap">NEMA 14-50 plug</td>
  <td class="py-2 px-4 border border-gray-600 whitespace-nowrap">NEMA 3R</td>
</tr>

</tbody>
</table>
</div>

<script src="https://code.jquery.com/jquery-3.7.0.js" defer></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js" defer></script>

<script defer>
  document.addEventListener("DOMContentLoaded", function() {
    // Initialize DataTables with scrollY
    var table = $('#evsecomparisonTable').DataTable({
      scrollX: true,
      responsive: true,
      scrollY: 450
    });

    // Recalculate column widths
    setTimeout(function() {
      table.columns.adjust().draw();
    }, 0);

    $('#evsecomparisonTable th').on('click', function(e) {
      // Prevent default action and stop propagation
      e.preventDefault();
      e.stopPropagation();
      
      var colIndex = $(this).index();
      
      // Get the current scroll position
      var oldScrollPos = $(window).scrollTop();

      // Order by the selected column and direction
      var isAsc = table.order()[0] && table.order()[0][1] === 'asc';
      table.order([colIndex, isAsc ? 'desc' : 'asc']).draw();

      // Restore the scroll position
      $(window).scrollTop(oldScrollPos);
    });
  });
</script>

<Features
    title="Varying features"
    subtitle="Optional features to consider based on your home setup"
    columns={2}
    items={[
      {
        title: 'Max Power Output',
        description: 'Indicates the chargers max current output. Higher amps mean faster charging.',
        icon: 'tabler:charging-pile'
      },
      {
        title: 'Bluetooth',
        description: 'Features Bluetooth for local control and connectivity options.',
        icon: 'tabler:bluetooth'
      },
      {
        title: 'Chord Management',
        description: 'Offers solutions for organized cable storage and easy access.',
        icon: 'tabler:plug'
      },
      {
        title: 'Installation Options',
        description: 'Specifies plug type or if hardwiring is required for setup.',
        icon: 'tabler:plug-connected'
      },
      {
        title: 'Solar Compatibility',
        description: 'Syncs with solar panels to use excess solar energy for charging.',
        icon: 'tabler:solar-panel-2'
      },
      {
        title: 'Weather Rating',
        description: 'Indicates NEMA rating for outdoor suitability. Higher is better.',
        icon: 'tabler:cloud-storm'
      },
  ]}
/>




</Layout>