---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Button from '~/components/ui/Button.astro';
import '~/assets/styles/comptable.css';
import EvChargerNote from '~/components/widgets/EvChargerNote.astro';

const metadata = {
  title: 'Smart EV Chargers ',
};


---
   
   <style>
     .checkmark {
    color: green;
    }
     .cross {
    color: red;
    }
  </style>

<Layout metadata={metadata}>

  <Hero actions={[]} videoSrc="/images/ev-charger-video.mp4">
    <Fragment slot="title">
      <div class="text-left text-3xl text-blue-800 sm:text-4xl md:text-5xl lg:text-7xl font-bold leading-tight tracking-tighter mb-4 font-heading">

          <div> Smart EV Chargers</div>
          
            </div>
  </Fragment>
  </Hero>



<section class="container mx-auto p-6"></section>




<EvChargerNote />

    <Features2
    title="Features Included"
    subtitle="All chargers in this table are Level 2, Energy Star certified, and share these features"
    columns={3}
    items={[
      {
        title: 'Level 2 Charging',
        description: 'Offers faster charging speeds compared to Level 1, typically up to 7.2 kW.',
        icon: 'tabler:charging-pile'
      },
      {
        title: 'Wi-Fi Connectivity',
        description: 'Enables remote control and monitoring of charging sessions via a mobile app.',
        icon: 'tabler:wifi-2'
      },
      {
        title: 'Energy Star Certified',
        description: 'Meets Energy Star guidelines for energy efficiency and environmental impact.',
        icon: 'tabler:star'
      },
      {
        title: 'Energy Tracking',
        description: 'Provides real-time energy usage data to optimize cost and efficiency.',
        icon: 'tabler:device-analytics'
      },
      {
        title: 'TOU Scheduling',
        description: 'Allows scheduling during off-peak hours for reduced electricity rates.',
        icon: 'tabler:clock-dollar'
      },
      {
        title: 'Safety Certified',
        description: 'Meets UL or ETL safety standards for electrical components and charging.',
        icon: 'tabler:certificate-2'
      },
    ]}
  />
   
<!-- Responsive Table Wrapper -->
<div class="flex flex-col overflow-x-auto ml-5 mr-5 sm:ml-20 sm:mr-20">
  
  
  <!-- Start of Table -->
  <table id="comparisonTable"class="min-w-full text-xs sm:text-sm md:text-base whitespace-nowrap break-words">
    
  <!-- Table header -->
   <thead class="uppercase tracking-wider sticky top-0 dark:bg-neutral-700 bg-neutral-50 border-t">
  
 

 
  
<!-- Sticky first column with z-index and background color -->
<tr>
<th scope="col" class="sticky left-0 z-10 px-6 py-4 w-1/4 border-x dark:border-neutral-600 bg-green-700">
  Shop Here
          <a href="" class="inline">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 320 512"
              class="w-[0.65rem] h-[0.65rem] inline ml-1 text-neutral-500 dark:text-neutral-200 mb-[1px]"
              fill="currentColor"
            >
              {/* Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. */}
              <path d="M137.4 41.4c12.5-12.5 32.8-12.5 45.3 0l128 128c9.2 9.2 11.9 22.9 6.9 34.9s-16.6 19.8-29.6 19.8H32c-12.9 0-24.6-7.8-29.6-19.8s-2.2-25.7 6.9-34.9l128-128zm0 429.3l-128-128c-9.2-9.2-11.9-22.9-6.9-34.9s16.6-19.8 29.6-19.8H288c12.9 0 24.6 7.8 29.6 19.8s2.2 25.7-6.9 34.9l-128 128c-12.5 12.5-32.8 12.5-45.3 0z" />
            </svg>
          </a>
        </th>

<th scope="col" class="sticky left-0 z-10 px-6 py-4 w-1/4 border-x dark:border-neutral-600 bg-green-700">
EV Charger
          <a href="" class="inline">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 320 512"
              class="w-[0.65rem] h-[0.65rem] inline ml-1 text-neutral-500 dark:text-neutral-200 mb-[1px]"
              fill="currentColor"
            >
              {/* Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. */}
              <path d="M137.4 41.4c12.5-12.5 32.8-12.5 45.3 0l128 128c9.2 9.2 11.9 22.9 6.9 34.9s-16.6 19.8-29.6 19.8H32c-12.9 0-24.6-7.8-29.6-19.8s-2.2-25.7 6.9-34.9l128-128zm0 429.3l-128-128c-9.2-9.2-11.9-22.9-6.9-34.9s16.6-19.8 29.6-19.8H288c12.9 0 24.6 7.8 29.6 19.8s2.2 25.7-6.9 34.9l-128 128c-12.5 12.5-32.8 12.5-45.3 0z" />
            </svg>
          </a>
</th>

<th scope="col" class="sticky left-0 z-10 px-6 py-4 w-1/4 border-x dark:border-neutral-600 bg-green-700">
Avg Price
<a href="" class="inline">
<svg
xmlns="http://www.w3.org/2000/svg"
viewBox="0 0 320 512"
class="w-[0.65rem] h-[0.65rem] inline ml-1 text-neutral-500 dark:text-neutral-200 mb-[1px]"
fill="currentColor"
>
{/* Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. */}
<path d="M137.4 41.4c12.5-12.5 32.8-12.5 45.3 0l128 128c9.2 9.2 11.9 22.9 6.9 34.9s-16.6 19.8-29.6 19.8H32c-12.9 0-24.6-7.8-29.6-19.8s-2.2-25.7 6.9-34.9l128-128zm0 429.3l-128-128c-9.2-9.2-11.9-22.9-6.9-34.9s16.6-19.8 29.6-19.8H288c12.9 0 24.6 7.8 29.6 19.8s2.2 25.7-6.9 34.9l-128 128c-12.5 12.5-32.8 12.5-45.3 0z" />
</svg>
</a>
</th>

<th scope="col" class="sticky left-0 z-10 px-6 py-4 w-1/4 border-x dark:border-neutral-600 bg-green-700">
Max Amps
<a href="" class="inline">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 320 512"
              class="w-[0.65rem] h-[0.65rem] inline ml-1 text-neutral-500 dark:text-neutral-200 mb-[1px]"
              fill="currentColor"
            >
              {/* Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. */}
              <path d="M137.4 41.4c12.5-12.5 32.8-12.5 45.3 0l128 128c9.2 9.2 11.9 22.9 6.9 34.9s-16.6 19.8-29.6 19.8H32c-12.9 0-24.6-7.8-29.6-19.8s-2.2-25.7 6.9-34.9l128-128zm0 429.3l-128-128c-9.2-9.2-11.9-22.9-6.9-34.9s16.6-19.8 29.6-19.8H288c12.9 0 24.6 7.8 29.6 19.8s2.2 25.7-6.9 34.9l-128 128c-12.5 12.5-32.8 12.5-45.3 0z" />
            </svg>
          </a>
</th>

<th scope="col" class="sticky left-0 z-10 px-6 py-4 w-1/4 border-x dark:border-neutral-600 bg-green-700">
Wi-Fi
<a href="" class="inline">
      <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 320 512"
      class="w-[0.65rem] h-[0.65rem] inline ml-1 text-neutral-500 dark:text-neutral-200 mb-[1px]"
      fill="currentColor"
      >
      {/* Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. */}
      <path d="M137.4 41.4c12.5-12.5 32.8-12.5 45.3 0l128 128c9.2 9.2 11.9 22.9 6.9 34.9s-16.6 19.8-29.6 19.8H32c-12.9 0-24.6-7.8-29.6-19.8s-2.2-25.7 6.9-34.9l128-128zm0 429.3l-128-128c-9.2-9.2-11.9-22.9-6.9-34.9s16.6-19.8 29.6-19.8H288c12.9 0 24.6 7.8 29.6 19.8s2.2 25.7-6.9 34.9l-128 128c-12.5 12.5-32.8 12.5-45.3 0z" />
      </svg>
      </a>    
    </th>
    
<th scope="col" class="sticky left-0 z-10 px-6 py-4 w-1/4 border-x dark:border-neutral-600 bg-green-700">
Bluetooth
<a href="" class="inline">
    <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 320 512"
    class="w-[0.65rem] h-[0.65rem] inline ml-1 text-neutral-500 dark:text-neutral-200 mb-[1px]"
    fill="currentColor"
    >
    {/* Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. */}
    <path d="M137.4 41.4c12.5-12.5 32.8-12.5 45.3 0l128 128c9.2 9.2 11.9 22.9 6.9 34.9s-16.6 19.8-29.6 19.8H32c-12.9 0-24.6-7.8-29.6-19.8s-2.2-25.7 6.9-34.9l128-128zm0 429.3l-128-128c-9.2-9.2-11.9-22.9-6.9-34.9s16.6-19.8 29.6-19.8H288c12.9 0 24.6 7.8 29.6 19.8s2.2 25.7-6.9 34.9l-128 128c-12.5 12.5-32.8 12.5-45.3 0z" />
    </svg>
    </a>
</th>

<th scope="col" class="sticky left-0 z-10 px-6 py-4 w-1/4 border-x dark:border-neutral-600 bg-green-700">
Chord Mgmt
<a href="" class="inline">
      <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 320 512"
      class="w-[0.65rem] h-[0.65rem] inline ml-1 text-neutral-500 dark:text-neutral-200 mb-[1px]"
      fill="currentColor"
      >
      {/* Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. */}
      <path d="M137.4 41.4c12.5-12.5 32.8-12.5 45.3 0l128 128c9.2 9.2 11.9 22.9 6.9 34.9s-16.6 19.8-29.6 19.8H32c-12.9 0-24.6-7.8-29.6-19.8s-2.2-25.7 6.9-34.9l128-128zm0 429.3l-128-128c-9.2-9.2-11.9-22.9-6.9-34.9s16.6-19.8 29.6-19.8H288c12.9 0 24.6 7.8 29.6 19.8s2.2 25.7-6.9 34.9l-128 128c-12.5 12.5-32.8 12.5-45.3 0z" />
      </svg>
      </a>    
</th>

<th scope="col" class="sticky left-0 z-10 px-6 py-4 w-1/4 border-x dark:border-neutral-600 bg-green-700">
Installation
<a href="" class="inline">
    <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 320 512"
    class="w-[0.65rem] h-[0.65rem] inline ml-1 text-neutral-500 dark:text-neutral-200 mb-[1px]"
    fill="currentColor"
    >
    {/* Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. */}
    <path d="M137.4 41.4c12.5-12.5 32.8-12.5 45.3 0l128 128c9.2 9.2 11.9 22.9 6.9 34.9s-16.6 19.8-29.6 19.8H32c-12.9 0-24.6-7.8-29.6-19.8s-2.2-25.7 6.9-34.9l128-128zm0 429.3l-128-128c-9.2-9.2-11.9-22.9-6.9-34.9s16.6-19.8 29.6-19.8H288c12.9 0 24.6 7.8 29.6 19.8s2.2 25.7-6.9 34.9l-128 128c-12.5 12.5-32.8 12.5-45.3 0z" />
    </svg>
    </a>
  </th>

<th scope="col" class="sticky left-0 z-10 px-6 py-4 w-1/4 border-x dark:border-neutral-600 bg-green-700">
Weather
<a href="" class="inline">
      <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 320 512"
      class="w-[0.65rem] h-[0.65rem] inline ml-1 text-neutral-500 dark:text-neutral-200 mb-[1px]"
      fill="currentColor"
      >
      {/* Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. */}
      <path d="M137.4 41.4c12.5-12.5 32.8-12.5 45.3 0l128 128c9.2 9.2 11.9 22.9 6.9 34.9s-16.6 19.8-29.6 19.8H32c-12.9 0-24.6-7.8-29.6-19.8s-2.2-25.7 6.9-34.9l128-128zm0 429.3l-128-128c-9.2-9.2-11.9-22.9-6.9-34.9s16.6-19.8 29.6-19.8H288c12.9 0 24.6 7.8 29.6 19.8s2.2 25.7-6.9 34.9l-128 128c-12.5 12.5-32.8 12.5-45.3 0z" />
      </svg>
      </a>    
    </th>
  </tr>
  </thead>

  

<!--Start of TABLE BODY -->
<tbody>

  <!-- Autel MaxiCharger 50A Smart Charger -->
<tr class="bg-gray-800 hover:bg-gray-700">
  <td class="sticky left-0 z-10 py-1 px-2 border border-gray-600 flex flex-col items-center justify-center whitespace-nowrap bg-gray-800">
    <img src='https://github.com/Anthonypaige/investnurenergy/blob/main/public/images/product-images/autel-evse.png?raw=true' alt='Autel 50A Smart Charger' class="w-12 h-auto mb-2" />
    <Button href="https://amzn.to/3RpBs51" variant="primary" target="_blank" text="Shop Now" class="w-5/6 text-sm text-center rounded-full py-1 px-3" />
  </td>

<td class="py-2 px-4 border border-gray-600 text-center break-words">Autel MaxiCharger 50A</td>
<td class="py-2 px-4 border border-gray-600">$600</td>
<td class="py-2 px-4 border border-gray-600">50 Amps</td>
<td class="py-2 px-4 border border-gray-600">&#10004</td>
<td class="py-2 px-4 border border-gray-600">&#10004</td>
<td class="py-2 px-4 border border-gray-600">Separate holster</td>
<td class="py-2 px-4 border border-gray-600">Hardwired</td>
<td class="py-2 px-4 border border-gray-600">NEMA 4X</td>
</tr>
  
<!-- Emporia 48A Smart Charger -->
<tr class="bg-gray-800 hover:bg-gray-700">
<td class="sticky left-0 z-10 py-1 px-2 border border-gray-600 flex flex-col items-center justify-center whitespace-nowrap bg-gray-800">
    
  <img src='https://github.com/Anthonypaige/investnurenergy/blob/main/public/images/product-images/emporia-evse.png?raw=true' alt='Emporia 48A Smart Charger' class="w-12 h-auto mb-2" />
  <Button href="https://amzn.to/3EI78La" variant="primary" target="_blank" text="Shop Now" class="w-5/6 text-sm text-center rounded-full py-1 px-3" />
  </td>

  <td class="py-2 px-4 border border-gray-600 text-center break-words ">Emporia  Vue 48A</td>
  <td class="py-2 px-4 border border-gray-600 whitespace-nowrap">$400</td>
  <td class="py-2 px-4 border border-gray-600 whitespace-nowrap">48 Amps</td>
  <td class="py-2 px-4 border border-gray-600 whitespace-nowrap">&#10008</td>
  <td class="py-2 px-4 border border-gray-600 whitespace-nowrap">&#10008</td>
  <td class="py-2 px-4 border border-gray-600 whitespace-nowrap">Wall Mount</td>
  <td class="py-2 px-4 border border-gray-600 whitespace-nowrap">Hardwired/Plug-in</td>
  <td class="py-2 px-4 border border-gray-600 whitespace-nowrap">NEMA-4</td>
</tr>

<!-- ChargePoint 50A Smart Charger -->
<tr class="bg-gray-800 hover:bg-gray-700">
  
  <td class="sticky left-0 z-10 py-1 px-2 border border-gray-600 flex flex-col items-center justify-center whitespace-nowrap bg-gray-800">
    <img src='https://github.com/Anthonypaige/investnurenergy/blob/main/public/images/product-images/autel-evse.png?raw=true' alt='ChargePoint 50A Smart Charger' class="w-12 h-auto mb-2" />
    <Button href="https://amzn.to/3Rqq2hg" variant="primary" target="_blank" text="Shop Now" class="w-5/6 text-sm text-center rounded-full py-1 px-3" />
</td>
  <td class="py-2 px-4 border border-gray-600 text-center break-words ">ChargePoint 50A</td>
  <td class="py-2 px-4 border border-gray-600 whitespace-nowrap">$600</td>
  <td class="py-2 px-4 border border-gray-600 whitespace-nowrap">50 Amps</td>
  <td class="py-2 px-4 border border-gray-600 whitespace-nowrap">&#10004</td>
  <td class="py-2 px-4 border border-gray-600 whitespace-nowrap">&#10004</td>
  <td class="py-2 px-4 border border-gray-600 whitespace-nowrap">Built in</td>
  <td class="py-2 px-4 border border-gray-600 whitespace-nowrap">Hardwired/Plug-in</td>
  <td class="py-2 px-4 border border-gray-600 whitespace-nowrap">NEMA 3R</td>
</tr>

<!-- JuiceBox 40A Smart Charger -->
<tr class="bg-gray-800 hover:bg-gray-700">
  
  <td class="sticky left-0 z-10 py-1 px-2 border border-gray-600 flex flex-col items-center justify-center whitespace-nowrap bg-gray-800">
  <img src='https://github.com/Anthonypaige/investnurenergy/blob/main/public/images/product-images/juice-evse.png?raw=true' alt='JuiceBox 40A Smart Charger' class="w-12 h-auto mb-2" />
  <Button href="https://amzn.to/45VXuR2" variant="primary" target="_blank" text="Shop Now" class="w-5/6 text-sm text-center rounded-full py-1 px-3" />
  </td>

  <td class="py-2 px-4 border border-gray-600 text-center break-words">JuiceBox 40A</td>
  <td class="py-2 px-4 border border-gray-600 whitespace-nowrap">$600</td>
  <td class="py-2 px-4 border border-gray-600 whitespace-nowrap">40 Amps</td>
  <td class="py-2 px-4 border border-gray-600 whitespace-nowrap">&#10004</td>
  <td class="py-2 px-4 border border-gray-600 whitespace-nowrap">&#10004</td>
  <td class="py-2 px-4 border border-gray-600 whitespace-nowrap">Wall Mount</td>
  <td class="py-2 px-4 border border-gray-600 whitespace-nowrap">NEMA 14-50 plug</td>
  <td class="py-2 px-4 border border-gray-600 whitespace-nowrap">NEMA 4X/IP66</td>
</tr>


<!-- Electrify America -->
<tr class="bg-gray-800 hover:bg-gray-700">
  
  <td class="sticky left-0 z-10 py-1 px-2 border border-gray-600 flex flex-col items-center justify-center whitespace-nowrap bg-gray-800">
    <img src='https://github.com/Anthonypaige/investnurenergy/blob/main/public/images/product-images/electrify-america-evse.png?raw=true' alt='Electrify America Level 2' class="w-12 h-auto mb-2" />
    <Button href="https://amzn.to/46hAzPR" variant="primary" target="_blank" text="Shop Now" class="w-5/6 text-sm text-center rounded-full py-1 px-3" />
  </td>

  <td class="py-2 px-4 border border-gray-600 text-center break-words">Electrify America 40A</td>
  <td class="py-2 px-4 border border-gray-600 whitespace-nowrap">$650</td>
  <td class="py-2 px-4 border border-gray-600 whitespace-nowrap">40 Amps</td>
  <td class="py-2 px-4 border border-gray-600 whitespace-nowrap">&#10004</td>
  <td class="py-2 px-4 border border-gray-600 whitespace-nowrap">&#10008</td>
  <td class="py-2 px-4 border border-gray-600 whitespace-nowrap">Separate holster</td>
  <td class="py-2 px-4 border border-gray-600 whitespace-nowrap">NEMA 14-50 plug</td>
  <td class="py-2 px-4 border border-gray-600 whitespace-nowrap">NEMA 3R</td>
</tr>

<!-- Wallbox Pulsar Plus 40A Smart Charger -->
<tr class="bg-gray-800 hover:bg-gray-700">
  
  <td class="sticky left-0 z-10 py-1 px-2 border border-gray-600 flex flex-col items-center justify-center whitespace-nowrap bg-gray-800">
    <img src='https://github.com/Anthonypaige/investnurenergy/blob/main/public/images/product-images/wallbox-evse.png?raw=true' alt='Wallbox Pulsar Plus 40A Smart Charger' class="w-12 h-auto mb-2" />
    <Button href="https://amzn.to/3PoQpkW" variant="primary" target="_blank" text="Shop Now" class="w-5/6 text-sm text-center rounded-full py-1 px-3" />
  </td>
  
  <td class="py-2 px-4 border border-gray-600 text-center break-words">Wallbox Pulsar Plus 40A</td>
  <td class="py-2 px-4 border border-gray-600 whitespace-nowrap">$650</td>
  <td class="py-2 px-4 border border-gray-600 whitespace-nowrap">40 Amps</td>
  <td class="py-2 px-4 border border-gray-600 whitespace-nowrap">&#10004</td>
  <td class="py-2 px-4 border border-gray-600 whitespace-nowrap">&#10004</td>
  <td class="py-2 px-4 border border-gray-600 whitespace-nowrap">Separate holster</td>
  <td class="py-2 px-4 border border-gray-600 whitespace-nowrap">NEMA 14-50 plug</td>
  <td class="py-2 px-4 border border-gray-600 whitespace-nowrap">NEMA-4</td>
</tr>

</tbody>
</table>
</div>

<!-- Your custom script -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js" defer></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js" defer></script>
<script defer>
  document.addEventListener("DOMContentLoaded", function() {
    // Initialize DataTables
    $('#comparisonTable').DataTable({
      responsive: true
    });

    // Prevent any default action that might cause the page to jump when the header is clicked
    $('#comparisonTable').on('click', 'th', function(e) {
      e.preventDefault();
    });
  });
</script>






<Features2
    title="Varying features"
    subtitle="Optional features to consider based on your home setup"
    columns={3}
    items={[
      {
        title: 'Max Power Output',
        description: 'Indicates the chargers max current output. Higher amps mean faster charging.',
        icon: 'tabler:charging-pile'
      },
      {
        title: 'Bluetooth',
        description: 'Features Bluetooth for local control and connectivity options.',
        icon: 'tabler:bluetooth'
      },
      {
        title: 'Chord Management',
        description: 'Offers solutions for organized cable storage and easy access.',
        icon: 'tabler:plug'
      },
      {
        title: 'Installation Options',
        description: 'Specifies plug type or if hardwiring is required for setup.',
        icon: 'tabler:plug-connected'
      },
      {
        title: 'Solar Compatibility',
        description: 'Syncs with solar panels to use excess solar energy for charging.',
        icon: 'tabler:solar-panel-2'
      },
      {
        title: 'Weather Rating',
        description: 'Indicates NEMA rating for outdoor suitability. Higher is better.',
        icon: 'tabler:cloud-storm'
      },
  ]}
/>




</Layout>