---
import Layout from '~/layouts/Layout.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Hero from '~/components/widgets/Hero.astro';

---

<Layout>
  
  <style scoped>
    .bg-gray-800 {
      background-color: #2d3748;
    }
    tr.bg-gray-800:hover {
      background-color: #4A5568; /* or any other color you prefer */
    }
    /* Add any other custom styles here */
  </style>
  
  <section class="container mx-auto p-6">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    
<!-- Hero Widget ******************* -->
<Hero actions={[]}>
  <Fragment slot="title">
    <div style="font-size: 1em; font-weight: bold; margin-bottom: 8px;">Top Smart Thermostats</div>
  </Fragment>
  <Fragment slot="subtitle">
    Cut through the noise with our comparison table, designed to help you find the perfect smart thermostat. We break down key features, compatibility, and pricing to make your choice easier.
  </Fragment>
</Hero>


    
<Features2
title="Features Included"
subtitle="All thermostats in this table are Energy Star certified, Wi-Fi enabled and share these base features"
columns={3}
items={[
{
  title: 'Wi-Fi Enabled',
  description: 'Control your thermostat remotely via smartphone  for added convenience.',
  icon: 'tabler:wifi-2'
},
{
  title: 'Occupancy Sensing',
  description: 'Utilizes sensors and geofencing to reduce HVAC use when home is unoccupied.',
  icon: 'tabler:home-signal'
},
{
  title: 'Customized Scheduling',
  description: 'Set schedules to maximize energy savings with Time-of-Use rates.',
  icon: 'tabler:clock-dollar'
},
{
  title: 'Utility Program Sync',
  description: 'Works with utility programs for peak times and offers manual override.',
  icon: 'tabler:home-link'
},
{
  title: 'HVAC Energy Use Insights',
  description: 'Provides monthly run-time data to understand HVAC energy use.',
  icon: 'tabler:air-conditioning'
},
{
  title: 'Energy Insights',
  description: 'Gives real-time feedback and monthly data for energy-efficient choices.',
  icon: 'tabler:eye-bolt'
}
]}
/>



    <!-- Table -->
 <table id="comparisonTable" class="min-w-full bg-gray-800 text-white border border-gray-600">
  <thead class="bg-green-900 sticky top-0 rounded-t-lg">
    <tr>
      <th class="py-2 px-4 border border-gray-600 bg-green-700 rounded-tl-lg">Shop Here</th>
      <th class="py-2 px-4 border border-gray-600 bg-green-700">Smart Thermostat</th>
      <th class="py-2 px-4 border border-gray-600 bg-green-700">Avg Price</th>
      <th class="py-2 px-4 border border-gray-600 bg-green-700">Profile</th>
      <th class="py-2 px-4 border border-gray-600 bg-green-700">Touchcolor Display</th>
      <th class="py-2 px-4 border border-gray-600 bg-green-700">Smart Home Integration</th>
      <th class="py-2 px-4 border border-gray-600 bg-green-700">Sensor Compatability</th>
      <th class="py-2 px-4 border border-gray-600 bg-green-700">Built-in Extra Sensors</th>
      <th class="py-2 px-4 border border-gray-600 bg-green-700 rounded-tr-lg">Advanced Learning</th>
    </tr>
  </thead>

<!-- Table Body -->
<tbody>
  
  <!-- Ecobee 3 Lite-->
  <tr class="bg-gray-800 hover:bg-gray-700">
    <td class="py-2 px-4 border border-gray-600">
      <a href='https://amzn.to/46Zu8C9' target='_blank' rel='noopener noreferrer'class="hover:text-green-500">
        <img src='https://github.com/Anthonypaige/investnurenergy/blob/main/public/images/product-images/ecobee-3-lite.png?raw=true' alt='Ecobee 3 Lite' class="w-12 h-auto" />
        Shop Here
      </a>
    </td>
    <td class="py-2 px-4 border border-gray-600">Ecobee 3 Lite</td>
    <td class="py-2 px-4 border border-gray-600">$145</td>
    <td class="py-2 px-4 border border-gray-600">Smarter</td>
    <td class="py-2 px-4 border border-gray-600">No</td>
    <td class="py-2 px-4 border border-gray-600">Yes</td>
    <td class="py-2 px-4 border border-gray-600">Yes</td>
    <td class="py-2 px-4 border border-gray-600">Yes</td>
    <td class="py-2 px-4 border border-gray-600">No</td>
  </tr>
  
  <!-- Amazon Smart Thermostat -->
  <tr class="bg-gray-800 hover:bg-gray-700">
  <td class="py-2 px-4 border border-gray-600">
    <a href='https://amzn.to/45MCawo' target='_blank' rel='noopener noreferrer'class="hover:text-green-500">
      <img src='https://github.com/Anthonypaige/investnurenergy/blob/main/public/images/product-images/amazon-smart-thermostat.png?raw=true' alt='Amazon Smart Thermostat' class="w-12 h-auto" />
      Shop Now
    </a>
  </td>
  <td class="py-2 px-4 border border-gray-600">Amazon Smart Thermostat</td>
  <td class="py-2 px-4 border border-gray-600">$90</td>
  <td class="py-2 px-4 border border-gray-600">Smart</td>
  <td class="py-2 px-4 border border-gray-600">No</td>
    <td class="py-2 px-4 border border-gray-600">Yes</td>
    <td class="py-2 px-4 border border-gray-600">No</td>
    <td class="py-2 px-4 border border-gray-600">No</td>
    <td class="py-2 px-4 border border-gray-600">No</td>
</tr>

<!--Ecobee Smart Premium -->
<tr class="bg-gray-800 hover:bg-gray-700">
  <td class="py-2 px-4 border border-gray-600">
    <a href='<a href='https://amzn.to/4705a5e' target='_blank' rel='noopener noreferrer'class="hover:text-green-500">
    <img src='https://github.com/Anthonypaige/investnurenergy/blob/main/public/images/cover-art/THRM-2-cover-art.png?raw=tru' alt='Ecobee Smart Premium' class="w-12 h-auto" />
      Shop Now
    </a>
  </td>
  <td class="py-2 px-4 border border-gray-600">Ecobee Smart Premium</td>
  <td class="py-2 px-4 border border-gray-600">$225</td>
  <td class="py-2 px-4 border border-gray-600">smartest</td>
  <td class="py-2 px-4 border border-gray-600">No</td>
    <td class="py-2 px-4 border border-gray-600">Yes</td>
    <td class="py-2 px-4 border border-gray-600">Yes</td>
    <td class="py-2 px-4 border border-gray-600">Yes</td>
    <td class="py-2 px-4 border border-gray-600">Yes</td>
</tr>

<!-- Honeywell Home T9 -->
<tr class="bg-gray-800 hover:bg-gray-700">
  <td class="py-2 px-4 border border-gray-600">
    <a href='https://amzn.to/407LoSZ' target='_blank' rel='noopener noreferrer'class="hover:text-green-500">
      <img src='https://github.com/Anthonypaige/investnurenergy/blob/main/public/images/product-images/honeywell-t9.png?raw=true' 'alt='Honeywell Home T9' class="w-12 h-auto" />
      Shop Now
    </a>
  </td>
  <td class="py-2 px-4 border border-gray-600">Honeywell Home T9</td>
  <td class="py-2 px-4 border border-gray-600">$145</td>
  <td class="py-2 px-4 border border-gray-600">Smarter</td>
  <td class="py-2 px-4 border border-gray-600">Yes</td>
  <td class="py-2 px-4 border border-gray-600">No</td>
  <td class="py-2 px-4 border border-gray-600">Yes</td>
  <td class="py-2 px-4 border border-gray-600">No</td>
  <td class="py-2 px-4 border border-gray-600">No</td>
</tr>

<!-- Emerson Sensi Touchcolor Display-->
<tr class="bg-gray-800 hover:bg-gray-700">
  <td class="py-2 px-4 border border-gray-600">
    <a href='https://amzn.to/49es8ra' target='_blank' rel='noopener noreferrer'class="hover:text-green-500">
      <img src='https://github.com/Anthonypaige/investnurenergy/blob/main/public/images/product-images/emerson-sensi-touch-color-display.png?raw=true' alt='Emerson Sensi Touchcolor Display' 	class="w-12 h-auto" />
      Shop Here
    </a>
  </td>
  <td class="py-2 px-4 border border-gray-600">Emerson Sensi Touchcolor Display</td>
  <td class="py-2 px-4 border border-gray-600">$125</td>
  <td class="py-2 px-4 border border-gray-600">Smarter</td>
  <td class="py-2 px-4 border border-gray-600">Yes</td>
  <td class="py-2 px-4 border border-gray-600">Yes</td>
  <td class="py-2 px-4 border border-gray-600">No</td>
  <td class="py-2 px-4 border border-gray-600">No</td>
  <td class="py-2 px-4 border border-gray-600">No</td>
</tr>



<!-- Google Nest Learning -->
<tr class="bg-gray-800 hover:bg-gray-700">
  <td class="py-2 px-4 border border-gray-600">
    <a href='https://amzn.to/3tNnwYK' target='_blank' rel='noopener noreferrer'class="hover:text-green-500">
      <img src='https://github.com/Anthonypaige/investnurenergy/blob/main/public/images/product-images/google-nest%20learning.png?raw=true' 'alt='Google Nest Learning' class="w-12 h-auto" />
      Shop Now
    </a>
  </td>
  <td class="py-2 px-4 border border-gray-600">Google Nest Learning</td>
  <td class="py-2 px-4 border border-gray-600">$225</td>
  <td class="py-2 px-4 border border-gray-600">Smartest</td>
  <td class="py-2 px-4 border border-gray-600">No</td>
  <td class="py-2 px-4 border border-gray-600">Yes</td>
  <td class="py-2 px-4 border border-gray-600">Yes</td>
  <td class="py-2 px-4 border border-gray-600">Yes</td>
  <td class="py-2 px-4 border border-gray-600">Yes</td>
</tr>

<!-- Google Nest Smart-->
<tr class="bg-gray-800 hover:bg-gray-700">
  <td class="py-2 px-4 border border-gray-600">
    <a href='https://amzn.to/3tW5ljm' target='_blank' rel='noopener noreferrer'>
      <img src= 'https://github.com/Anthonypaige/investnurenergy/blob/main/public/images/product-images/google-nest-smart.png?raw=true' 'alt='Google Nest Smart' class="w-12 h-auto" />
      Shop Now
    </a>
  </td>
  <td class="py-2 px-4 border border-gray-600">Google Nest Smart</td>
  <td class="py-2 px-4 border border-gray-600">$130</td>
  <td class="py-2 px-4 border border-gray-600">Smarter</td>
  <td class="py-2 px-4 border border-gray-600">No</td>
  <td class="py-2 px-4 border border-gray-600">Yes</td>
  <td class="py-2 px-4 border border-gray-600">No</td>
  <td class="py-2 px-4 border border-gray-600">No</td>
  <td class="py-2 px-4 border border-gray-600">No</td>
</tr>

</tbody>
</table>

<Features2
  title="Varying Features"
  subtitle="Optional features to narrow down your choice based on personal preferences"
  columns={3}
  items={[
  {
    title: 'Profile',
    description: 'Determines the level of intelligence and automation features the thermostat offers.',
    icon: 'tabler:devices-cog'
  },
  {
    title: 'Smart Home Integration',
    description: 'Enables voice control and seamless integration via Bluetooth capabilities.',
    icon: 'tabler:smart-home'
  },
  {
    title: 'Touchscreen Color Display',
    description: 'Offers enhanced visuals with an intuitive navigation experience.',
    icon: 'tabler:eye-heart'
  },
  {
    title: 'Built-In Extra Sensors',
    description: 'Comes with integrated sensors for enhanced functionality and control.',
    icon: 'tabler:cpu-2'
  },
  {
    title: 'Sensor Compatibility',
    description: 'Supports additional hardware like temperature sensors for precise control.',
    icon: 'tabler:link-plus'
  },
  {
    title: 'Advanced Learning',
    description: 'Automatically learns and adapts to your daily temperature preferences.',
    icon: 'tabler:brain'
  },
  ]}
/>



<script>
  document.addEventListener("DOMContentLoaded", function() {
    $('#comparisonTable').DataTable();
  });
</script>
</Layout>
                   