---
import Layout from '~/layouts/PageLayout.astro';
//import Features2 from '~/components/widgets/Features2.astro';
import FeaturedArticles from '~/components/widgets/FeaturedArticles.astro';
import Features from '~/components/widgets/Features.astro';
import Hero from '~/components/widgets/Hero.astro';
import Button from '~/components/ui/Button.astro';
import SmartThermostatNote from '~/components/widgets/SmartThermostatNote.astro';


const metadata = {
  title: 'Top Smart Thermostats',
};

---

<style>
  .checkmark {
 color: green;
 }
  .cross {
 color: red;
 }

 
</style>
 


<Layout metadata={metadata}>


<Hero actions={[]} videoSrc="/images/smart-thermostat-video.mp4">
<Fragment slot="title">
  <div class="text-left text-3xl sm:text-4xl md:text-4xl lg:text-5xl font-bold leading-tight tracking-tighter mb-4 font-heading">
 <div><span class="text-blue-600">Smart </span>Thermostats</div>
</div>
</Fragment>
</Hero>
    
    


    <SmartThermostatNote />  
        
<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">

    
<Features
title="How They got their Seat at the Table"
subtitle="All thermostats in this table are Energy Star certified, Wi-Fi enabled and share these base features"
columns={2}
items={[
{
  title: 'Wi-Fi Enabled',
  description: 'Control your thermostat remotely via smartphone  for added convenience.',
  icon: 'tabler:wifi-2'
},
{
  title: 'Occupancy Sensing',
  description: 'Utilizes sensors and geofencing to reduce HVAC use when home is unoccupied.',
  icon: 'tabler:home-signal'
},
{
  title: 'Customized Scheduling',
  description: 'Set schedules to maximize energy savings with Time-of-Use rates.',
  icon: 'tabler:clock-dollar'
},
{
  title: 'Utility Program Sync',
  description: 'Works with utility programs for peak times and offers manual override.',
  icon: 'tabler:home-link'
},
{
  title: 'HVAC Use Insights',
  description: 'Provides monthly run-time data to understand HVAC energy use and patterns.',
  icon: 'tabler:air-conditioning'
},
{
  title: 'Energy Insights',
  description: 'Gives real-time feedback and monthly data for energy-efficient choices.',
  icon: 'tabler:eye-bolt'
},
]}
/>


<!-- Responsive Table Wrapper -->
<div class="flex flex-col overflow-x-auto ml-5 mr-5 sm:ml-20 sm:mr-20">
  
  
  <!-- Start of Table -->
  <table id="comparisonTable" class="min-w-full text-xs sm:text-sm md:text-base whitespace-nowrap break-words">
  <!-- Table header -->
   <thead class="uppercase tracking-wider sticky top-0 dark:bg-neutral-700 bg-neutral-50 border-t">   
  <!-- Sticky first column with z-index and background color -->
  <tr>
  <th scope="col" class="sticky left-0 z-10 px-6 py-4 w-1/4 border-x dark:border-neutral-600 bg-green-700">
    Shop Here</th>
  <th scope="col" class="sticky left-0 z-10 px-6 py-4 w-1/4 border-x dark:border-neutral-600 bg-green-700">
  Smart Thermostat</th>
  <th scope="col" class="sticky left-0 z-10 px-6 py-4 w-1/4 border-x dark:border-neutral-600 bg-green-700">
  Avg Price</th>
  <th scope="col" class="sticky left-0 z-10 px-6 py-4 w-1/4 border-x dark:border-neutral-600 bg-green-700">
  Profile</th>
  <th scope="col" class="sticky left-0 z-10 px-6 py-4 w-1/4 border-x dark:border-neutral-600 bg-green-700">
  Touch Color</th>
  <th scope="col" class="sticky left-0 z-10 px-6 py-4 w-1/4 border-x dark:border-neutral-600 bg-green-700">
  Smart Home </th>
  <th scope="col" class="sticky left-0 z-10 px-6 py-4 w-1/4 border-x dark:border-neutral-600 bg-green-700">
  Sensor Comp  </th>
  <th scope="col" class="sticky left-0 z-10 px-6 py-4 w-1/4 border-x dark:border-neutral-600 bg-green-700">
  Extra Sens. </th>
  <th scope="col" class="sticky left-0 z-10 px-6 py-4 w-1/4 border-x dark:border-neutral-600 bg-green-700">
  Adv. Learning</th>
    
</tr>
</thead>
  
  <!--Start of TABLE BODY -->
  <tbody>
  
   <!-- Ecobee 3 Lite-->
   <tr class="bg-gray-800 hover:bg-gray-700">
    <td class="sticky left-0 z-10 py-1 px-2 border border-gray-600 flex flex-col items-center justify-center whitespace-nowrap bg-gray-800">
      <img src='https://github.com/Anthonypaige/investnurenergy/blob/main/public/images/product-images/ecobee-3-lite.png?raw=true alt=Ecobee 3 Lite' class="w-12 h-auto mb-2" />
      <Button href="https://amzn.to/46Zu8C9" variant="primary" target="_blank" text="Shop Now" class="w-5/6 text-sm text-center rounded-full py-1 px-3" />
    </td>
  
 <td class="py-2 px-4 border border-gray-600 text-center break-words">Ecobee 3 Lite</td>
 <td class="py-2 px-4 border border-gray-600">$145</td>
 <td class="py-2 px-4 border border-gray-600">Smarter</td>
 <td class="py-2 px-4 border border-gray-600">&#10008</td>
 <td class="py-2 px-4 border border-gray-600">&#10004</td>
 <td class="py-2 px-4 border border-gray-600">&#10004</td>
 <td class="py-2 px-4 border border-gray-600">&#10004</td>
 <td class="py-2 px-4 border border-gray-600">&#10008</td>
  </tr>
    
      <!-- Amazon Smart Thermostat -->
      <tr class="bg-gray-800 hover:bg-gray-700">
        <td class="sticky left-0 z-10 py-1 px-2 border border-gray-600 flex flex-col items-center justify-center whitespace-nowrap bg-gray-800">
        <img src='https://github.com/Anthonypaige/investnurenergy/blob/main/public/images/product-images/amazon-smart-thermostat.png?raw=true' alt='Amazon Smart Thermostat' class="w-12 h-auto mb-2" />
          <Button href="https://amzn.to/45MCawo" variant="primary" target="_blank" text="Shop Now" class="w-5/6 text-sm text-center rounded-full py-1 px-3" />
        </td>
      
     <td class="py-2 px-4 border border-gray-600 text-center break-words">Amazon Smart Thermostat</td>
     <td class="py-2 px-4 border border-gray-600">$90</td>
     <td class="py-2 px-4 border border-gray-600">Smart</td>
     <td class="py-2 px-4 border border-gray-600">&#10008</td>
     <td class="py-2 px-4 border border-gray-600">&#10004</td>
     <td class="py-2 px-4 border border-gray-600">&#10008</td>
     <td class="py-2 px-4 border border-gray-600">&#10008</td>
     <td class="py-2 px-4 border border-gray-600">&#10008</td>
      </tr>
        

<!--Ecobee Smart Premium -->
<tr class="bg-gray-800 hover:bg-gray-700">
  <td class="sticky left-0 z-10 py-1 px-2 border border-gray-600 flex flex-col items-center justify-center whitespace-nowrap bg-gray-800">
  <img src='https://github.com/Anthonypaige/investnurenergy/blob/main/public/images/product-images/ecobee-premium.png?raw=true' alt='Ecobee Smart Premium' class="w-12 h-auto mb-2" />
    <Button href="https://amzn.to/4705a5e" variant="primary" target="_blank" text="Shop Now" class="w-5/6 text-sm text-center rounded-full py-1 px-3" />
  </td>

<td class="py-2 px-4 border border-gray-600 text-center break-words">Ecobee Smart Premium</td>
<td class="py-2 px-4 border border-gray-600">$230</td>
<td class="py-2 px-4 border border-gray-600">Smartest</td>
<td class="py-2 px-4 border border-gray-600">&#10008</td>
<td class="py-2 px-4 border border-gray-600">&#10004</td>
<td class="py-2 px-4 border border-gray-600">&#10004</td>
<td class="py-2 px-4 border border-gray-600">&#10004</td>
<td class="py-2 px-4 border border-gray-600">&#10004</td>
</tr>
  


  

<!-- Honeywell Home T9 -->
<tr class="bg-gray-800 hover:bg-gray-700">
  <td class="sticky left-0 z-10 py-1 px-2 border border-gray-600 flex flex-col items-center justify-center whitespace-nowrap bg-gray-800">
  <img src='https://github.com/Anthonypaige/investnurenergy/blob/main/public/images/product-images/honeywell-t9.png?raw=true' alt='Honeywell Home T9' class="w-12 h-auto mb-2" />
    <Button href="https://amzn.to/407LoSZ" variant="primary" target="_blank" text="Shop Now" class="w-5/6 text-sm text-center rounded-full py-1 px-3" />
  </td>

<td class="py-2 px-4 border border-gray-600 text-center break-words">Honeywell Home T9</td>
<td class="py-2 px-4 border border-gray-600">$145</td>
<td class="py-2 px-4 border border-gray-600">Smarter</td>
<td class="py-2 px-4 border border-gray-600">&#10004</td>
<td class="py-2 px-4 border border-gray-600">&#10008</td>
<td class="py-2 px-4 border border-gray-600">&#10004</td>
<td class="py-2 px-4 border border-gray-600">&#10008</td>
<td class="py-2 px-4 border border-gray-600">&#10008</td>
</tr>
  
<!-- Google Nest Learning -->
<tr class="bg-gray-800 hover:bg-gray-700">
  <td class="sticky left-0 z-10 py-1 px-2 border border-gray-600 flex flex-col items-center justify-center whitespace-nowrap bg-gray-800">
  <img src='https://github.com/Anthonypaige/investnurenergy/blob/main/public/images/product-images/google-nest%20learning.png?raw=true' alt='Google Nest Learning' class="w-12 h-auto mb-2" />
    <Button href="https://amzn.to/3tNnwYK" variant="primary" target="_blank" text="Shop Now" class="w-5/6 text-sm text-center rounded-full py-1 px-3" />
  </td>

<td class="py-2 px-4 border border-gray-600 text-center break-words">Google Nest Learning</td>
<td class="py-2 px-4 border border-gray-600">$225</td>
<td class="py-2 px-4 border border-gray-600">Smartest</td>
<td class="py-2 px-4 border border-gray-600">&#10008</td>
<td class="py-2 px-4 border border-gray-600">&#10004</td>
<td class="py-2 px-4 border border-gray-600">&#10004</td>
<td class="py-2 px-4 border border-gray-600">&#10004</td>
<td class="py-2 px-4 border border-gray-600">&#10004</td>
</tr>
  


<!-- Emerson Sensi Touchcolor Display-->
<tr class="bg-gray-800 hover:bg-gray-700">
  <td class="sticky left-0 z-10 py-1 px-2 border border-gray-600 flex flex-col items-center justify-center whitespace-nowrap bg-gray-800">
  <img src='https://github.com/Anthonypaige/investnurenergy/blob/main/public/images/product-images/emerson-sensi-touch-color-display.png?raw=true' alt='Emerson Sensi Touchcolor Display' class="w-12 h-auto mb-2" />
    <Button href="https://amzn.to/49es8ra" variant="primary" target="_blank" text="Shop Now" class="w-5/6 text-sm text-center rounded-full py-1 px-3" />
  </td>

<td class="py-2 px-4 border border-gray-600 text-center break-words">Emerson Touchcolor Display</td>
<td class="py-2 px-4 border border-gray-600">$105</td>
<td class="py-2 px-4 border border-gray-600">Smarter</td>
<td class="py-2 px-4 border border-gray-600">&#10004</td>
<td class="py-2 px-4 border border-gray-600">&#10004</td>
<td class="py-2 px-4 border border-gray-600">&#10008</td>
<td class="py-2 px-4 border border-gray-600">&#10008</td>
<td class="py-2 px-4 border border-gray-600">&#10008</td>
</tr>


     <!-- Honeywell T5-->
<tr class="bg-gray-800 hover:bg-gray-700">
  <td class="sticky left-0 z-10 py-1 px-2 border border-gray-600 flex flex-col items-center justify-center whitespace-nowrap bg-gray-800">
  <img src='https://github.com/Anthonypaige/investnurenergy/blob/main/public/images/product-images/honeywell-t5.png?raw=true' alt='Honeywell T5' class="w-12 h-auto mb-2" />
  <Button href="https://amzn.to/49C59GG" variant="primary" target="_blank" text="Shop Now" class="w-5/6 text-sm text-center rounded-full py-1 px-3" />
  </td>
    
   <td class="py-2 px-4 border border-gray-600 text-center break-words">Honeywell Home T5</td>
   <td class="py-2 px-4 border border-gray-600">$90</td>
   <td class="py-2 px-4 border border-gray-600">Smart</td>
   <td class="py-2 px-4 border border-gray-600">&#10008</td>
   <td class="py-2 px-4 border border-gray-600">&#10008</td>
   <td class="py-2 px-4 border border-gray-600">&#10008</td>
   <td class="py-2 px-4 border border-gray-600">&#10008</td>
   <td class="py-2 px-4 border border-gray-600">&#10008</td>
    </tr>



</tbody>
</table>


<script src="https://code.jquery.com/jquery-3.7.0.js" defer></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js" defer></script>

<script defer>
  document.addEventListener("DOMContentLoaded", function() {
    // Initialize DataTables with scrollY
    var table = $('#comparisonTable').DataTable({
      scrollX: true,
      responsive: true,
      scrollY: 450
    });

    // Recalculate column widths
    setTimeout(function() {
      table.columns.adjust().draw();
    }, 0);

    $('#comparisonTable th').on('click', function(e) {
      // Prevent default action and stop propagation
      e.preventDefault();
      e.stopPropagation();
      
      var colIndex = $(this).index();
      
      // Get the current scroll position
      var oldScrollPos = $(window).scrollTop();

      // Order by the selected column and direction
      var isAsc = table.order()[0] && table.order()[0][1] === 'asc';
      table.order([colIndex, isAsc ? 'desc' : 'asc']).draw();

      // Restore the scroll position
      $(window).scrollTop(oldScrollPos);
    });
  });
</script>




  <Features
  title="Varying Features"
  subtitle="Optional features to narrow down your choice based on personal preferences"
  columns={2}
  items={[
  {
    title: 'Profile',
    description: 'Determines the level of intelligence and automation features the thermostat offers.',
    icon: 'tabler:devices-cog'
  },
  {
    title: 'Smart Home Integration',
    description: 'Enables voice control and seamless integration via Bluetooth capabilities.',
    icon: 'tabler:smart-home'
  },
  {
    title: 'Touchscreen Color Display',
    description: 'Offers enhanced visuals with an intuitive navigation experience.',
    icon: 'tabler:eye-heart'
  },
  {
    title: 'Built-In Extra Sensors',
    description: 'Comes with integrated sensors for enhanced functionality and control.',
    icon: 'tabler:cpu-2'
  },
  {
    title: 'Sensor Compatibility',
    description: 'Supports additional hardware like temperature sensors for precise control.',
    icon: 'tabler:link-plus'
  },
  {
    title: 'Advanced Learning',
    description: 'Automatically learns and adapts to your daily temperature preferences.',
    icon: 'tabler:brain'
  },
  ]}
/>

  <!-- Featured Articles Widget ******************* -->
  <FeaturedArticles 
    title="Featured Articles" 
    articleSlugs={[
      'iot-is-fueling-smart-energy-devices',
      'smart-thermostat-shopping-guide-what-you-need-to-know',
      'ecobee-smart-thermostats-buying-guide',
      'your-comprehensive-google-nest-buying-guide',
    ]}
  />


</Layout>


