---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Features2 from '~/components/widgets/Features2.astro';
import FeaturedArticles from '~/components/widgets/FeaturedArticles.astro';

const featuredArticleSlugs = ['home-clean-energy-credit-guide', 'alleviating-grid-strain', 'hybrid-wind-solar-systems', 'overview-solar-water-heaters'];

const metadata = {
  title: 'Energy Efficient Rebatespage',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->
  <Hero
  actions={[]}
>
  <Fragment slot="title">
    Energy Efficient Rebates 
  </Fragment>

  <Fragment slot="subtitle">
    There are a number of energy efficient rebates available via the HEEHRA act and through your local utility providers. These rebates have nothing to do with your tax liability. 
  </Fragment>

  <Fragment slot="image">
    <div class="relative h-0 pb-[56.25%]">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/dsTXcSeAZq8"
        title="YouTube video player"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;"
        allowfullscreen
        class="absolute top-0 left-0 w-full h-full"
      >
      </iframe>
    </div>
  </Fragment>
</Hero>

 

  <!-- Featured Articles Widget ******************* -->
<FeaturedArticles 
  title="Feature Articles for Energy Efficient Rebates" 
  articleSlugs={['what-is-HEEHRA?', 'state-local-energy-incentives', 'ev-charger-shopping-guide', 'smart-thermostat-shopping-guide', 'ecobee-smart-thermostat-buying-guide','guide-to-home-energy-monitoring','ductless-mini-split-heat-pump','heat-pump-water-heaters', 'weatherization-energy-efficiency-guide']} 
/>

 <!-- Features2 Widget ************** -->
 <Features2
    title="What is included in the Electrification Rebate Act?"
    subtitle="We offer a wide range of website templates that suit various industries and purposes such as business, portfolio, e-commerce, blog, etc."
    items={[
      {
        title: 'Heat Pumps',
        description:
          'Offer clear instructions on how to download the purchased templates and install them on various website platforms or content management systems.',
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Heat Pump Water Heaters',
        description:
          'Provide interactive demos and previews that allow customers to see how their chosen template will look and function before making a purchase.',
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Weatherization',
        description:
          'Providing customer support for any technical issues related to the templates or their implementation.',
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: 'Heat Pump Clothes Dryer',
        description:
          'Providing customer support for any technical issues related to the templates or their implementation.',
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: 'Weatherization',
        description:
          'Providing customer support for any technical issues related to the templates or their implementation.',
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: 'Electric Stove',
        description:
          'Providing customer support for any technical issues related to the templates or their implementation.',
        icon: 'flat-color-icons:voice-presentation',
      },  
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>


 <!-- Features2 Widget ************** -->
 <Features2
    title="The most common state-level rebates?"
    subtitle="We offer a wide range of website templates that suit various industries and purposes such as business, portfolio, e-commerce, blog, etc."
    items={[
      {
        title: 'Smart Thermostats',
        description:
          'Offer clear instructions on how to download the purchased templates and install them on various website platforms or content management systems.',
        icon: 'flat-color-icons:document',
      },
      {
        title: 'EV Chargers',
        description:
          'Provide interactive demos and previews that allow customers to see how their chosen template will look and function before making a purchase.',
        icon: 'flat-color-icons:template',
      },
      {
        title: 'LED Lighting',
        description:
          'Providing customer support for any technical issues related to the templates or their implementation.',
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: 'Heat Pump Water Heaters',
        description:
          'Providing customer support for any technical issues related to the templates or their implementation.',
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: 'Ductless Mini Splits',
        description:
          'Providing customer support for any technical issues related to the templates or their implementation.',
        icon: 'flat-color-icons:voice-presentation',
      },
      {  
        title: 'Home Energy Monitoring Systems',
        description:
          'Providing customer support for any technical issues related to the templates or their implementation.',
        icon: 'flat-color-icons:voice-presentation',
      },  
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

</Layout>