---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Features2 from '~/components/widgets/Features2.astro';
import FeaturedArticles from '~/components/widgets/FeaturedArticles.astro';
import FAQs from '~/components/widgets/FAQs.astro';

const featuredArticleSlugs = ['home-clean-energy-credit-guide', 'alleviating-grid-strain', 'hybrid-wind-solar-systems', 'overview-solar-water-heaters'];

const metadata = {
  title: 'Home Clean Energy Credit page',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->
  <Hero
  actions={[]}
>
  <Fragment slot="title">
    The Home Clean Energy Credit
  </Fragment>

  <Fragment slot="subtitle">
    
In this era of rising utility costs and dwindling fossil fuels, it's time we take a closer look at our energy choices. The Residential Clean Energy Credit (25D) has given us that opprtunity.
  </Fragment>

  <Fragment slot="image">
    <div class="relative h-0 pb-[56.25%]">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/dsTXcSeAZq8"
        title="YouTube video player"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;"
        allowfullscreen
        class="absolute top-0 left-0 w-full h-full"
      >
      </iframe>
    </div>
  </Fragment>
</Hero>

  <!-- Features2 Widget ************** -->
 <Features2
    title="What is included in the Home Clean Energy Credit?"
    subtitle="The Home Clean Energy Credit was designed for grid independence. It's a combination of elemental forces at play, and modern technology. The more energy you can create and store, the more grid independent you are"
    items={[
      {
        title: 'Solar Energy',
        description:
          'Solar Energy has the potential to completely up-end what we know about power',
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Home Energy Storage',
        description:
          'Home Energy Storage is the most important aspect of the gren transition and grid independence.',
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Geothermal Heat Pumps',
        description:
          'Geothermal heat pumps can last up to 50 years, making them possibly the most profitable choice in your greeen energy transition.',
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: 'Residential Wind Turbines',
        description:
          'Wind turbines offer another source of energy during non-sunny hours that is vital to a true independent electrical system.',
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: 'Solar Water Heaters',
        description:
          'Solar Water Heaters are an eco-friendly alternative to traditional water heaters that boasts a enbergy savings of 50% or more.',
        icon: 'flat-color-icons:voice-presentation',
      },  
      {
        title: 'Stand alone Back-up Batteries ',
        description:
          'Due to our power grid strain, the purchase of stand alone batteries for the purpose of avoding drawing expensive power during peak time is eligible for the 25D credit.',
        icon: 'flat-color-icons:voice-presentation',
      },  
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

<!-- Featured Articles Widget ******************* -->
<FeaturedArticles 
  title="Feature Articles for Home Clean Energy Credit" 
  articleSlugs={['home-clean-energy-credit-guide', 'alleviating-grid-strain', 'hybrid-wind-solar-systems', 'overview-solar-water-heaters', 'what-is-energy-arbitrage','geothermal-heat-pumps-tapping-earths-core','spotlight-on-solar-industry','importance-of-backup-batteries',]} 
/>

  <!-- FAQs Widget ******************* -->
  <FAQs
  title="Frequently Asked Questions"
  items={[
    {
      title: 'What is the Residential Clean Energy Credit for 2023?',
      description:
        'The Residential Clean Energy Credit for 2023 is a federal tax incentive that allows homeowners to claim up to 30% of the cost of installing eligible clean energy systems. This makes renewable energy more accessible and cost-effective.',
    },
    {
      title: 'What Qualifies for the Residential Clean Energy Credit?',
      description:
        'Qualifying technologies include Solar Electric Property, Solar Water Heating Property, Battery Storage Property, Small Wind Energy Property, and Geothermal Heat Pump Property.',
    },
    {
      title: 'What is the Tax Liability Impact of the Residential Clean Energy Credit?',
      description:
        'The credit is non-refundable but can reduce your federal tax liability to zero. It can significantly lower your tax bill.',
    },
    {
      title: 'What is the Rollover Feature for the Residential Clean Energy Credit?',
      description:
        'Unused credit can be rolled over to the following tax year, allowing you to fully benefit from your clean energy investments over time.',
    },
    {
      title: 'Can I Use the Credit for Multiple Properties?',
      description:
        'The credit can be applied to your primary and secondary homes, but rental properties are generally not eligible.',
    },
  ]}
>
  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>
</FAQs>

</Layout>