---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import FeaturedArticles from '~/components/widgets/FeaturedArticles.astro';
import Content from '~/components/widgets/Content.astro';

const metadata = {
  title: 'Home Energy Storage page',
};
---

<Layout metadata={metadata}>

  
 <!-- Hero Widget ******************* -->
 <HeroText
    title="Home Energy Storage"
    subtitle="Achieve grid independence and secure your energy future with advanced home storage solutions."
  />

 <!-- Content Widget **************** -->

 <Content
 isReversed
 items={[
   {
     title: 'Backup Battery',
     description:
       'By sealing gaps and insulating properly, you can significantly reduce energy consumption, lowering utility bills. The average household can save up to $350 per year through proper weatherization..',
   },
   {
     title: 'Energy Arbitrage',
     description:
       'Well-insulated buildings retain a safe indoor temperature for longer in the event of energy disruptions.',
   },
   {
     title: 'Wind or Solar Storage',
     description:
       'Improved indoor air quality by reducing outdoor pollutants benefits those with allergies or respiratory issues.',
   },
   ]}
 image={{
   src: 'https://github.com/Anthonypaige/investnurenergy/blob/main/public/images/page-art/HES-qualify-page-art.png?raw=true',
   alt: 'Qualifications for Battery Storage eligibility ',
 }}
>
 <Fragment slot="content">
   <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">How Home Energy Storage helps you</h3>
    Home Energy Storage is the key to Energy Independence
 </Fragment>

 <Fragment slot="bg">
   <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
 </Fragment>
</Content>

<!-- Featured Articles Widget ******************* -->
<FeaturedArticles 
  title="Featured Home Energy Storage Articles " 
  articleSlugs={['importance-of-backup-batteries','what-is-energy-arbitrage','power-station-comparison-table-decoded','solar-batteries','ecoflow-delta-pro-buying-guide','bluetti-power-station-buying-guide']} 
/>
</Layout>
