---
import Layout from '~/layouts/PageLayout.astro';
import Header from '~/components/widgets/Header.astro';
import Hero from '~/components/widgets/Hero2.astro';
import FeaturedArticles from '~/components/widgets/FeaturedArticles.astro';
import FAQs from '~/components/widgets/FAQs.astro';

const metadata = {
  title: 'Solar tax Incentive page',
};
---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>
  <Fragment slot="header">
    <Header
      position="left"
      links={[
        { text: 'Services', href: '#' },
        { text: 'Features', href: '#' },
        { text: 'About', href: '#' },
      ]}
      actions={[
        {
          text: 'Download',
          href: '#download',
        },
      ]}
      isSticky
      showToggleTheme
    />
  </Fragment>

  
 <!-- Hero Widget ******************* -->
 
 <Hero
 actions={[]}
>
 <Fragment slot="title">
   Solar Tax Incentive 
 </Fragment>

 <Fragment slot="subtitle">
   The Federal Solar Tax Credit is a game-changer. This is the first time we've had control over our energy options 
 </Fragment>

</Hero>

<!-- Featured Articles Widget ******************* -->
<FeaturedArticles 
  title="Feature Articles" 
  articleSlugs={['iot-fueling-smart-energy-devices','guide-to-home-energy-monitoring','emporia-home-energy-monitoring-hems','sense-energy-monitoring-machine-learning']} 
/>

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    items={[
      {
        title: ' What is included in the Federal Solar tax Credit?',
        description:
          'Landing page templates are pre-designed web page layouts that are specifically created to serve as a foundation for building effective landing pages. These templates are designed to capture the attention of visitors and guide them towards a specific action or goal, such as signing up for a newsletter, making a purchase, or downloading a resource.',
      },
      {
        title: 'How do I claim my energy efficiency tax credit?',
        description:
          'Some of the advantages are that they provide a ready-to-use structure,  saving you significant time. Are designed with user-friendliness in mind and provide a cost-effective alternative, saving you money while still delivering a quality result.',
      },
      {
        title: 'How do I know my eligibility for The Energy Efficient Home Improvement Credit?',
        description:
          'Yes, the templates allow you to preview them before making a purchase. There is a "Demo" button associated with each template.',
      },
      {
        title: 'What is the difference between 25C and HEEHRA',
        description:
          'Advanced technical skills are not required to use a template, but having a basic understanding of web navigation and familiarity with using online tools can still be beneficial. If you have more specific customization needs, you might need to consult guides or reach out to customer support for assistance.',
      },
      {
        title: 'What is the annual limit of the 25C?',
        description:
          'No, the template comes with a single-use license, meaning you can use the template on one website or project only. Using the template on additional websites would require purchasing additional licenses.',
      },
      {
        title: 'What if I need help with customization?',
        description:
          "The templates provides a comprehensive step-by-step guide that walk you through the customization process. If you still have doubts, you can reach out to our customer support team. They can answer your questions, provide guidance on customization, and address any issues you're facing.",
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </FAQs>

</Layout>
