/* comptable.css */
.dataTables_wrapper .dataTables_filter input {
  background-color: #333; /* Dark gray background */
  color: white; /* White text */
  border: 1px solid #4d4d4d; /* Slightly lighter gray border for some contrast */
  padding: 8px 16px; /* Increased horizontal padding for a pill shape */
  margin-bottom: 10px;
  width: 100%;
  max-width: 300px; /* Adjust as needed */
  font-size: 16px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  border-radius: 20px; /* Large border radius for pill shape */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition:
    border-color 0.2s,
    box-shadow 0.2s;
}

.dataTables_wrapper .dataTables_filter input::placeholder {
  color: #bbb; /* Lighter gray for placeholder so it's easy to see but still blends in */
  opacity: 1; /* Make sure the placeholder is not semi-transparent */
}

.dataTables_wrapper .dataTables_filter input:focus {
  outline: none;
  border-color: #555;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.dataTables_wrapper .dataTables_filter input:hover {
  border-color: #666; /* A bit darker to distinguish hover state */
}

/* Hide the 'Show Entries' dropdown */
.dataTables_length {
  display: none;
}

