---
import Layout from '~/layouts/PageLayout.astro';
import Features2 from '~/components/widgets/Features2.astro';
import FeaturedArticles from '~/components/widgets/FeaturedArticles.astro';
import Stats from '~/components/widgets/Stats.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import 

const metadata = {
  title: 'Air-Source-Heat Pumps',
};
---

<Layout metadata={metadata}>
  
  <!-- HeroText Widget ******************* -->
  <Hero
  title="Heat Pumps"
  subtitle="Heat Pump technology regulates home climate for heating and cooling, generating up to three times more energy than consumed."
  />

  <AirSourceHeatPumpsNote />

<!-- Content Widget **************** -->
<Content
  class="flex flex-col-reverse md:flex-row"
  isReversed
  items={[
    {
      title: 'Maximize Energy Efficiency with Heat Pumps',
      description:
        'Heat pumps are a game-changer in energy efficiency. They can produce up to three times more heat energy than the electricity consumed, offering you significant savings on your energy bills.',
    },
    {
      title: 'All-Season Climate Control',
      description:
        'Say goodbye to separate heating and cooling systems. Heat pumps offer an all-in-one solution, providing consistent temperature control throughout the year, whether it\'s scorching hot or freezing cold outside.',
    },
    {
      title: 'Lower Your Carbon Footprint',
      description:
        'Heat pumps are designed for efficiency, consuming less electricity than traditional HVAC systems. This reduced energy usage not only saves you money but also contributes to a smaller carbon footprint.',
    },
  ]}
  image={{
    src: 'https://github.com/Anthonypaige/investnurenergy/blob/main/public/images/page-art/HPQ-page-art.png?raw=true',
    alt: 'Heat pump system',
  }}
>
  <Fragment slot="content">
    <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Included in 25C and HEEHRA</h3>
     <!-- Heat pumps are a versatile and efficient choice for home heating and cooling. -->
  </Fragment>

  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>
</Content>


<!-- Content Widget **************** -->

<Features2
  title="Types of Heat Pumps"
  subtitle="Discover the most efficient heat pump solutions for your home."
  columns={3}
  items={[
    {
      title: 'Ducted Split Systems',
      description: 'These are the whole-home systems using existing ductwork most households are used to. They are just 3 times more efficient than our traditional HVAC systems.',
      icon: 'tabler:home',
    },
    {
      title: 'Mini Split Ductless',
      description: 'These systems provide precise, room-by-room climate control, making them a versatile solution or addition for homes with varying temperature needs.',
      icon: 'tabler:air-conditioning',
    },
    {
      title: 'Dual Fuel Systems',
      description: 'Dual Fuel Systems combine air-source and other technologies, like gas furnaces, to automatically switch between energy sources for optimized efficiency.',
      icon: 'tabler:switch-horizontal',
    },
    {
      title: 'Multi-Zone Ductless Mini-Split',
      description: 'Multi-Zone Ductless Mini-Splits allow for independent climate control in multiple rooms, offering flexibility for homes with varying temperature needs.',
      icon: 'tabler:layout-grid',
    },
    {
      title: 'Ducted Packaged System',
      description: 'Ducted Packaged Systems are all-in-one solutions mainly used in commercial settings but can be adapted for residential use with limited indoor space.',
      icon: 'tabler:package',
    },
    {
      title: 'Geothermal Heat Pump',
      description: 'Geothermal Heat Pumps use stable ground temperatures for efficient heating and cooling, offering significant energy cost reductions and eco-benefits.',
      icon: 'tabler:world',
    },    
  ]}
/>




<!-- Heat Pumps (HPQ) Featured Articles Widget -->

<FeaturedArticles 
  title="Featured Articles" 
  articleSlugs={['whats-a-heat-pump-and-why-do-i-need-to-know', 'air-source-heat-pumps-are-changing-the-game', 'whats-a-ductless-mini-split-heat-pump', 'geothermal-heat-pumps-tapping-into-the-earths-core',]} 
/>
<Stats
  title="Air Source Heat Pumps"
  stats={[
    { title: 'Tax Code', amount: '25C' },
    { title: 'Tax Credit', amount: '30%' },
    { title: 'Annual Limit', amount: '$2,000' },
    { title: 'Energy Savings', amount: '40%' },
  ]}
/>
<FAQs
  title="Frequently Asked Questions"
  columns={1}
  items={[
    {
      title: 'What is an Air-Source Heat Pump?',
      description:
        'An air-source heat pump serves as a comprehensive climate control solution. During the hot summer months, it extracts heat from the interior of your home and expels it outside. Conversely, in the winter, it reverses this process by capturing heat from the external air and transferring it into your home, providing a consistent indoor temperature year-round.',
    },
    {
      title: 'What Makes Air-Source Heat Pumps a Good Choice?',
      description:
        'Air-source heat pumps are known for their energy efficiency, which often translates to reduced electricity bills. They are versatile, capable of both heating and cooling your home. This dual functionality makes them a cost-effective and practical option for maintaining indoor comfort throughout the year.',
    },
    {
      title: 'Any Drawbacks to Using Air-Source Heat Pumps?',
      description:
        'While they have been less effective in extremely cold climates, recent technological advancements are enhancing their performance even in such conditions. For those who live in colder areas and are still concerned, dual-source hybrid systems are available, combining the benefits of heat pumps and traditional furnaces.',
    },
    {
      title: 'How Do Ductless Mini-Splits Compare?',
      description: 'Ductless mini-splits are a specialized type of air-source heat pump. They can function as standalone units for individual rooms or be integrated into your existing HVAC system for a more comprehensive solution. Whether you are looking to control the climate in a single room or multiple zones, ductless mini-splits offer precise temperature control without the need for extensive ductwork.',
    },
  ]}
>
  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>
</FAQs>


</Layout>

