---
import Layout from '~/layouts/PageLayout.astro';
import Pricing from '~/components/widgets/Pricing.astro';
import FeaturedArticles from '~/components/widgets/FeaturedArticles.astro';
import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';

const metadata = {
  title: 'Energy Efficient Water Heaters',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero actions={[]}>
    <Fragment slot="title">
      <div style="font-size: 1em; font-weight: bold; margin-bottom: 8px;"><span style="color:#228B22; font-weight: 700;">Energy</span> Efficient Water Heaters</div>
    </Fragment>
  
    <Fragment slot="subtitle">
      With 20% of our average utility bill going to water heating, it's time we consider more energy efficient upgrade options
    </Fragment>
  </Hero>
  
  

    <!-- Content Widget **************** -->
    <Content
    class="flex flex-col-reverse md:flex-row"
    isReversed
    items={[
      {
        title: 'The Solution',
        description:
          'Switch to a modern water heater featuring on-demand heating, solar energy capture, or heat pump technology for substantial energy savings',
      },
      {
        title: 'The Financial Assistance',
        description:
          'Take advantage of federal tax credits and leverage possible state rebates for modern water heater upgrades',
      },
      {
        title: 'The Result',
        description:
          'Use government incentives to fund your upgrade, then enjoy ongoing savings, increased energy efficiency, and greater grid independence',
      },
      ]}
    image={{
      src: 'https://github.com/Anthonypaige/investnurenergy/blob/main/public/images/page-art/WTR-page-art.jpg?raw=true',
      alt: 'hot running shower',
    }}
    >
    <Fragment slot="content">
          <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Efficient Water Heating Solutions,</h3>
          <!-- Make Your Home More Energy-Efficient with the Right Water Heater -->
        </Fragment>
    
        <Fragment slot="bg">
          <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
        </Fragment>
      </Content>



 <Pricing
 title="Average Savings on Water Heater Upgrades"
 subtitle="Discover the unique value propositions of each water heater to find the one that best suits your situation"
 prices={[
   {
     title: 'Heat Pump Water Heaters',
     price: '30-50%',
     period: 'More Energy-Efficient',
     items: [
       {
         description: 'Utilzes Heat Pump Technology',
       },
       {
         description: 'Highly Energy Efficient',
       },
       {
         description: 'Smart Features for easier control',
       },
       {
         description: 'Eligible for state rebates as well',
       },
     ],
     callToAction: {
       target: '_blank',
       text: 'Learn More',
       href: '#',
     },
   },
   {
     title: 'Tankless Water Heaters',
     price: '15-25%',
     period: 'More Energy-Efficient',
     items: [
       {
         description: 'On Demand Hot Water',
       },
       {
         description: 'Energy Efficienct',
       },
       {
         description: 'Space-Saving Design',
       },
       {
         description: 'Lasts 5 years longer than most tanks',
       },
     ],
     callToAction: {
       target: '_blank',
       text: 'Learn More',
       href: '#',
    },
   },
   {
     title: 'Solar Water Heaters',
     price: '50-80%',
     period: 'More Energy-Efficient',
     items: [
       {
         description: 'Utilizes Renewable Energy',
       },
       {
         description: 'Extremely Energy Efficient',
       },
       {
         description: 'Grid Independent',
       },
       {
         description: 'Lasts 5 years longer than most tanks',
       },
     ],
     callToAction: {
       target: '_blank',
       text: 'Learn More',
       href: '#',
     },
   },
 ]}
/>

<!-- Water Heaters (WTR) Featured Articles Widget -->
<FeaturedArticles 
  title="Featured Articles" 
  articleSlugs={[
    'water-heaters-federal-incentives-overview',
    'heat-pump-water-heaters-are-the-model-of-efficiency',
    'solar-water-heaters-are-a-sustainable-solution-for-your-home',
    'tankless-water-heaters-are-compact-efficiency',
  ]}
  />



</Layout>
