---
import { twMerge } from "tailwind-merge";

export interface ComparisonRow {
  
  // Define the shape of your data here
  shopHere: { link: string, imgSrc: string, alt: string },
  chargerName: string,
  price: string,
  maxPowerOutput: string,
  wifi: string,
  bluetooth: string,
  chordManagement: string,
  installation: string,
  outdoorRating: string
}
---

<table id="comparisonTable" class={twMerge('w-full border-collapse text-center font-sans')}>
  <thead>
    <tr class={twMerge('bg-green-500 text-white')}>
      <th class={twMerge('p-3 border border-gray-300')}>Shop Here</th>
      <th class={twMerge('p-3 border border-gray-300')}>Charger Name</th>
      <th class={twMerge('p-3 border border-gray-300')}>Price</th>
      <th class={twMerge('p-3 border border-gray-300')}>Max Power Output (Amps)</th>
      <th class={twMerge('p-3 border border-gray-300')}>Wifi</th>
      <th class={twMerge('p-3 border border-gray-300')}>Bluetooth</th>
      <th class={twMerge('p-3 border border-gray-300')}>Chord Management</th>
      <th class={twMerge('p-3 border border-gray-300')}>Installation</th>
      <th class={twMerge('p-3 border border-gray-300')}>Outdoor Rating</th>
    </tr>
  </thead>
  <tbody>
    <!-- The rows will be populated by JavaScript -->
  </tbody>
</table>
