---
import Layout from '~/layouts/PageLayout.astro';
import Features2 from '~/components/widgets/Features2.astro';
import FeaturedArticles from '~/components/widgets/FeaturedArticles.astro';
import Stats from '~/components/widgets/Stats.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Hero from '~/components/widgets/Hero.astro';
//import CardWidget from '~/components/widgets/CardWidget.astro';
import AirSourceHeatPumpNote from '~/components/notes/AirSourceHeatPumpNote.astro';

const metadata = {
  title: 'Air-Source-Heat Pumps',
};
---

<Layout metadata={metadata}>
  <Hero actions={[]} videoSrc="/images/heat-pump-video.mp4">
    <Fragment slot="title">
      <div class="flex justify-start">
        <div class= "text-3xl text-blue-800 sm:text-3xl md:text-3xl lg:text-5xl font-bold leading-tight tracking-tighter mb-4 font-heading">
          <div> Air Source Heat Pumps </div>
        </div>
      </div>
    </Fragment>
  </Hero>


  <AirSourceHeatPumpNote />

  <section class="container mx-auto p-9"></section>

 

  <Stats
  title="Air Source Heat Pumps"
  stats={[
    { title: 'Tax Code', amount: '25C' },
    { title: 'Tax Credit', amount: '30%' },
    { title: 'Annual Limit', amount: '$2,000' },
    { title: 'Energy Savings', amount: '40%' },
  ]}
/>

<!-- <CardWidget
 
title="Product Cards"
cards={[
{
  title: 'Ecobee Smart Premium',
  imageSrc: 'https://github.com/Anthonypaige/investnurenergy/blob/main/public/images/cover-art/THRM-2-cover-art.png?raw=true',
  topSellingPoints: [
    'Multi-Platform Compatibility',
    'Security & Speaker',
    'Air Quality Monitoring',
    '$40 Smart Sensor Included',
    'Advanced-Learning'
  ],
  avgPrice: '$225',
  callToAction: {
    target: "_blank",
    text: "Shop Amazon",
    href: "https://amzn.to/4705a5e",
  }
},
{
  title: 'Sense Home Energy Monitoring ',
  imageSrc: 'https://github.com/Anthonypaige/investnurenergy/blob/main/public/images/product-images/sense-hems.png?raw=true',
  topSellingPoints: [
    'Real-Time Energy Data',
    'Appliance-Level Monitoring',
    'Bill Tracking and Goals',
    'Machine-Learning Detection',
    'Disaster Avoidance Alerts'
  ],
  avgPrice: '$300',
  callToAction: {
    target: "_blank",
    text: "Shop Amazon",
    href: "/https://amzn.to/3Qau76Y"
  }
},
{
  title: 'Google Nest Learning ',
  imageSrc: 'https://github.com/Anthonypaige/investnurenergy/blob/main/public/images/product-images/google-nest%20learning.png?raw=true',
  topSellingPoints: [
    'Energy-Saving Smarts',
    'HVAC Monitoring',
    'Easy Scheduling',
    'Advanced Learning',
    'Nest Renew Support'
  ],
  avgPrice: '$225',
  callToAction: {
    target: "_blank",
    text: "Shop Amazon",
    href: "https://amzn.to/3tNnwYK"
  },
  },
]}
/> -->

<Features2
  title="Types of Air Source Heat Pumps"
  subtitle="Heat pump solutions for your home."
  columns={2}
  items={[
    {
      title: 'Ducted Split Systems',
      description: 'These are the whole-home systems using existing ductwork most households are used to. They are just 3 times more efficient than our traditional HVAC systems.',
      icon: 'tabler:home',
    },
    {
      title: 'Mini Split Ductless',
      description: 'These systems provide precise, room-by-room climate control, making them a versatile solution or addition for homes with varying temperature needs.',
      icon: 'tabler:air-conditioning',
    },
    {
      title: 'Dual Fuel Systems',
      description: 'Dual Fuel Systems combine air-source and other technologies, like gas furnaces, to automatically switch between energy sources for optimized efficiency.',
      icon: 'tabler:switch-horizontal',
    },
    // {
    //   title: 'Multi-Zone Ductless Mini-Split',
    //   description: 'Multi-Zone Ductless Mini-Splits allow for independent climate control in multiple rooms, offering flexibility for homes with varying temperature needs.',
    //   icon: 'tabler:layout-grid',
    // },
    {
      title: 'Ducted Packaged System',
      description: 'Ducted Packaged Systems are all-in-one solutions mainly used in commercial settings but can be adapted for residential use with limited indoor space.',
      icon: 'tabler:package',
    },
  ]}
/>




<!-- Heat Pumps (HPQ) Featured Articles Widget -->

<FeaturedArticles 
  title="Featured Articles" 
  articleSlugs={['whats-a-heat-pump-and-why-do-i-need-to-know', 'air-source-heat-pumps-are-changing-the-game', 'whats-a-ductless-mini-split-heat-pump', 'geothermal-heat-pumps-tapping-into-the-earths-core',]} 
/>

<FAQs
  title="Frequently Asked Questions"
  columns={1}
  items={[
    {
      title: 'What is an Air-Source Heat Pump?',
      description:
        'An air-source heat pump serves as a comprehensive climate control solution. During the hot summer months, it extracts heat from the interior of your home and expels it outside. Conversely, in the winter, it reverses this process by capturing heat from the external air and transferring it into your home, providing a consistent indoor temperature year-round.',
    },
    {
      title: 'What Makes Air-Source Heat Pumps a Good Choice?',
      description:
        'Air-source heat pumps are known for their energy efficiency, which often translates to reduced electricity bills. They are versatile, capable of both heating and cooling your home. This dual functionality makes them a cost-effective and practical option for maintaining indoor comfort throughout the year.',
    },
    {
      title: 'Any Drawbacks to Using Air-Source Heat Pumps?',
      description:
        'While they have been less effective in extremely cold climates, recent technological advancements are enhancing their performance even in such conditions. For those who live in colder areas and are still concerned, dual-source hybrid systems are available, combining the benefits of heat pumps and traditional furnaces.',
    },
    {
      title: 'How Do Ductless Mini-Splits Compare?',
      description: 'Ductless mini-splits are a specialized type of air-source heat pump. They can function as standalone units for individual rooms or be integrated into your existing HVAC system for a more comprehensive solution. Whether you are looking to control the climate in a single room or multiple zones, ductless mini-splits offer precise temperature control without the need for extensive ductwork.',
    },
  ]}
>
  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>
</FAQs>


</Layout>

