---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Features2 from '~/components/widgets/Features2.astro';
import EnergyEfficientHomeNote from '~/components/notes/EnergyEfficientHomeNote.astro';
import Stats from '~/components/widgets/Stats.astro';
import FeaturedArticles from '~/components/widgets/FeaturedArticles.astro';
import FAQs from '~/components/widgets/FAQs.astro';



const metadata = {
  title: 'Energy Efficient Home Upgrades',
  description: 'Explore the benefits of the Energy Efficient Home Improvement Credit for your home upgrades. Learn how to enhance your living space with eligible improvements like heat pumps and energy efficient water heaters, while taking advantage of significant tax credits.',
  keywords: 'Energy Efficient Home Upgrades, Energy Efficient Home Improvement Credit, home energy tax credits, heat pumps, biomass boilers',
  canonical: 'https://investinyourenergy.com/energy-efficient/energy-efficient-home-upgrades'
};

---

  <Layout metadata={metadata}>


    <Hero actions={[]} videoSrc="/images/energy-efficient-home-upgrades-video.mp4">
      <Fragment slot="title">
        <div class="text-center text-3xl sm:text-3xl md:text-4xl lg:text-5xl font-bold leading-tight tracking-tighter mb-4 font-heading" >
            <div> <span class="text-green-600">Energy</span> Efficient Home Upgrades </div>
          </div>
      </Fragment>
    </Hero> 
    

  <EnergyEfficientHomeNote />

 <!-- Stats Widget ************** -->

 <Stats
 title="Energy Efficient Home Improvement Credit"
 stats={[
   { title: 'Tax Code', amount: '25C' },
   { title: 'Tax Credit', amount: '30%' },
   { title: 'Annual Limit', amount: '$3200' },
 ]}
/>

  <!-- Features2 Widget **************-->
<Features2
title="Most Efficient Home Improvements"
items={[
  {
    title: 'Heat Pumps',
    description: 'Switch to heat pumps for a dual heating and cooling solution that can significantly lower your energy consumption.',
    icon: 'tabler:air-conditioning',  
    limit: 'Up to $2,000',
  },
  {
    title: 'Heat Pump Water Heaters',
    description: 'Invest in heat pump water heaters to achieve hot water efficiency and reduce your monthly utility expenses.',
    icon: 'tabler:droplet-filled', 
    limit: 'Up to $2,000',
  },
  {
    title: 'Biomass Boilers',
    description: 'Opt for biomass boilers that utilize renewable fuels, reducing both your carbon footprint and energy costs.',
    limit: 'Up to $2,000',
    icon: 'tabler:campfire', 
  },
  {
    title: 'Weatherization Items',
    description: 'Enhance your home’s insulation and seal leaks to optimize indoor temperature and reduce energy waste.',
    limit: 'Up to $1,200',
    icon: 'tabler:home-heart', 
  },
  {
    title: 'Electrical Panel Upgrade',
    description: 'Modernize your electrical panel to accommodate energy-efficient appliances and improve electrical safety.',
    limit: 'Up to $600',
    icon: 'tabler:bulb', 
  },
  {
    title: 'Tankless Water Heaters',
    description: 'Adopt tankless water heaters for on-demand hot water, minimizing energy usage and maximizing convenience.',
    limit: 'Up to $600',
    icon: 'tabler:droplet',  
  },
  {
    title: 'Windows and Skylights',
    description: 'Install energy-efficient windows and skylights to enhance natural lighting and thermal insulation.',
    limit: 'Up to $600',
    icon: 'tabler:window', 
  },
  {
    title: 'Exterior Doors',
    description: 'Upgrade to energy-efficient exterior doors to bolster thermal insulation and enhance security.',
    limit: 'Up to $500',
    icon: 'tabler:door', 
  },
  {
    title: 'Home Energy Audit',
    description: 'Conduct a home energy audit to identify areas for improvement and create a roadmap for energy-efficient upgrades.',
    limit: 'Up to $150',
    icon: 'tabler:list-tree',  
  },
]}
/>

  <!-- Featured Articles Widget ******************* -->
  
  <FeaturedArticles 
  title="Featured Articles" 
  articleSlugs={[
    'what-is-the-energy-efficient-home-credit',
    'crafting-an-energy-efficient-strategy',
    'biomass-boilers-explained',
    'iot-is-fueling-smart-energy-devices',
    'whats-an-air-source-heat-pump',
    'whats-a-heat-pump-water-heater',
    'comprehensive-guide-to-weatherization',
    'whats-a-ductless-mini-split-heat-pump',
  ]}  
/>

<FAQs
  title="Frequently Asked Questions"
  columns={1}
  items={[
    {
      title: 'What Is the Annual Limit of 25C?',
      description: 'As of January 1, 2023, the annual limit for the 25C credit is $3,200, a significant increase from the previous lifetime limit of $500. This makes it even more beneficial for homeowners to invest in energy-efficient improvements.'
    },
    {
      title: 'Understanding the Energy Efficient Home Improvement Tax Credit (25C)',
      description: 'The Energy Efficient Home Improvement Tax Credit, commonly known as 25C, is a federal incentive promoting energy-efficient upgrades in homes. This credit aims to encourage homeowners to adopt best energy-efficient upgrades, enhancing overall home energy efficiency.'
    },
    {
      title: 'Eligibility Criteria for Energy Efficient Home Improvements',
      description: 'Qualifying for the 25C credit involves specific improvements, primarily focusing on heating, cooling, and water heating systems, which are major contributors to household utility costs. Eligible upgrades include air-source heat pumps, tankless water heaters, biomass boilers, insulation, energy-efficient windows, and more'
    },
    {
      title: 'Are Home Energy Tax Credits Refundable?',
      description: 'The Energy Efficient Home Improvement Tax Credit offers an annual limit of $3,200. However, it is non-refundable and non-rollover; it is applied to reduce your tax liability for the year. It is essential to understand how this credit impacts your tax obligations or potential refunds.'
    },
    {
      title: 'Tax Credit Eligibility for New Windows and Doors',
      description: 'Yes, under the 25C credit, certain energy-efficient windows and exterior doors qualify for a tax credit. Investing in energy credit new windows and doors not only enhances your energy efficiency but also contributes to a $500 energy tax credit.'
    }
  ]}
/>


</Layout>
