---
import Layout from '~/layouts/PageLayout.astro';
import Pricing from '~/components/widgets/Pricing.astro';
import FeaturedArticles from '~/components/widgets/FeaturedArticles.astro';
import WaterHeatersNote from '~/components/notes/WaterHeatersNote.astro';
import Hero from '~/components/widgets/Hero.astro';

const metadata = {
  title: 'Energy Efficient Water Heaters',
  description: 'Explore the benefits of energy-efficient water heaters at Invest in Your Energy. Learn how upgrading to heat pump, tankless, or solar water heaters can significantly reduce your energy bills and carbon footprint. Find out about the latest in water heating technology, including smart features and design efficiencies, and how you can leverage tax credits and rebates for Explore the benefits of energy-efficient water heaters at Invest in Your Energy. Learn how upgrading to heat pump, tankless, or solar water heaters can significantly reduce your energy bills Find out about the latest in water heating technology, and how you can leverage tax credits and rebates for sustainable home improvements',
  canonical: 'https://investinyourenergy.com/energy-efficient/energy-efficient-water-heaters'
};
---

<Layout metadata={metadata}>

  <Hero actions={[]} videoSrc="/images/water-heater-video.mp4">
    <Fragment slot="title">
      <div class="text-center text-2xl sm:text-2xl md:text-3xl lg:text-5xl font-bold leading-tight tracking-tighter mb-4 font-heading">
      <div> <span class="text-green-600">Energy</span> Efficient Water Heaters </div>
      </div>
    </Fragment>
  </Hero>

  <WaterHeatersNote />

  <Pricing
  title="Average Savings on Water Heater Upgrades"
  subtitle="Discover the unique value propositions of each water heater to find the one that best suits your situation"
  prices={[
    {
      title: 'Heat Pump Water Heaters',
      price: '30-50%',
      period: 'More Energy-Efficient',
      items: [
        {description: 'Utilzes Heat Pump Technology',},
        {description: 'Highly Energy Efficient',},
        {description: 'Smart Features for easier control',},
        {description: 'Eligible for state rebates as well',},
      ],
      callToAction: {
        target: '_blank',
        text: 'Learn More',
        href: '/whats-a-heat-pump-water-heater',
      },
    },
    {
      title: 'Tankless Water Heaters',
      price: '15-25%',
      period: 'More Energy-Efficient',
      items: [
        {description: 'On Demand Hot Water',},
        {description: 'Energy Efficient',},
        {description: 'Space-Saving Design',},
        {description: 'Lasts 5 years longer than most tanks',},
      ],
      callToAction: {
        target: '_blank',
        text: 'Learn More',
        href: '/is-going-tankless-thankful',
     },
    },
    {
      title: 'Solar Water Heaters',
      price: '50-80%',
      period: 'More Energy-Efficient',
      items: [
        {description: 'Utilizes Renewable Energy',},
        {description: 'Extremely Energy Efficient',},
        {description: 'Grid Independent',},
        {description: 'Lasts 5 years longer than most tanks',}
      ],
      callToAction: {
        target: '_blank',
        text: 'Learn More',
        href: '/are-solar-water-heaters-a-thing-now',
      },
    },
  ]}
 />

<!-- Water Heaters (WTR) Featured Articles Widget -->
<FeaturedArticles 
  title="Featured Articles" 
  articleSlugs={[
    'water-heaters-federal-incentives-overview',
    'whats-a-heat-pump-water-heater',
    'are-solar-water-heaters-a-thing-now',
    'is-going-tankless-thankful',
  ]}
  />

</Layout>
