---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Stats from '~/components/widgets/Stats.astro';
import FeaturedArticles from '~/components/widgets/FeaturedArticles.astro';
import FAQs from '~/components/widgets/FAQs.astro';


const metadata = {
  title: 'Energy Efficient Home Upgrades',
};
---

  <Layout metadata={metadata}>
    <Hero actions={[]} videoSrc="/images/energy-efficient-home-upgrades-video.mp4">
      <Fragment slot="title">
        <div class="text-center font-bold lg:text-7xl md:text-6xl sm:text-6xl text-xl mp-20">
            <div> Energy Efficient Home Upgrades </div>
          </div>
      </Fragment>
    </Hero> 
    

  <!-- Features2 Widget **************-->
<Features2
title="Most Efficient Home Improvements"
items={[
  {
    title: 'Heat Pumps',
    description: 'Switch to heat pumps for a dual heating and cooling solution that can significantly lower your energy consumption.',
    icon: 'tabler:air-conditioning',  
    limit: 'Up to $2,000',
  },
  {
    title: 'Heat Pump Water Heaters',
    description: 'Invest in heat pump water heaters to achieve hot water efficiency and reduce your monthly utility expenses.',
    icon: 'tabler:droplet-filled', 
    limit: 'Up to $2,000',
  },
  {
    title: 'Biomass Boilers',
    description: 'Opt for biomass boilers that utilize renewable fuels, reducing both your carbon footprint and energy costs.',
    limit: 'Up to $2,000',
    icon: 'tabler:campfire', 
  },
  {
    title: 'Weatherization Items',
    description: 'Enhance your home’s insulation and seal leaks to optimize indoor temperature and reduce energy waste.',
    limit: 'Up to $1,200',
    icon: 'tabler:home-heart', 
  },
  {
    title: 'Electrical Panel Upgrade',
    description: 'Modernize your electrical panel to accommodate energy-efficient appliances and improve electrical safety.',
    limit: 'Up to $600',
    icon: 'tabler:bulb', 
  },
  {
    title: 'Tankless Water Heaters',
    description: 'Adopt tankless water heaters for on-demand hot water, minimizing energy usage and maximizing convenience.',
    limit: 'Up to $600',
    icon: 'tabler:droplet',  
  },
  {
    title: 'Windows and Skylights',
    description: 'Install energy-efficient windows and skylights to enhance natural lighting and thermal insulation.',
    limit: 'Up to $600',
    icon: 'tabler:window', 
  },
  {
    title: 'Exterior Doors',
    description: 'Upgrade to energy-efficient exterior doors to bolster thermal insulation and enhance security.',
    limit: 'Up to $500',
    icon: 'tabler:door', 
  },
  {
    title: 'Home Energy Audit',
    description: 'Conduct a home energy audit to identify areas for improvement and create a roadmap for energy-efficient upgrades.',
    limit: 'Up to $150',
    icon: 'tabler:list-tree',  
  },
]}
>
<Fragment slot="bg">
  <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
</Fragment>
</Features2>
</div>



  <!-- Featured Articles Widget ******************* -->
  
  <FeaturedArticles 
  title="Featured Articles" 
  articleSlugs={[
    'what-is-the-energy-efficient-home-improvement-credit',
    'crafting-an-energy-efficient-strategy',
    'biomass-boilers-explained',
    'iot-is-fueling-smart-energy-devices',
    'whats-a-heat-pump-and-why-do-i-need-to-know',
    'heat-pump-water-heaters-are-the-model-of-efficiency',
    'a-comprehensive-guide-to-weatherization-and-energy-efficiency',
    'whats-a-ductless-mini-split-heat-pump',

  ]}  
/>


 <!-- Stats Widget ************** -->

 <Stats
 title="Energy Efficient Home Improvement Credit"
 stats={[
   { title: 'Tax Code', amount: '25C' },
   { title: 'Tax Credit', amount: '30%' },
   { title: 'Annual Limit', amount: '$3200' },
 ]}
/>

<FAQs
  title="Frequently asked Questions"
  columns={1}
  items={[
    {
      title: 'What Is the Energy Efficient Home Improvement Tax Credit (25C)?',
      description: '25C is a federal tax credit designed to encourage homeowners to make energy-efficient upgrades, especially in heating and cooling, which accounts for 50% of home energy costs. The credit covers a variety of home improvements, including insulation, windows, heat pumps, and water heaters.'
    },
    {
      title: 'What Is the Annual Limit of 25C?',
      description: 'As of January 1, 2023, the annual limit for the 25C credit is $3,200, a significant increase from the previous lifetime limit of $500. This makes it even more beneficial for homeowners to invest in energy-efficient improvements.'
    },
    {
      title: 'How to Determine 25C Eligibility?',
      description: 'Eligibility for the 25C credit is based on specific energy-efficient upgrades, as outlined by the IRS. Since it is a tax credit, you need sufficient tax liability to claim it. For a personalized assessment, consult our IRA Eligibility Calculator.'
    },    
    {
      title: '25C vs HEEHRA: What Are the Differences?',
      description: 'Both 25C and HEEHRA focus on energy-efficient home improvements, specifically for controlling heating and cooling costs. However, 25C is a federal tax credit, while HEEHRA is a federally approved, state-level rebate program offering point-of-sale rebates for approved low and moderate-income households.'
    },
    {
      title: '25C vs 25D: What Are the Differences?',
      description: 'Both 25C and 25D offer a 30% tax credit, but they target different aspects of home energy. 25C focuses on energy-efficient upgrades and improvements with an annual limit of $3,200 and no rollover option. On the other hand, 25D is geared towards renewable energy systems like solar panels and wind turbines, has no annual limit, and offers a rollover option.'
    }
  ]}
>
  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>
</FAQs>


