---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Stats from '~/components/widgets/Stats.astro';
import FeaturedArticles from '~/components/widgets/FeaturedArticles.astro';
import WeatherizationNote from '~/components/widgets/WeatherizationNote.astro';


const metadata = {
  title: 'Weatherization',
};
---

<Layout metadata={metadata}>
  <Hero actions={[]} videoSrc="/images/weatherization-video.mp4">
    <Fragment slot="title">
      <div class="text-left text-blue-600 text-3xl sm:text-4xl md:text-5xl lg:text-6xl font-bold leading-tight tracking-tighter mb-4 font-heading" style="margin-top: 100px;">
        <div class="inline-block text-right">
          <div>Weatherization</div>
          </div>
      </div>
    </Fragment>
  </Hero>


<section class="container mx-auto p-9"></section>
  
  <WeatherizationNote />
   
  <!-- Stats Widget **************** -->
  <Stats
  title="Weatherization"
  stats={[
    { title: 'Tax Code', amount: '25C' },
    { title: 'Tax Credit', amount: '30%' },
    { title: 'Annual Limit', amount: '$1,200' },
    { title: 'Energy Savings', amount: '20%' },
  ]}
/>

 <!--Featured Articles Widget -->
 <FeaturedArticles 
 title="Featured Articles" 
 articleSlugs={[
   'a-comprehensive-guide-to-weatherization-and-energy-efficiency',
   'easy-diy-insulation-kits-for-home-efficiency',
   'foam-spray-insulation-buying-guide',
   'crafting-an-energy-efficient-strategy',
 ]}  
/>

</Layout>
